<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.collection.dao.warehouse.WarehouseMapper">
    <select id="getMaterialList" parameterType="map" resultType="map">
	    select ctfu.isread,ctmo.orderid,ctmo.companyid,ctmo.orderno,ctmo.organizeid,ctmo.examineuserid,ctmo.createid,ctmo.opinion,ctmo.result,DATE_FORMAT(ctfu.createtime,'%Y-%m-%d %H:%i:%S') as createtime,DATE_FORMAT(ctmo.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,ctmo.updateid,ctmo.status,
	    DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') AS createdate,DATE_FORMAT(ctfu.createtime,'%H:%i') as createhour,ctmo.materialprice,ctfu.forwarduserid,ctmo.maternum,
	    ctuu.realname as createname,ctuu1.realname as examinename
	    from c_t_use_material_order ctmo
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctmo.orderid and resourcetype=3
	    left join c_t_use_userinfo ctuu on ctmo.createid=ctuu.userid
        left join c_t_use_userinfo ctuu1 on ctmo.examineuserid=ctuu1.userid
	    <where>
	        <if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctmo.companyid=#{companyid}</if>
	        <if test="status != null">and ctmo.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctfu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctfu.createtime &lt; #{endtime}</if>
	        and ctmo.delflag=0 and ctfu.delflag=0
	    </where>
	    order by ctfu.createtime desc
	    <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getMaterialListNum" parameterType="map" resultType="int">
	    select count(0) from c_t_use_material_order ctmo
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctmo.orderid and resourcetype=3
	    <where>
			<if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
			<if test="companyid != null and companyid != ''">and ctmo.companyid=#{companyid}</if>
	        <if test="status != null">and ctmo.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctfu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctfu.createtime &lt; #{endtime}</if>
	        <if test="isread != null">and ctfu.isread=#{isread}</if>
	        and ctmo.delflag=0 and ctfu.delflag=0
	    </where>
	</select>
	<!-- 用料单 已处理 列表 -->
	<select id="getMaterialOrderByDate" parameterType="map" resultType="map">
	    select DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') AS createtime,COUNT(0) as count from c_t_use_material_order ctpo
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctpo.orderid and resourcetype=3
		<where>
		    <if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctpo.companyid=#{companyid}</if>
	        <if test="status != null">and ctpo.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctfu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctfu.createtime &lt; #{endtime}</if>
	        and ctpo.delflag=0 and ctfu.delflag=0
	    </where>
	    group by DATE_FORMAT(ctfu.createtime,'%Y-%m-%d')
	    order by DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getMaterialOrderByDateNum" parameterType="map" resultType="int">
	    select count(0) from (
	    select DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') AS createtime,COUNT(0) as count from c_t_use_material_order ctpo
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctpo.orderid and resourcetype=3
		<where>
		    <if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctpo.companyid=#{companyid}</if>
	        <if test="status != null">and ctpo.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctfu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctfu.createtime &lt; #{endtime}</if>
	        <if test="isread != null">and ctfu.isread=#{isread}</if>
	        and ctpo.delflag=0 and ctfu.delflag=0
	    </where>
	    group by DATE_FORMAT(ctfu.createtime,'%Y-%m-%d')
	    )a
	</select>
	
	<select id="getMaterialByDate" parameterType="map" resultType="map">
	    select ctfu.isread,ctmo.orderid,ctmo.companyid,ctmo.orderno,ctmo.organizeid,ctmo.examineuserid,ctmo.createid,ctmo.opinion,ctmo.result,DATE_FORMAT(ctfu.createtime,'%Y-%m-%d %H:%i:%S') as createtime,DATE_FORMAT(ctmo.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,ctmo.updateid,ctmo.status,
	    DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') AS createdate,DATE_FORMAT(ctfu.createtime,'%H:%i') as createhour,ctmo.materialprice,ctfu.forwarduserid,ctmo.maternum,
	    ctuu.realname as createname,ctuu1.realname as examinename
	    from c_t_use_material_order ctmo
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctmo.orderid and resourcetype=3
	    left join c_t_use_userinfo ctuu on ctmo.createid=ctuu.userid
        left join c_t_use_userinfo ctuu1 on ctmo.examineuserid=ctuu1.userid
	    <where>
	        <if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctmo.companyid=#{companyid}</if>
	        <if test="status != null">and ctmo.status=#{status}</if>
	        <if test="createtime != null and createtime != ''">and DATE_FORMAT(ctfu.createtime,'%Y-%m-%d')=#{createtime}</if>
	        and ctmo.delflag=0 and ctfu.delflag=0
	    </where>
	    order by ctfu.createtime desc
	</select>
	
	
	<insert id="insertMaterial" parameterType="map">
	    insert into c_t_use_material_order
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="orderid != null and orderid != ''">orderid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="orderno != null and orderno != ''">orderno,</if>
	        <if test="organizeid != null and organizeid != ''">organizeid,</if>
	        <if test="examineuserid != null and examineuserid != ''">examineuserid,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="opinion != null and opinion != ''">opinion,</if>
	        <if test="result != null">result,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="status != null">status,</if>
	        <if test="materialprice != null">materialprice,</if>
	        <if test="datacode != null and datacode != ''">datacode,</if>
	        <if test="delflag != null">delflag,</if>
	      	<if test="maternum != null">maternum,</if>  
	      	<if test="CCuserids != null and CCuserids != ''">CCuserids,</if>
	      	<if test="CCusernames != null and CCusernames != ''">CCusernames,</if>
	      	<if test="usetime != null and usetime != ''">usetime,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="orderid != null and orderid != ''">#{orderid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="orderno != null and orderno != ''">#{orderno},</if>
	        <if test="organizeid != null and organizeid != ''">#{organizeid},</if>
	        <if test="examineuserid != null and examineuserid != ''">#{examineuserid},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="opinion != null and opinion != ''">#{opinion},</if>
	        <if test="result != null">#{result},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="status != null">#{status},</if>
	        <if test="materialprice != null">#{materialprice},</if>
	        <if test="datacode != null and datacode != ''">#{datacode},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="maternum != null">#{maternum},</if> 
	        <if test="CCuserids != null and CCuserids != ''">#{CCuserids},</if>
	      	<if test="CCusernames != null and CCusernames != ''">#{CCusernames},</if> 
	      	<if test="usetime != null and usetime != ''">#{usetime},</if>
	    </trim>
	</insert>
	<insert id="insertUsedMaterial" parameterType="map">
	   	insert into c_t_use_used_materiel
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="materielid != null and materielid != ''">materielid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="orderid != null and orderid != ''">orderid,</if>
	        <if test="type != null and type != ''">type,</if>
	        <if test="name != null and name != ''">name,</if>
	        <if test="specifications != null and specifications != ''">specifications,</if>
	        <if test="price != null and price != ''">price,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="status != null">status,</if>
	        <if test="num != null">num,</if>
	        <if test="sumprice != null and sumprice != ''">sumprice,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="unit != null and unit != ''">unit,</if>
	        <if test="purchasematerielid != null and purchasematerielid != ''">purchasematerielid,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="materielid != null and materielid != ''">#{materielid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="orderid != null and orderid != ''">#{orderid},</if>
	        <if test="type != null and type != ''">#{type},</if>
	        <if test="name != null and name != ''">#{name},</if>
	        <if test="specifications != null and specifications != ''">#{specifications},</if>
	        <if test="price != null and price != ''">#{price},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="status != null">#{status},</if>
	        <if test="num != null">#{num},</if>
	        <if test="sumprice != null and sumprice != ''">#{sumprice},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="unit != null and unit != ''">#{unit},</if>
	        <if test="purchasematerielid != null and purchasematerielid != ''">#{purchasematerielid},</if>
	    </trim>
	</insert>
	<select id="getMaterialNumByCompany" parameterType="map" resultType="int">
	    select count(0) from c_t_use_material_order
	    <where>
	        <if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
	        and to_days(createtime)=to_days(now())
	    </where>
	</select>
	<select id="getMaterialInfo" parameterType="map" resultType="map">
	    select ctmo.orderid,ctmo.companyid,ctmo.orderno,ctmo.organizeid,ctmo.examineuserid,ctmo.createid,ctmo.opinion,ctmo.result,DATE_FORMAT(ctmo.createtime,'%Y-%m-%d %H:%i:%S') as createtime,DATE_FORMAT(ctmo.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,ctmo.updateid,ctmo.status,
	    ctuu.realname as createname,ctuu1.realname as examinename,ctmo.materialprice,ctuo.organizename,ctmo.maternum,
	    ctuu.headimage as createheadimage,ctuu1.headimage as examineheadimage,ctmo.CCuserids,IFNULL(ctmo.CCusernames,"") AS CCusernames,ctmo.usetime
	    from c_t_use_material_order ctmo
	    left join c_t_use_userinfo ctuu on ctmo.createid=ctuu.userid
	    left join c_t_use_userinfo ctuu1 on ctmo.examineuserid=ctuu1.userid
	    left join c_t_use_organize ctuo on ctmo.organizeid=ctuo.organizeid
	    <where>
	        <if test="orderid != null and orderid != ''">and ctmo.orderid=#{orderid}</if>
	    </where>
	    limit 1
	    <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getUsedMaterialList" parameterType="map" resultType="map">
	   select ctum.materielid,ctum.companyid,ctum.orderid,ctum.type,ctum.name,ifnull(ctum.specifications,"") as specifications
,ctpm.price,ctum.num,ctum.sumprice,ctum.createtime,ctum.updatetime,ctum.updateid,
ctum.status,ctum.unit,ctum.purchasematerielid
	    from c_t_use_used_materiel ctum LEFT JOIN c_t_use_purchase_materiel ctpm on ctum.purchasematerielid=ctpm.materielid
	    <where>
	        <if test="orderid !=null and orderid !=''">and ctum.orderid=#{orderid}</if>
	        and ctum.delflag=0
	    </where>
	</select>
	<update id="updateMaterialOrder" parameterType="map">
	    update c_t_use_material_order
	    <set>
	        <if test="opinion != null and opinion != ''">opinion=#{opinion},</if>
	        <if test="result != null">result=#{result},</if>
	        <if test="status != null">status=#{status},</if>
	        <if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
	        <if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
	    </set>
	    where orderid=#{orderid}
	</update>
	
	
	<select id="getReturnOrderList" parameterType="map" resultType="map">
	    select ctfu.isread,ctro.orderid,ctro.companyid,ctro.orderno,ctro.organizeid,ctro.examineuserid,ctro.createid,ctro.opinion,ctro.result,DATE_FORMAT(ctfu.createtime,'%Y-%m-%d %H:%i:%S') as createtime,DATE_FORMAT(ctro.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,ctro.updateid,ctro.status,
	    DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') AS createdate,DATE_FORMAT(ctfu.createtime,'%H:%i') as createhour,ctro.materialprice,ctro.datacode,ctfu.forwarduserid,ctro.maternum,
	    ctuu.realname as createname,ctuu1.realname as examinename
	    from c_t_use_return_order ctro
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctro.orderid and resourcetype=4
	    left join c_t_use_userinfo ctuu on ctro.createid=ctuu.userid
        left join c_t_use_userinfo ctuu1 on ctro.examineuserid=ctuu1.userid
	    <where>
	        <if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctro.companyid=#{companyid}</if>
	        <if test="status != null">and ctro.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctfu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctfu.createtime &lt; #{endtime}</if>
	        and ctro.delflag=0 and ctfu.delflag=0
	    </where>
	    order by ctfu.createtime desc
	    <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getReturnOrderListNum" parameterType="map" resultType="int">
	    select count(0) from c_t_use_return_order ctro
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctro.orderid and resourcetype=4
	    <where>
			<if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
			<if test="companyid != null and companyid != ''">and ctro.companyid=#{companyid}</if>
	        <if test="status != null">and ctro.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctfu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctfu.createtime &lt; #{endtime}</if>
	        <if test="isread != null">and ctfu.isread=#{isread}</if>
	        and ctro.delflag=0 and ctfu.delflag=0
	    </where>
	</select>
	<!-- 退货单 已处理 列表 -->
	<select id="getReturnOrderByDate" parameterType="map" resultType="map">
	    select DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') AS createtime,COUNT(0) as count from c_t_use_return_order ctpo
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctpo.orderid and resourcetype=4
		<where>
		    <if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctpo.companyid=#{companyid}</if>
	        <if test="status != null">and ctpo.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctfu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctfu.createtime &lt; #{endtime}</if>
	        and ctpo.delflag=0 and ctfu.delflag=0
	    </where>
	    group by DATE_FORMAT(ctfu.createtime,'%Y-%m-%d')
	    order by DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getReturnOrderByDateNum" parameterType="map" resultType="int">
	    select count(0) from (
	    select DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') AS createtime,COUNT(0) as count from c_t_use_return_order ctpo
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctpo.orderid and resourcetype=4
		<where>
		    <if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctpo.companyid=#{companyid}</if>
	        <if test="status != null">and ctpo.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctfu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctfu.createtime &lt; #{endtime}</if>
	        <if test="isread != null">and ctfu.isread=#{isread}</if>
	        and ctpo.delflag=0 and ctfu.delflag=0
	    </where>
	    group by DATE_FORMAT(ctfu.createtime,'%Y-%m-%d')
	    )a
	</select>
	<select id="getReturnByDate" parameterType="map" resultType="map">
	    select ctfu.isread,ctmo.orderid,ctmo.companyid,ctmo.orderno,ctmo.organizeid,ctmo.examineuserid,ctmo.createid,ctmo.opinion,ctmo.result,DATE_FORMAT(ctfu.createtime,'%Y-%m-%d %H:%i:%S') as createtime,DATE_FORMAT(ctmo.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,ctmo.updateid,ctmo.status,
	    DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') AS createdate,DATE_FORMAT(ctfu.createtime,'%H:%i') as createhour,ctmo.materialprice,ctfu.forwarduserid,ctmo.maternum,
	    ctuu.realname as createname,ctuu1.realname as examinename
	    from c_t_use_return_order ctmo
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctmo.orderid and resourcetype=4
	    left join c_t_use_userinfo ctuu on ctmo.createid=ctuu.userid
        left join c_t_use_userinfo ctuu1 on ctmo.examineuserid=ctuu1.userid
	    <where>
	        <if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctmo.companyid=#{companyid}</if>
	        <if test="status != null">and ctmo.status=#{status}</if>
	        <if test="createtime != null and createtime != ''">and DATE_FORMAT(ctfu.createtime,'%Y-%m-%d')=#{createtime}</if>
	        and ctmo.delflag=0 and ctfu.delflag=0
	    </where>
	</select>
	
	
	<select id="getReturnNumByCompany" parameterType="map" resultType="int">
	    select count(0) from c_t_use_return_order
	    <where>
	        <if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
	        and to_days(createtime)=to_days(now())
	    </where>
	</select>
	
	<insert id="insertReturn" parameterType="map">
	    insert into c_t_use_return_order
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="orderid != null and orderid != ''">orderid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="orderno != null and orderno != ''">orderno,</if>
	        <if test="organizeid != null and organizeid != ''">organizeid,</if>
	        <if test="examineuserid != null and examineuserid != ''">examineuserid,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="opinion != null and opinion != ''">opinion,</if>
	        <if test="result != null">result,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="status != null">status,</if>
	        <if test="materialprice != null">materialprice,</if>
	        <if test="datacode != null and datacode != ''">datacode,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="maternum != null">maternum,</if>
	        <if test="CCuserids != null and CCuserids != ''">CCuserids,</if>
	        <if test="CCusernames != null and CCusernames != ''">CCusernames,</if>  
	        <if test="returntime != null and returntime != ''">returntime,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="orderid != null and orderid != ''">#{orderid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="orderno != null and orderno != ''">#{orderno},</if>
	        <if test="organizeid != null and organizeid != ''">#{organizeid},</if>
	        <if test="examineuserid != null and examineuserid != ''">#{examineuserid},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="opinion != null and opinion != ''">#{opinion},</if>
	        <if test="result != null">#{result},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="status != null">#{status},</if>
	        <if test="materialprice != null">#{materialprice},</if>
	        <if test="datacode != null and datacode != ''">#{datacode},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="maternum != null">#{maternum},</if>
	        <if test="CCuserids != null and CCuserids != ''">#{CCuserids},</if>
	        <if test="CCusernames != null and CCusernames != ''">#{CCusernames},</if>  
	        <if test="returntime != null and returntime != ''">#{returntime},</if>
	    </trim>
	</insert>
	<insert id="insertReturnMaterial" parameterType="map">
	   	insert into c_t_use_return_materiel
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="materielid != null and materielid != ''">materielid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="orderid != null and orderid != ''">orderid,</if>
	        <if test="type != null and type != ''">type,</if>
	        <if test="name != null and name != ''">name,</if>
	        <if test="specifications != null and specifications != ''">specifications,</if>
	        <if test="price != null and price != ''">price,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="status != null">status,</if>
	        <if test="num != null">num,</if>
	        <if test="sumprice != null and sumprice != ''">sumprice,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="unit != null and unit != ''">unit,</if>
	        <if test="purchasematerielid != null and purchasematerielid != ''">purchasematerielid,</if>
	        <if test="sumnum != null and sumnum != ''">sumnum,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="materielid != null and materielid != ''">#{materielid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="orderid != null and orderid != ''">#{orderid},</if>
	        <if test="type != null and type != ''">#{type},</if>
	        <if test="name != null and name != ''">#{name},</if>
	        <if test="specifications != null and specifications != ''">#{specifications},</if>
	        <if test="price != null and price != ''">#{price},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="status != null">#{status},</if>
	        <if test="num != null">#{num},</if>
	        <if test="sumprice != null and sumprice != ''">#{sumprice},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="unit != null and unit != ''">#{unit},</if>
	        <if test="purchasematerielid != null and purchasematerielid != ''">#{purchasematerielid},</if>
	        <if test="sumnum != null and sumnum != ''">#{sumnum},</if>
	    </trim>
	</insert>
	<select id="getReturnInfo" parameterType="map" resultType="map">
	    select ctro.orderid,ctro.companyid,ctro.orderno,ctro.organizeid,ctro.examineuserid,ctro.createid,ctro.opinion,ctro.result,DATE_FORMAT(ctro.createtime,'%Y-%m-%d %H:%i:%S') as createtime,DATE_FORMAT(ctro.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,ctro.updateid,ctro.status,
	    ctuu.realname as createname,ctuu.headimage as createheadimage,ctuu1.headimage as examineheadimage,ctuu1.realname as examinename,ctro.materialprice,
	    ctuo.organizename,ctro.maternum,ctro.CCuserids,IFNULL(ctro.CCusernames,"") AS CCusernames,ctro.returntime
	    from c_t_use_return_order ctro
	    left join c_t_use_userinfo ctuu on ctro.createid=ctuu.userid
	    left join c_t_use_userinfo ctuu1 on ctro.examineuserid=ctuu1.userid
	    left join c_t_use_organize ctuo on ctro.organizeid=ctuo.organizeid
	    <where>
	        <if test="orderid != null and orderid != ''">and ctro.orderid=#{orderid}</if>
	    </where>
	    limit 1
	    <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getReturnMaterialList" parameterType="map" resultType="map">
	    select ctrm.materielid,ctrm.companyid,ctrm.orderid,ctrm.type,ctrm.name,ifnull(ctrm.specifications,"") as specifications,

ctpm.price,ctrm.num,ctrm.sumprice,ctrm.sumnum,DATE_FORMAT(ctrm.createtime,'%Y-%m-%d %H:%i:%S') as createtime,DATE_FORMAT(ctrm.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,

ctrm.updateid,ctrm.status,ctrm.unit,ctrm.purchasematerielid
	    from c_t_use_return_materiel ctrm LEFT JOIN c_t_use_purchase_materiel ctpm on ctrm.purchasematerielid=ctpm.materielid
	    <where>
	        <if test="orderid !=null and orderid !=''">and ctrm.orderid=#{orderid}</if>
	        and ctrm.delflag=0
	    </where>
	</select>
	<update id="updateReturnOrder" parameterType="map">
	    update c_t_use_return_order
	    <set>
	        <if test="opinion != null and opinion != ''">opinion=#{opinion},</if>
	        <if test="result != null">result=#{result},</if>
	        <if test="status != null">status=#{status},</if>
	        <if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
	        <if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
	    </set>
	    where orderid=#{orderid}
	</update>
	
	
	<select id="getReportlossOrderList" parameterType="map" resultType="map">
	    select ctfu.isread,ctro.orderid,ctro.companyid,ctro.orderno,ctro.organizeid,ctro.examineuserid,ctro.createid,ctro.opinion,ctro.result,DATE_FORMAT(ctfu.createtime,'%Y-%m-%d %H:%i:%S') as createtime,DATE_FORMAT(ctro.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,ctro.updateid,ctro.status,
	    DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') AS createdate,DATE_FORMAT(ctfu.createtime,'%H:%i') as createhour,ctro.materialprice,ctro.datacode,ctfu.forwarduserid,ctro.maternum,
	    ctuu.realname as createname,ctuu1.realname as examinename
	    from c_t_use_reportloss_order ctro
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctro.orderid and resourcetype=5
	    left join c_t_use_userinfo ctuu on ctro.createid=ctuu.userid
        left join c_t_use_userinfo ctuu1 on ctro.examineuserid=ctuu1.userid
	    <where>
	        <if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctro.companyid=#{companyid}</if>
	        <if test="status != null">and ctro.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctfu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctfu.createtime &lt; #{endtime}</if>
	        and ctro.delflag=0 and ctfu.delflag=0
	    </where>
	    order by ctfu.createtime desc
	    <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getReportlossOrderListNum" parameterType="map" resultType="int">
	    select count(0) from c_t_use_reportloss_order ctro
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctro.orderid and resourcetype=5
	    <where>
			<if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
			<if test="companyid != null and companyid != ''">and ctro.companyid=#{companyid}</if>
	        <if test="status != null">and ctro.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctfu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctfu.createtime &lt; #{endtime}</if>
	        <if test="isread != null">and ctfu.isread=#{isread}</if>
	        and ctro.delflag=0 and ctfu.delflag=0
	    </where>
	</select>
	<!-- 报损单 已处理 列表 -->
	<select id="getReportlossOrderByDate" parameterType="map" resultType="map">
	    select DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') AS createtime,COUNT(0) as count from c_t_use_reportloss_order ctpo
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctpo.orderid and resourcetype=5
		<where>
		    <if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctpo.companyid=#{companyid}</if>
	        <if test="status != null">and ctpo.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctfu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctfu.createtime &lt; #{endtime}</if>
	        and ctpo.delflag=0 and ctfu.delflag=0
	    </where>
	    group by DATE_FORMAT(ctfu.createtime,'%Y-%m-%d')
	    order by DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getReportlossOrderByDateNum" parameterType="map" resultType="int">
	    select count(0) from (
	    select DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') AS createtime,COUNT(0) as count from c_t_use_reportloss_order ctpo
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctpo.orderid and resourcetype=5
		<where>
		    <if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctpo.companyid=#{companyid}</if>
	        <if test="status != null">and ctpo.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctfu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctfu.createtime &lt; #{endtime}</if>
	        <if test="isread != null">and ctfu.isread=#{isread}</if>
	        and ctpo.delflag=0 and ctfu.delflag=0
	    </where>
	    group by DATE_FORMAT(ctfu.createtime,'%Y-%m-%d')
	    )a
	</select>
	<select id="getReportlossByDate" parameterType="map" resultType="map">
	    select ctfu.isread,ctmo.orderid,ctmo.companyid,ctmo.orderno,ctmo.organizeid,ctmo.examineuserid,ctmo.createid,ctmo.opinion,ctmo.result,DATE_FORMAT(ctfu.createtime,'%Y-%m-%d %H:%i:%S') as createtime,DATE_FORMAT(ctmo.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,ctmo.updateid,ctmo.status,
	    DATE_FORMAT(ctfu.createtime,'%Y-%m-%d') AS createdate,DATE_FORMAT(ctfu.createtime,'%H:%i') as createhour,ctmo.materialprice,ctfu.forwarduserid,ctmo.maternum,
	    ctuu.realname as createname,ctuu1.realname as examinename
	    from c_t_use_reportloss_order ctmo
	    left join c_t_use_forward_user ctfu on ctfu.resourceid=ctmo.orderid and resourcetype=5
	    left join c_t_use_userinfo ctuu on ctmo.createid=ctuu.userid
        left join c_t_use_userinfo ctuu1 on ctmo.examineuserid=ctuu1.userid
	    <where>
	        <if test="userid != null and userid != ''">and ctfu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctmo.companyid=#{companyid}</if>
	        <if test="status != null">and ctmo.status=#{status}</if>
	        <if test="createtime != null and createtime != ''">and DATE_FORMAT(ctfu.createtime,'%Y-%m-%d')=#{createtime}</if>
	        and ctmo.delflag=0 and ctfu.delflag=0
	    </where>
	</select>
	
	
	<select id="getReportlossNumByCompany" parameterType="map" resultType="int">
	    select count(0) from c_t_use_reportloss_order
	    <where>
	        <if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
	        and to_days(createtime)=to_days(now())
	    </where>
	</select>
	
	<insert id="insertReportloss" parameterType="map">
	    insert into c_t_use_reportloss_order
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="orderid != null and orderid != ''">orderid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="orderno != null and orderno != ''">orderno,</if>
	        <if test="organizeid != null and organizeid != ''">organizeid,</if>
	        <if test="examineuserid != null and examineuserid != ''">examineuserid,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="opinion != null and opinion != ''">opinion,</if>
	        <if test="result != null">result,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="status != null">status,</if>
	        <if test="materialprice != null">materialprice,</if>
	        <if test="datacode != null and datacode != ''">datacode,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="maternum != null">maternum,</if>
	        <if test="CCuserids != null and CCuserids != ''">CCuserids,</if>
	        <if test="CCusernames != null and CCusernames != ''">CCusernames,</if>
	        <if test="reportlosstime != null and reportlosstime != ''">reportlosstime,</if>  
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="orderid != null and orderid != ''">#{orderid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="orderno != null and orderno != ''">#{orderno},</if>
	        <if test="organizeid != null and organizeid != ''">#{organizeid},</if>
	        <if test="examineuserid != null and examineuserid != ''">#{examineuserid},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="opinion != null and opinion != ''">#{opinion},</if>
	        <if test="result != null">#{result},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="status != null">#{status},</if>
	        <if test="materialprice != null">#{materialprice},</if>
	        <if test="datacode != null and datacode != ''">#{datacode},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="maternum != null">#{maternum},</if>  
	        <if test="CCuserids != null and CCuserids != ''">#{CCuserids},</if>
	        <if test="CCusernames != null and CCusernames != ''">#{CCusernames},</if>
	        <if test="reportlosstime != null and reportlosstime != ''">#{reportlosstime},</if>
	    </trim>
	</insert>
	<insert id="insertReportlossMaterial" parameterType="map">
	   	insert into c_t_use_reportloss_materiel
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="materielid != null and materielid != ''">materielid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="orderid != null and orderid != ''">orderid,</if>
	        <if test="type != null and type != ''">type,</if>
	        <if test="name != null and name != ''">name,</if>
	        <if test="specifications != null and specifications != ''">specifications,</if>
	        <if test="price != null and price != ''">price,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="status != null">status,</if>
	        <if test="num != null">num,</if>
	        <if test="sumprice != null and sumprice != ''">sumprice,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="unit != null and unit != ''">unit,</if>
	        <if test="purchasematerielid != null and purchasematerielid != ''">purchasematerielid,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="materielid != null and materielid != ''">#{materielid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="orderid != null and orderid != ''">#{orderid},</if>
	        <if test="type != null and type != ''">#{type},</if>
	        <if test="name != null and name != ''">#{name},</if>
	        <if test="specifications != null and specifications != ''">#{specifications},</if>
	        <if test="price != null and price != ''">#{price},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="status != null">#{status},</if>
	        <if test="num != null">#{num},</if>
	        <if test="sumprice != null and sumprice != ''">#{sumprice},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="unit != null and unit != ''">#{unit},</if>
	        <if test="purchasematerielid != null and purchasematerielid != ''">#{purchasematerielid},</if>
	    </trim>
	</insert>
	<select id="getReportlossInfo" parameterType="map" resultType="map">
	    select ctro.orderid,ctro.companyid,ctro.orderno,ctro.organizeid,ctro.examineuserid,ctro.createid,ctro.opinion,ctro.result,DATE_FORMAT(ctro.createtime,'%Y-%m-%d %H:%i:%S') as createtime,DATE_FORMAT(ctro.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,ctro.updateid,ctro.status,
	    ctuu.realname as createname,ctuu1.realname as examinename,ctro.materialprice,ctuo.organizename,ctro.maternum,
	    ctuu.headimage as createheadimage,ctuu1.headimage as examineheadimage,ctro.CCuserids,IFNULL(ctro.CCusernames,"") AS CCusernames,ctro.reportlosstime
	    from c_t_use_reportloss_order ctro
	    left join c_t_use_userinfo ctuu on ctro.createid=ctuu.userid
	    left join c_t_use_userinfo ctuu1 on ctro.examineuserid=ctuu1.userid
	    left join c_t_use_organize ctuo on ctro.organizeid=ctuo.organizeid
	    <where>
	        <if test="orderid != null and orderid != ''">and ctro.orderid=#{orderid}</if>
	    </where>
	    limit 1
	    <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getReportlossMaterialList" parameterType="map" resultType="map">
	    select ctrm.materielid,ctrm.companyid,ctrm.orderid,ctrm.type,ctrm.name,ifnull(ctrm.specifications,"") as specifications,
ctpm.price,ctrm.num,ctrm.sumprice,DATE_FORMAT(ctrm.createtime,'%Y-%m-%d %H:%i:%S') as createtime,DATE_FORMAT(ctrm.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,
ctrm.updateid,ctrm.status,ctrm.unit,ctrm.purchasematerielid
	    from c_t_use_reportloss_materiel ctrm LEFT JOIN c_t_use_purchase_materiel ctpm on ctrm.purchasematerielid=ctpm.materielid
	    <where>
	        <if test="orderid !=null and orderid !=''">and ctrm.orderid=#{orderid}</if>
	        and ctrm.delflag=0
	    </where>
	</select>
	<update id="updateReportlossOrder" parameterType="map">
	    update c_t_use_reportloss_order
	    <set>
	        <if test="opinion != null and opinion != ''">opinion=#{opinion},</if>
	        <if test="result != null">result=#{result},</if>
	        <if test="status != null">status=#{status},</if>
	        <if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
	        <if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
	    </set>
	    where orderid=#{orderid}
	</update>
	<update id="reducePurchaseNum" parameterType="map">
	    update c_t_use_purchase_materiel 
	    <set>
	        <if test="reducenum != null">stock=stock-#{reducenum},</if>
	        <if test="residualmoney != null">residualmoney=#{residualmoney},</if>
	    </set>
	    where materielid=#{materielid}
	</update>
	<select id="getMaterial" parameterType="map" resultType="map">
	    select * from c_t_use_purchase_materiel
	    <where>
	        <if test="materielid != null and materielid != ''">and materielid=#{materielid}</if>
	    </where>
	    limit 1
	</select>
	
	<update id="updatePurchaseMaterial" parameterType="map">
	    update c_t_use_purchase_materiel
	     
	     <set>
	        <if test="addstock != null">stock=stock+#{addstock},</if>
	        <if test="residualmoney != null">residualmoney=residualmoney+#{residualmoney},</if>
	    </set>
	     where materielid=#{materielid}
	</update>
	
	<!-- 库存统计 的价格-->
	<select id="getUsePrice" parameterType="map" resultType="map">
	    select IFNULL(sum(ctuum.sumprice),0) as value  from c_t_use_used_materiel ctuum
	    left join  c_t_use_material_order ctumo on ctuum.orderid=ctumo.orderid
	    <where>
	        <if test="starttime != null and starttime != ''">and ctuum.createtime &gt;#{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctuum.createtime &lt;#{endtime}</if>
	        <if test="organizeid != null and organizeid != ''">and ctumo.organizeid=#{organizeid}</if>
	        and ctumo.result=1
	    </where>
	</select>
	<select id="getReturnPrice" parameterType="map" resultType="map">
	    select IFNULL(sum(cturm.sumprice),0) as value  from c_t_use_return_materiel cturm
	    left join  c_t_use_return_order cturo on cturm.orderid=cturo.orderid
	    <where>
	        <if test="starttime != null and starttime != ''">and cturm.createtime &gt;#{starttime}</if>
	        <if test="endtime != null and endtime != ''">and cturm.createtime &lt;#{endtime}</if>
	        <if test="organizeid != null and organizeid != ''">and cturo.organizeid=#{organizeid}</if>
	        and cturo.result=1
	    </where>
	</select>
	<select id="getReportLossPrice" parameterType="map" resultType="map">
	    select IFNULL(sum(ctuum.sumprice),0) as value  from c_t_use_reportloss_materiel ctuum
	    left join  c_t_use_reportloss_order ctumo on ctuum.orderid=ctumo.orderid
	    <where>
	        <if test="starttime != null and starttime != ''">and ctuum.createtime &gt;#{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctuum.createtime &lt;#{endtime}</if>
	        <if test="organizeid != null and organizeid != ''">and ctumo.organizeid=#{organizeid}</if>
	        and ctumo.result=1
	    </where>
	</select>
	<select id="getStockPrice" parameterType="map" resultType="map">
	    select IFNULL(sum(ctuum.residualmoney),0) as value  from c_t_use_purchase_materiel ctuum
	    left join  c_t_use_purchase_order ctumo on ctuum.orderid=ctumo.orderid
	    <where>
	        <if test="organizeid != null and organizeid != ''">and ctumo.organizeid=#{organizeid}</if>
	        and ctumo.result=1 and ctuum.stock > 0
	    </where>
	 </select>
	 
	<!-- 库存统计的 类型及价格 -->
	<select id="getUsedTypeList" parameterType="map" resultType="map">
	    select ctuum.type,IFNULL(sum(ctuum.sumprice),0) as sumprice  from c_t_use_used_materiel ctuum
	    left join  c_t_use_material_order ctumo on ctuum.orderid=ctumo.orderid
	    <where>
	        <if test="starttime != null and starttime != ''">and ctuum.createtime &gt;#{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctuum.createtime &lt;#{endtime}</if>
	        <if test="organizeid != null and organizeid != ''">and ctumo.organizeid=#{organizeid}</if>
	        and ctumo.result=1
	    </where>
	    group by ctuum.type
	</select>
	<select id="getReturnTypeList" parameterType="map" resultType="map">
	    select ctuum.type,IFNULL(sum(ctuum.sumprice),0) as sumprice  from c_t_use_return_materiel ctuum
	    left join  c_t_use_return_order ctumo on ctuum.orderid=ctumo.orderid
	    <where>
	        <if test="starttime != null and starttime != ''">and ctuum.createtime &gt;#{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctuum.createtime &lt;#{endtime}</if>
	        <if test="organizeid != null and organizeid != ''">and ctumo.organizeid=#{organizeid}</if>
	        and ctumo.result=1
	    </where>
	    group by ctuum.type
	</select>
	<select id="getReportLossTypeList" parameterType="map" resultType="map">
	    select ctuum.type,IFNULL(sum(ctuum.sumprice),0) as sumprice  from c_t_use_reportloss_materiel ctuum
	    left join  c_t_use_reportloss_order ctumo on ctuum.orderid=ctumo.orderid
	    <where>
	        <if test="starttime != null and starttime != ''">and ctuum.createtime &gt;#{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctuum.createtime &lt;#{endtime}</if>
	        <if test="organizeid != null and organizeid != ''">and ctumo.organizeid=#{organizeid}</if>
	        and ctumo.result=1
	    </where>
	    group by ctuum.type
	</select>
	<select id="getPurchaseTypeList" parameterType="map" resultType="map">
	    select ctuum.type,IFNULL(sum(ctuum.residualmoney),0) as sumprice  from c_t_use_purchase_materiel ctuum
	    left join  c_t_use_purchase_order ctumo on ctuum.orderid=ctumo.orderid
	    <where>
	        <if test="organizeid != null and organizeid != ''">and ctumo.organizeid=#{organizeid}</if>
	        and ctumo.result=1 and ctuum.stock > 0
	    </where>
	    group by ctuum.type
	</select>
	
	<!-- 库存统计 的 各种单 列表 -->
	<select id="getUsedOrderList" parameterType="map" resultType="map">
	    select ctumo.orderid,ctumo.orderno  from c_t_use_used_materiel ctuum
	    left join  c_t_use_material_order ctumo on ctuum.orderid=ctumo.orderid
	    <where>
	        <if test="starttime != null and starttime != ''">and ctuum.createtime &gt;#{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctuum.createtime &lt;#{endtime}</if>
	        <if test="organizeid != null and organizeid != ''">and ctumo.organizeid=#{organizeid}</if>
	        and ctumo.result=1
	    </where>
	    group by ctumo.orderid
	</select>
	<select id="getReturnOrder" parameterType="map" resultType="map">
	    select ctumo.orderid,ctumo.orderno  from c_t_use_return_materiel ctuum
	    left join  c_t_use_return_order ctumo on ctuum.orderid=ctumo.orderid
	    <where>
	        <if test="starttime != null and starttime != ''">and ctuum.createtime &gt;#{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctuum.createtime &lt;#{endtime}</if>
	        <if test="organizeid != null and organizeid != ''">and ctumo.organizeid=#{organizeid}</if>
	        and ctumo.result=1
	    </where>
	    group by ctumo.orderid
	</select>
	<select id="getReportLossOrderList" parameterType="map" resultType="map">
	    select ctumo.orderid,ctumo.orderno  from c_t_use_reportloss_materiel ctuum
	    left join  c_t_use_reportloss_order ctumo on ctuum.orderid=ctumo.orderid
	    <where>
	        <if test="starttime != null and starttime != ''">and ctuum.createtime &gt;#{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctuum.createtime &lt;#{endtime}</if>
	        <if test="organizeid != null and organizeid != ''">and ctumo.organizeid=#{organizeid}</if>
	        and ctumo.result=1
	    </where>
	    group by ctumo.orderid
	</select>
	<select id="getPurchaseOrderList" parameterType="map" resultType="map">
	    select ctumo.orderid,ctumo.orderno  from c_t_use_purchase_materiel ctuum
	    left join  c_t_use_purchase_order ctumo on ctuum.orderid=ctumo.orderid
	    <where>
	        <if test="organizeid != null and organizeid != ''">and ctumo.organizeid=#{organizeid}</if>
	        and ctumo.result=1 and ctuum.stock > 0
	    </where>
	    group by ctumo.orderid
	</select>
	
	<!-- 查询指定转发编号的转发人 -->
	<select id="getSendNameByForadid" parameterType="map" resultType="map">
		select ctuu.realname,ctuu.headimage from c_t_use_forward_user ctfu inner join c_t_use_userinfo ctuu on ctfu.createid=ctuu.userid where forwarduserid=#{forwarduserid} and issend=1
	</select>
	
</mapper>