<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.collection.dao.memorandum.MemorandumMapper">
	<select id="getMemorandumList" parameterType="map" resultType="map">
	    select memorandumid,companyid,datetime,hourtime,content,createid,DATE_FORMAT(createtime,'%Y-%m-%d %H:%i:%S') AS createtime,ifexpired,updatetime,updateid from c_t_use_memorandum
	    <where>
	        <if test="datetime != null and datetime != ''">and (DATE_FORMAT(datetime,'%Y-%c-%e')=#{datetime} or DATE_FORMAT(datetime,'%Y-%m-%d')=#{datetime} )</if>
	        <if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
	        <if test="createid != null and createid != ''">and createid=#{createid}</if>
	        and delflag=0
	    </where>
	    order by hourtime
	    <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getAllMemorandumTime" parameterType="map" resultType="map">
	    select datetime as date,content as value from c_t_use_memorandum
	    <where>
	        <if test="datetime != null and datetime != ''">and (DATE_FORMAT(datetime,'%Y-%c-%e')=#{datetime} or DATE_FORMAT(datetime,'%Y-%m-%d')=#{datetime} )</if>
	        <if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
	        <if test="createid != null and createid != ''">and createid=#{createid}</if>
	        and delflag=0
	    </where>
	    group by datetime
	</select>
	<select id="getMemorandumListNum" parameterType="map" resultType="int">
	    select count(0) from c_t_use_memorandum
	    <where>
	        <if test="datetime != null and datetime != ''">and DATE_FORMAT(datetime,'%Y-%c-%e')=#{datetime}</if>
	        <if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
	        <if test="createid != null and createid != ''">and createid=#{createid}</if>
	        and delflag=0
	    </where>
	</select>
	<insert id="insertMemorandum" parameterType="map">
	    insert into c_t_use_memorandum
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="memorandumid != null and memorandumid != ''">memorandumid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="datetime != null and datetime != ''">datetime,</if>
	        <if test="hourtime != null and hourtime != ''">hourtime,</if>
	        <if test="content != null and content != ''">content,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="ifexpired != null and ifexpired != ''">ifexpired,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="status != null">status,</if>
	        <if test="delflag != null">delflag,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="memorandumid != null and memorandumid != ''">#{memorandumid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="datetime != null and datetime != ''">#{datetime},</if>
	        <if test="hourtime != null and hourtime != ''">#{hourtime},</if>
	        <if test="content != null and content != ''">#{content},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="ifexpired != null and ifexpired != ''">#{ifexpired},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="status != null">#{status},</if>
	        <if test="delflag != null">#{delflag},</if>
	    </trim>
	</insert>
	<insert id="insertShare" parameterType="map">
	    insert into c_t_use_share
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="shareid != null and shareid != ''">shareid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="content != null and content != ''">content,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="status != null">status,</if>
	        <if test="delflag != null">delflag,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="shareid != null and shareid != ''">#{shareid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="content != null and content != ''">#{content},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="status != null">#{status},</if>
	        <if test="delflag != null">#{delflag},</if>
	    </trim>
	</insert>
	<select id="getShareList" parameterType="map" resultType="map">
	    select ctus.shareid,ctus.companyid,ctus.content,ctus.createid,DATE_FORMAT(ctus.createtime,'%Y-%m-%d %H:%i:%S') AS createtime,
	    ctuu.realname as createname,ctuu.headimage
	    from c_t_use_share ctus
	    left join c_t_use_userinfo ctuu on ctus.createid=ctuu.userid
	    left join c_t_use_organize_userinfo ctuou on ctuu.userid=ctuou.userid
	    LEFT JOIN c_t_use_organize ctuo ON ctuo.organizeid=ctuou.organizeid
	    <where>
	    	<if test="companyid != null and companyid != ''">and ctus.companyid=#{companyid}</if>
	        <if test="organizeid != null and organizeid != ''">and ctuou.organizeid=#{organizeid}</if>
	        <if test="datacode != null and datacode != ''">and locate(#{datacode},ctuo.datacode) > 0 ANd LENGTH(ctuo.datacode) >= LENGTH(#{datacode})</if>
	        <if test="userid != null and userid != ''">and ctus.createid=#{userid}</if>
	        and ctuou.delflag = 0
	    </where>
	    group by ctus.shareid
	    order by ctus.createtime desc
	    <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getShareListNum" parameterType="map" resultType="int">
	    select count(0) from (select ctus.shareid,ctus.companyid,ctus.content,ctus.createid,DATE_FORMAT(ctus.createtime,'%Y-%m-%d %H:%i:%S') AS createtime,
	    ctuu.realname as createname,ctuu.headimage
	    from c_t_use_share ctus
	    left join c_t_use_userinfo ctuu on ctus.createid=ctuu.userid
	    left join c_t_use_organize_userinfo ctuou on ctuu.userid=ctuou.userid
	    LEFT JOIN c_t_use_organize ctuo ON ctuo.organizeid=ctuou.organizeid
	    <where>
	    	<if test="companyid != null and companyid != ''">and ctus.companyid=#{companyid}</if>
	        <if test="organizeid != null and organizeid != ''">and ctuou.organizeid=#{organizeid}</if>
	        <if test="datacode != null and datacode != ''">and locate(#{datacode},ctuo.datacode) > 0 ANd LENGTH(ctuo.datacode) >= LENGTH(#{datacode})</if>
	        <if test="userid != null and userid != ''">and ctus.createid=#{userid}</if>
	        and ctuou.delflag = 0 and ctuou.delflag=0
	    </where>
	    group by ctus.shareid
	    ) a
	</select>
	<select id="getPraiseInfo" parameterType="map" resultType="map">
	    select ctusp.praiseid,ctusp.shareid,ctusp.ispraise,ctusp.createid,DATE_FORMAT(ctusp.createtime,'%Y-%m-%d %H:%i:%S') AS createtime,DATE_FORMAT(ctusp.updatetime,'%Y-%m-%d %H:%i:%S') AS updatetime,ctusp.updateid,ctusp.status,
	    ctuu.realname as createname,ctuu.headimage 
	    from c_t_use_share_praise ctusp
	    left join c_t_use_userinfo ctuu on ctusp.createid=ctuu.userid
	    <where>
	        <if test="praiseid != null and praiseid != ''">and ctusp.praiseid=#{praiseid}</if>
	    </where>
	    limit 1
	</select>
	<insert id="insertPraise" parameterType="map">
	    insert into c_t_use_share_praise
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="praiseid != null and praiseid != ''">praiseid,</if>
	        <if test="shareid != null and shareid != ''">shareid,</if>
	        <if test="ispraise != null">ispraise,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="status != null">status,</if>
	        <if test="delflag != null">delflag,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="praiseid != null and praiseid != ''">#{praiseid},</if>
	        <if test="shareid != null and shareid != ''">#{shareid},</if>
	        <if test="ispraise != null">#{ispraise},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="status != null">#{status},</if>
	        <if test="delflag != null">#{delflag},</if>
	    </trim>
	</insert>
	<update id="updatePraise" parameterType="map">
	    update c_t_use_share_praise
	    <set>
	        <if test="ispraise != null">ispraise=#{ispraise},</if>
	        <if test="status != null">status=#{status},</if>
	        <if test="delflag != null">delflag=#{delflag},</if>
	        <if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
	        <if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
	    </set>
	    where praiseid=#{praiseid}
	</update>
	<update id="addNotreadNum" parameterType="map">
	    update c_t_use_share_notread set num=num+1
	    <where>
	        <if test="shareid != null and shareid != ''">and shareid=#{shareid}</if>
	        <if test="notreadid != null and notreadid != ''">and notreadid=#{notreadid}</if>
	        <if test="createid != null and createid != ''">and createid !=#{createid}</if>
	    </where>
	</update>
	
	<update id="shareNotReadClearNum" parameterType="map">
		update c_t_use_share_notread set num=#{num}
		where createid=#{createid} and delflag=0
	</update>
	<select id="getShareNotReadSumNum" parameterType="map" resultType="int">
		select 
			ifnull(sum(num),0) num
		from c_t_use_share_notread
		where createid=#{createid} and delflag=0
	</select>
	<select id="getMemorandumInfo" parameterType="map" resultType="map">
	    select memorandumid,companyid,datetime,hourtime,content,createid,DATE_FORMAT(createtime,'%Y-%m-%d %H:%i:%S') AS createtime,ifexpired from c_t_use_memorandum
	    <where>
	        <if test="memorandumid != null and memorandumid != ''">and memorandumid=#{memorandumid}</if>
	    </where>
	    limit 1
	</select>
	<update id="updateMemorandumInfo" parameterType="map">
	    update c_t_use_memorandum
	    <set>
	        <if test="delflag != null">delflag=#{delflag},</if>
	        <if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
	        <if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
	        <if test="datetime != null and datetime != ''">datetime=#{datetime},</if>
	        <if test="hourtime != null and hourtime != ''">hourtime=#{hourtime},</if>
	        <if test="content != null and content != ''">content=#{content},</if>
	        <if test="ifexpired != null ">ifexpired=#{ifexpired},</if>
	    </set>
	    where memorandumid=#{memorandumid}
	</update>
	<select id="getAllMemorandumList" resultType="map">
	    select * from c_t_use_memorandum  
		where hourtime &gt; DATE_FORMAT(DATE_ADD(now(),INTERVAL -1 MINUTE),"%H:%i") and hourtime &lt;= DATE_FORMAT(DATE_ADD(now(),INTERVAL 1 MINUTE),"%H:%i") 
		and DATE_FORMAT(datetime,"%Y-%m-%d") = DATE_FORMAT(now(),"%Y-%m-%d")
	</select>
</mapper>