<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.collection.dao.managebackstage.CloudCapacityMapper">

	<select id="getCloudCapacityList" parameterType="map" resultType="map">
		select
			c.companyname,cu.realname,cu.phone,ccc.memory,date_format(ccc.createtime,"%Y-%m-%d %H:%i") as createtime,
			ccc.status,ccc.capacityid,ccc.cloudid
		from c_t_manage_cloud_capacity ccc
		left join c_t_use_userinfo cu on cu.userid=ccc.createid
		left join c_t_use_company_cloud cc on cc.cloudid=ccc.cloudid
		left join c_t_use_company c on c.companyid=cc.companyid
		<where>
			<if test="companyname != null and companyname != ''">and locate(#{companyname},c.companyname) > 0</if>
			<if test="realname != null and realname != ''">and locate(#{realname},cu.realname) > 0</if>
			<if test="status == 'in'">and ccc.status = 1</if>
			<if test="status == 'end'">and ccc.status != 1</if>
			and ccc.delflag=0
		</where>
		order by ccc.createtime desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	
	<select id="getCloudCapacityListCount" parameterType="map" resultType="int">
		select
			count(*)
		from c_t_manage_cloud_capacity ccc
		left join c_t_use_userinfo cu on cu.userid=ccc.createid
		left join c_t_use_company_cloud cc on cc.cloudid=ccc.cloudid
		left join c_t_use_company c on c.companyid=cc.companyid
		<where>
			<if test="companyname != null and companyname != ''">and locate(#{companyname},c.companyname) > 0</if>
			<if test="realname != null and realname != ''">and locate(#{realname},cu.realname) > 0</if>
			<if test="status == 'in'">and ccc.status = 1</if>
			<if test="status == 'end'">and ccc.status != 1</if>
			and ccc.delflag=0
		</where>
	</select>
	
	<select id="getCloudCapacityDetail" parameterType="map" resultType="map">
		select
			c.companyname,cu.realname,cu.phone,ccc.memory,date_format(ccc.createtime,"%Y-%m-%d %H:%i") as createtime,
			ccc.status,ccc.capacityid,ccc.cloudid,ccc.sjmemory,ccc.refusereason,c.companyid
		from c_t_manage_cloud_capacity ccc
		left join c_t_use_userinfo cu on cu.userid=ccc.createid
		left join c_t_use_company_cloud cc on cc.cloudid=ccc.cloudid
		left join c_t_use_company c on c.companyid=cc.companyid
		where ccc.delflag=0 and ccc.capacityid=#{capacityid}
	</select>

	<update id="updateCloudCapacityInfo" parameterType="map">
		update c_t_manage_cloud_capacity
		<set>
			<if test="sjmemory != null and sjmemory != ''">sjmemory=#{sjmemory},</if>
			<if test="refusereason != null and refusereason != ''">refusereason=#{refusereason},</if>
			<if test="status != null">status=#{status},</if>
			<if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
			<if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
		</set>
		where capacityid=#{capacityid}
	</update>

	<!-- 修改公司的总的内存大小 -->
	<update id="updateCompanyCloudInfo" parameterType="map">
		update c_t_use_company_cloud set maxmemory=maxmemory+#{sjmemory},gmdmemory=gmdmemory+#{sjmemory} where cloudid=#{cloudid}
	</update>

</mapper>