<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.collection.dao.IndexMapper">
    <select id="getReleaseRange" parameterType="map" resultType="map">
        select * from c_t_use_releaserange_user
        <where>
            <if test="resourceid != null and resourceid != ''">and resourceid=#{resourceid}</if>
            <if test="resourcetype != null and resourcetype != ''">and resourcetype=#{resourcetype}</if>
            <if test="userid != null and userid != ''">and userid=#{userid}</if>
            <if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
        </where>
        limit 1
    </select>
    <select id="getRangeList" parameterType="map" resultType="map">
        select cturr.resourceid,cturr.resourcetype,DATE_FORMAT(cturr.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctuu.realname as rangename,cturr.userid,cturr.organizeid,cturr.type
        from c_t_use_release_range cturr
        left join c_t_use_userinfo ctuu on cturr.userid=ctuu.userid
        <where>
            <if test="resourceid != null and resourceid != ''">and cturr.resourceid=#{resourceid}</if>
            <if test="resourcetype != null and resourcetype != ''">and cturr.resourcetype=#{resourcetype}</if>
            and cturr.type=1
        </where>
        union 
        select cturr.resourceid,cturr.resourcetype,DATE_FORMAT(cturr.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctuo.organizename as rangename,cturr.userid,cturr.organizeid,cturr.type
        from c_t_use_release_range cturr
        left join c_t_use_organize ctuo on cturr.organizeid=ctuo.organizeid
        <where>
            <if test="resourceid != null and resourceid != ''">and cturr.resourceid=#{resourceid}</if>
            <if test="resourcetype != null and resourcetype != ''">and cturr.resourcetype=#{resourcetype}</if>
            and cturr.type=2
        </where>
        order by createtime desc
    </select>
    <insert id="insertReleaseRange" parameterType="map">
        insert into c_t_use_release_range
        <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="rangeid != null and rangeid != ''">rangeid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="resourceid != null and resourceid != ''">resourceid,</if>
	        <if test="resourcetype != null and resourcetype != ''">resourcetype,</if>
	        <if test="userid != null and userid != ''">userid,</if>
	        <if test="organizeid != null and organizeid != ''">organizeid,</if>
	        <if test="isread != null">isread,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="status != null">status,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="type != null">type,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="rangeid != null and rangeid != ''">#{rangeid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="resourceid != null and resourceid != ''">#{resourceid},</if>
	        <if test="resourcetype != null and resourcetype != ''">#{resourcetype},</if>
	        <if test="userid != null and userid != ''">#{userid},</if>
	        <if test="organizeid != null and organizeid != ''">#{organizeid},</if>
	        <if test="isread != null">#{isread},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="status != null">#{status},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="type != null">#{type},</if>
	    </trim>
    </insert>
	<select id="getRemindList" parameterType="map" resultType="map">
	    select remindid,companyid,userid,title,content,pclinkurl,linkurl,createid,updateid,status,resourceid,resourcetype,
	    DATE_FORMAT(createtime,'%Y-%m-%d %H:%i') as createtime,DATE_FORMAT(updatetime,'%Y-%m-%d %H:%i') as updatetime
	    from c_t_use_remind
	    <where>
	        <if test="userid != null and userid != ''">and userid=#{userid}</if>
	        and delflag=0 and status=0
	    </where>
	    order by createtime desc
	    <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getRemindnum" parameterType="map" resultType="int">
	    select count(0) from c_t_use_remind
	    <where>
	        <if test="userid != null and userid != ''">and userid=#{userid}</if>
	        and delflag=0 and status=0
	    </where>
	</select>
	<select id="getBannerList" parameterType="map" resultType="map">
	    select id,imgurl,httpurl,type,model,updatetime,createid,createtime,delflag,updateid,status,priority
	    from c_t_manage_banner
	    <where>
	        <if test="model!= null">and model=#{model}</if>
	        <if test="companyid!= null and companyid != ''">and companyid=#{companyid}</if>
	        <if test="type != null">and type=#{type}</if> 
	        and delflag=0
	    </where>
	    order by type,priority
	</select>
	<select id="getHomePageBanner" parameterType="map" resultType="map">
	    select id,imgurl,httpurl,type,model,updatetime,createid,DATE_FORMAT(createtime,'%Y-%m-%d %H:%i:%S') as createtime,delflag,updateid,status,priority
	    from c_t_manage_banner
	    <where>
	        <if test="model!= null">and model=#{model}</if>
	        and delflag=0 and type=1
	    </where>
	    union
	    select id,imgurl,httpurl,type,model,updatetime,createid,DATE_FORMAT(createtime,'%Y-%m-%d %H:%i:%S') as createtime,delflag,updateid,status,priority
	    from c_t_manage_banner
	    <where>
	        <if test="model!= null">and model=#{model}</if>
	        <if test="companyid!= null and companyid != ''">and companyid=#{companyid}</if>
	        and delflag=0 and type=2
	    </where>
	    order by type,priority
	</select>
	<select id="getForwordNotreadNum" resultType="int" parameterType="map">
	    select count(0) from c_t_use_forward_user
	    <where>
	        <if test="companyid!= null and companyid != ''">and companyid=#{companyid}</if>
	        <if test="receiveid != null and receiveid != ''">and receiveid=#{receiveid}</if>
	        <if test="isread != null">and isread=#{isread}</if>
	        <if test="resourcetypes != null">
				<foreach collection="resourcetypes" item="item" open="and resourcetype in(" close=")" separator=",">
					${item}
				</foreach>
			</if>
	        and delflag=0
	    </where>
	</select>
	
	<select id="getRangeNotreadNum" resultType="int" parameterType="map">
	    select count(0) from c_t_use_releaserange_user
	    <where>
	        <if test="companyid!= null and companyid != ''">and companyid=#{companyid}</if>
	        <if test="receiveid != null and receiveid != ''">and userid=#{receiveid}</if>
	        <if test="isread != null">and isread=#{isread}</if>
	        <if test="rangetypes != null">
				<foreach collection="rangetypes" item="item" open="and resourcetype in(" close=")" separator=",">
					${item}
				</foreach>
			</if>
	        and delflag=0
	    </where>
	</select>
	
	<select id="getOrganizeList" parameterType="map" resultType="map">
		select organizeid,datacode,companyid,organizename,type,parentid,address,DATE_FORMAT(createtime,'%Y-%m-%d %H:%i:%S') as createtime,updatetime,updateid,status,childnum,usernum,priority,qrcode
		from c_t_use_organize	
		<where>
		    <if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
		    <if test="organizeid != null and organizeid != ''">and parentid=#{organizeid}</if>
		    <if test="type != null and type != ''">and type=#{type}</if>
		    <if test="searchname != null and searchname != ''">and organizename like concat("%",#{searchname},"%") and (parentid is not null and parentid != '')</if>
		    <if test="iscompany != null">and parentid is null</if>
		    <if test="datacodelist != null">
		        <foreach collection="datacodelist" item="item" separator="," open="and datacode in(" close=")">
		            #{item}
		        </foreach>
		    </if>
		    and delflag=0
		</where>
		order by priority
	</select>
	<select id="getUserList" parameterType="map" resultType="map">
	    select ctou.identitytype,ctou.identityname,ctuo.organizename,ctuo.organizeid,ctou.manageid,ctuo.datacode,
	    ctuu.userid,ctuu.username,ctuu.phone,ctuu.password,ctuu.isshowphone,ctuu.email,ctuu.realname,ctuu.sex,ctuu.birthday,ctuu.headimage,ctuu.isfristlogin,ctuu.status,ctuu.delflag,ctuu.createtime,ctuu.isinvite,ctuu.companyid,ctuu.invitetime,ctuu.logintime,ctuu.updatetime,ctuu.updateid,ifnull(ctuu.position,"") as position,ctuu.managerole
	     from c_t_use_organize_userinfo ctou
	    left join c_t_use_userinfo ctuu on ctou.userid=ctuu.userid
	    left join c_t_use_organize ctuo on ctou.organizeid=ctuo.organizeid
	    <where>
	        <if test="organizeid != null and organizeid != ''">and ctou.organizeid=#{organizeid}</if>
	        <if test="companyid != null and companyid != ''">and ctou.companyid=#{companyid}</if>
	        <if test="searchname != null and searchname != ''">and ctuu.realname like concat("%",#{searchname},"%")</if>
	        <if test="iscompany != null">and ctuo.parentid is null</if>
	        <if test="companycreateuserid != null and companycreateuserid != ''">and ctuu.userid!=#{companycreateuserid}</if>
	        and ctou.delflag=0 and ctuu.delflag=0 and ctuu.status=1
	    </where>
	    group by ctuu.userid
	</select>
	
	<!-- 查询企业通讯录 -->
	<select id="getUserListnew" parameterType="map" resultType="map">
	    select 
	    	ifnull(fristPinyin(ctu.realname),"") english,ctu.realname,ctu.phone,ctu.userid,ctu.headimage,ifnull(ctu.sex,"") sex 
	    from c_t_use_organize_userinfo ctou
	    left join c_t_use_userinfo ctu on ctou.userid=ctu.userid
	    <where>
	        <if test="companyid != null and companyid != ''">and ctou.companyid=#{companyid}</if>
	        <if test="organizeid != nulll and organizeid != ''">and ctou.organizeid=#{organizeid}</if>
	        <if test="searchname != null and searchname != ''">and ctu.realname like concat("%",#{searchname},"%")</if>
	        and ctu.delflag=0 and ctu.status=1
	    </where>
	    group by ctou.userid
	    order by english asc
	    <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getUserListnewCount" parameterType="map" resultType="int">
	    select count(0) from (select 
	    	ctu.userid
	    from c_t_use_organize_userinfo ctou
	    left join c_t_use_userinfo ctu on ctou.userid=ctu.userid
	    <where>
	        <if test="companyid != null and companyid != ''">and ctou.companyid=#{companyid}</if>
	        <if test="organizeid != nulll and organizeid != ''">and ctou.organizeid=#{organizeid}</if>
	        <if test="searchname != null and searchname != ''">and ctu.realname like concat("%",#{searchname},"%")</if>
	        and ctu.delflag=0 and ctu.status=1
	    </where>
	    group by ctou.userid) TB
	</select>
	
	
	
	<select id="getUserListAll" parameterType="map" resultType="map">
	    select ctou.identitytype,ctuu.position,ctou.identityname,ctuo.organizename,ctuo.organizeid,ctou.manageid,ctuu.*,
	    date_format(ctuu.createtime,'%Y-%m-%d %H:%i') as new_createtime,date_format(ctuu.logintime,'%Y-%m-%d %H:%i') as new_logintime
 		from c_t_use_organize_userinfo ctou
	    left join c_t_use_userinfo ctuu on ctou.userid=ctuu.userid
	    left join c_t_use_organize ctuo on ctou.organizeid=ctuo.organizeid
	    <where>
	        <if test="organizeid != null and organizeid != ''">and ctou.organizeid=#{organizeid}</if>
	        <if test="companyid != null and companyid != ''">and ctou.companyid=#{companyid}</if>
	        <if test="searchname != null and searchname != ''">and ctuu.realname like concat("%",#{searchname},"%")</if>
	        <if test="status != null">and ctuu.status=#{status}</if>
	        <if test="isinvite != null ">and ctuu.isinvite=#{isinvite}</if>
	        <if test="userid != null and userid != ''">and ctuu.userid != #{userid}</if>
	        and ctou.delflag=0 and ctuu.delflag=0
	    </where>
	    group by ctuu.userid order by new_createtime desc
	    <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	
		<select id="getUserListAllCount" parameterType="map" resultType="int">
	    	select
	    		count(*)
	    	from (
	    		select ctou.identitytype,ctou.identityname,ctuo.organizename,ctuo.organizeid,ctou.manageid,ctuu.*,
			    date_format(ctuu.createtime,'%Y-%m-%d %H:%i:%S') as new_createtime,date_format(ctuu.logintime,'%Y-%m-%d %H:%i:%S') as new_logintime
		 		from c_t_use_organize_userinfo ctou
			    left join c_t_use_userinfo ctuu on ctou.userid=ctuu.userid
			    left join c_t_use_organize ctuo on ctou.organizeid=ctuo.organizeid
			    <where>
			        <if test="organizeid != null and organizeid != ''">and ctou.organizeid=#{organizeid}</if>
			        <if test="companyid != null and companyid != ''">and ctou.companyid=#{companyid}</if>
			        <if test="searchname != null and searchname != ''">and ctuu.realname like concat("%",#{searchname},"%")</if>
			        <if test="userid != null and userid != ''">and ctou.userid != #{userid}</if>
			        and ctou.delflag=0 and ctuu.delflag=0
			    </where>
			    group by ctuu.userid
	    	) aa
		</select>
	
		<select id="getUserListDisabled" parameterType="map" resultType="map">
	    select ctou.identitytype,ctou.identityname,ctuo.organizename,ctuo.organizeid,ctou.manageid,ctuu.* from c_t_use_organize_userinfo ctou
	    left join c_t_use_userinfo ctuu on ctou.userid=ctuu.userid
	    left join c_t_use_organize ctuo on ctou.organizeid=ctuo.organizeid
	    <where>
	        <if test="organizeid != null and organizeid != ''">and ctou.organizeid=#{organizeid}</if>
	        <if test="companyid != null and companyid != ''">and ctou.companyid=#{companyid}</if>
	        <if test="searchname != null and searchname != ''">and ctuu.realname like concat("%",#{searchname},"%")</if>
	        and ctou.delflag=0 and ctuu.delflag=0 and ctuu.status=0
	    </where>
	    group by ctuu.userid
	</select>
	<select id="getUserBySearch" parameterType="map" resultType="map">
	   select ctou.identitytype,ctou.identityname,ctuo.organizename,ctuo.organizeid,ctou.manageid,ctuo.datacode,ctuu.* from c_t_use_organize_userinfo ctou
	    left join c_t_use_userinfo ctuu on ctou.userid=ctuu.userid
	    left join c_t_use_organize ctuo on ctou.organizeid=ctuo.organizeid
	    <where>
	        <if test="companyid != null and companyid != ''">and ctou.companyid=#{companyid}</if>
	        <if test="searchname != null and searchname != ''">and ctuu.realname like concat("%",#{searchname},"%")</if>
	        and ctuu.delflag=0 and ctuu.status=1 and ctou.delflag=0
	    </where>
	</select>
	
	<select id="getUserBySearchDisabled" parameterType="map" resultType="map">
	  select ctou.identitytype,ctou.identityname,ctuo.organizename,ctuo.organizeid,ctou.manageid,ctuu.* from c_t_use_organize_userinfo ctou
	    left join c_t_use_userinfo ctuu on ctou.userid=ctuu.userid
	    left join c_t_use_organize ctuo on ctou.organizeid=ctuo.organizeid
	    <where>
	        <if test="companyid != null and companyid != ''">and ctou.companyid=#{companyid}</if>
	        <if test="searchname != null and searchname != ''">and ctuu.realname like concat("%",#{searchname},"%")</if>
	        and ctou.delflag=0 and ctuu.delflag=0 and ctuu.status=0
	    </where>
	</select>
	<select id="getCityList" parameterType="map" resultType="map">
	    select areaid,parentid,datacode,cname,ename,DATE_FORMAT(createtime,'%Y-%m-%d %H:%i:%S') as createtime,priority,ifactive 
	    from c_t_manage_area
	    <where>
	        <if test="parentid != null and parentid != ''">and parentid=#{parentid}</if>
	        <if test="areaid != null and areaid != ''">and areaid=#{areaid}</if>
	    </where>
	    order by priority
	</select>
	<select id="getOrganizeListByUser" parameterType="map" resultType="map">
	    select ctuo.organizeid,ctuo.datacode,ctuo.companyid,ctuo.organizename,ctuo.type,ctuo.parentid,ctuo.address,DATE_FORMAT(ctuo.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctuo.updatetime,ctuo.updateid,ctuo.status,
	    ctuou.identitytype,ctuou.identityname,ctuo.qrcode,ctuo.priority,ctuo.qrcode
		from c_t_use_organize_userinfo ctuou
	    left join c_t_use_organize ctuo on ctuou.organizeid=ctuo.organizeid
	    <where>
	        <if test="userid != null and userid != ''">and ctuou.userid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctuou.companyid=#{companyid}</if>
	        <if test="type != null">and ctuo.type=#{type}</if>
	        and ctuou.delflag=0
	    </where>
	    order by ctuo.priority
	</select>
	
	<select id="getOrganizeListByRange" parameterType="map" resultType="map">
	    select ctuo.qrcode,ctuo.organizeid,ctuo.datacode,ctuo.companyid,ctuo.organizename,ctuo.type,ctuo.parentid,ctuo.address,DATE_FORMAT(ctuo.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctuo.updatetime,ctuo.updateid,ctuo.status,
	    ctuo.childnum,ctuo.usernum,ctuo.priority,ctuo.qrcode
		from c_t_use_userinfo ctuu 
		left join c_t_use_release_range cturr on ctuu.userid=cturr.resourceid and resourcetype=14
		left join c_t_use_organize ctuo  on cturr.organizeid=ctuo.organizeid
	    <where>
	        <if test="userid != null and userid != ''">and ctuu.userid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctuu.companyid=#{companyid}</if>
	        <if test="type != null">and ctuo.type=#{type}</if>
	        and ctuo.delflag=0
	    </where>
	    order by ctuo.priority
	</select>
	
	
	<select id="getOrganizeBySearch" parameterType="map" resultType="map">
	    select * from c_t_use_organize
	    <where>
	        <if test="organizename != null and organizename != ''">and organizename like concat("%",#{organizename},"%") and (parentid is not null and parentid != "")</if>
	        <if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
	        <if test="type != null and type != ''">and type=#{type}</if>
	    </where>
	    order by priority
	</select>
	<insert id="insertRemindInfo" parameterType="map">
	    insert into c_t_use_remind
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="remindid != null and remindid != ''">remindid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="userid != null and userid != ''">userid,</if>
	        <if test="title != null and title != ''">title,</if>
	        <if test="content != null and content != ''">content,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="linkurl != null and linkurl != ''">linkurl,</if>
	        <if test="resourcetype != null">resourcetype,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="resourceid != null and resourceid != ''">resourceid,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="pclinkurl != null and pclinkurl != ''">pclinkurl,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="remindid != null and remindid != ''">#{remindid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="userid != null and userid != ''">#{userid},</if>
	        <if test="title != null and title != ''">#{title},</if>
	        <if test="content != null and content != ''">#{content},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="linkurl != null and linkurl != ''">#{linkurl},</if>
	        <if test="resourcetype != null">#{resourcetype},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="resourceid != null and resourceid != ''">#{resourceid},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="pclinkurl != null and pclinkurl != ''">#{pclinkurl},</if>
	    </trim>
	</insert>
	<insert id="insertForword" parameterType="map">
	    insert into c_t_use_forward_user
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="forwarduserid != null and forwarduserid != ''">forwarduserid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="receiveid != null and receiveid != ''">receiveid,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="isread != null">isread,</if>
	        <if test="resourcetype != null">resourcetype,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="resourceid != null and resourceid != ''">resourceid,</if>
	        <if test="delflag != null">delflag,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="forwarduserid != null and forwarduserid != ''">#{forwarduserid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="receiveid != null and receiveid != ''">#{receiveid},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="isread != null">#{isread},</if>
	        <if test="resourcetype != null">#{resourcetype},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="resourceid != null and resourceid != ''">#{resourceid},</if>
	        <if test="delflag != null">#{delflag},</if>
	    </trim>
	</insert>
	
	<!-- 修改转发状态为已读 -->
	<update id="updateForwardReadStatus" parameterType="map">
	   update c_t_use_forward_user 
	   <set>
	      <if test="isread != null">isread = #{isread},</if>
	   </set>
	   where forwarduserid = #{dataid}
	</update>
	<!-- 修改发布范围状态为已读 -->
	<update id="updateRangeReadStatus" parameterType="map">
	   update c_t_use_releaserange_user 
	   <set>
	      <if test="isread != null">isread = #{isread},</if>
	   </set>
	   where id = #{dataid}
	</update>
	
	
	
	<!-- 修改转发状态为未读 -->
	<update id="updateForwardIsread" parameterType="map">
	   update c_t_use_forward_user 
	   <set>
	      <if test="isread != null">isread = #{isread},</if>
	   </set>
	   <where>
	       <if test="resourceid != null and resourceid != ''">and resourceid=#{resourceid}</if>
	       <if test="receiveid != null and receiveid != ''">and receiveid=#{receiveid}</if>
	   </where>
	</update>
	<!-- 修改发布范围状态为未读 -->
	<update id="updateRangeIsread" parameterType="map">
	   update c_t_use_releaserange_user 
	   <set>
	      <if test="isread != null">isread = #{isread},</if>
	   </set>
	   <where>
	       <if test="resourceid != null and resourceid != ''">and resourceid=#{resourceid}</if>
	       <if test="receiveid != null and receiveid != ''">and userid=#{receiveid}</if>
	   </where>
	</update>
	
	<!-- 修改发布范围状态为已读/未读 -->
	<update id="updateSystemMessageStatus" parameterType="map">
	   update c_t_use_sysmessage_user 
	   <set>
	      <if test="isread != null">status = #{isread},</if>
	   </set>
	   <where>
	       <if test="resourceid != null and resourceid != ''">and messageid=#{resourceid}</if>
	       <if test="receiveid != null and receiveid != ''">and userid=#{receiveid}</if>
	   </where>
	</update>
	<insert id="insertfile" parameterType="map">
	    insert into c_t_use_file
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="fileid != null and fileid != ''">fileid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="visiturl != null and visiturl != ''">visiturl,</if>
	        <if test="type != null">type,</if>
	        <if test="resourcetype != null">resourcetype,</if>
	        <if test="resourceid != null and resourceid != ''">resourceid,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="size != null and size !=''">size,</if>
	        createtime
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="fileid != null and fileid != ''">#{fileid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="visiturl != null and visiturl != ''">#{visiturl},</if>
	        <if test="type != null">#{type},</if>
	        <if test="resourcetype != null">#{resourcetype},</if>
	        <if test="resourceid != null and resourceid != ''">#{resourceid},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="size != null and size !=''">#{size},</if>
	        now()
	    </trim>
	</insert>
	<select id="getFileList"  parameterType="map" resultType="map">
	    select fileid,companyid,resourceid,resourcetype,visiturl,type,size,DATE_FORMAT(createtime,'%Y-%m-%d %H:%i:%S') as createtime,updatetime,updateid,status from c_t_use_file
	    <where>
	        <if test="resourceid != null and resourceid != ''">and resourceid=#{resourceid}</if>
	        <if test="resourcetype != null and resourcetype != ''">and resourcetype=#{resourcetype}</if>
	        and delflag=0
	    </where>
	</select>
	
	<select id="getPraiseList" parameterType="map" resultType="map">
	    select ctusp.praiseid,ctusp.shareid,ctusp.ispraise,ctusp.createid,DATE_FORMAT(ctusp.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctusp.updatetime,ctusp.updateid,ctusp.status,
	    ctuu.realname as createname,ctuu.headimage 
	    from c_t_use_share_praise ctusp
	    left join c_t_use_userinfo ctuu on ctusp.createid=ctuu.userid
	    <where>
	        <if test="shareid != null and shareid != ''">and ctusp.shareid=#{shareid}</if>
	        <if test="ispraise != null">and ctusp.ispraise=#{ispraise}</if>
	        and ctusp.delflag=0
	    </where>
	</select>
	<select id="getCommentList" parameterType="map" resultType="map">
	    select ctuc.commentid,ctuc.content,ctuc.userid,ctuc.resourceid,DATE_FORMAT(ctuc.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctuc.parentid,ctuc.resourcetype,ctuc.updatetime,ctuc.updateid,ctuc.status,
	    ctuu.realname as createname,ifnull(ctuu1.realname,"") as replyname
	    from c_t_use_comment ctuc
	    left join c_t_use_userinfo ctuu on ctuc.userid=ctuu.userid
	    left join c_t_use_comment ctuc1 on ctuc.parentid=ctuc1.commentid
	    left join c_t_use_userinfo ctuu1 on ctuc1.userid=ctuu1.userid
	    <where>
	        <if test="resourceid != null and resourceid != ''">and ctuc.resourceid=#{resourceid}</if>
	        <if test="resourcetype != null and resourcetype != ''">and ctuc.resourcetype=#{resourcetype}</if>
	        and ctuc.delflag=0
	    </where>
	    order by ctuc.createtime desc
	</select>
	<insert id="insertShareNotread" parameterType="map">
	    insert into c_t_use_share_notread
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="notreadid != null and notreadid != ''">notreadid,</if>
	        <if test="shareid != null and shareid != ''">shareid,</if>
	        <if test="num != null">num,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="status != null">status,</if>
	        <if test="delflag != null">delflag,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="notreadid != null and notreadid != ''">#{notreadid},</if>
	        <if test="shareid != null and shareid != ''">#{shareid},</if>
	        <if test="num != null">#{num},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="status != null">#{status},</if>
	        <if test="delflag != null">#{delflag},</if>
	    </trim>
	</insert>
	<select id="getNotreadMap" parameterType="map" resultType="map">
	    select * from c_t_use_share_notread
	    <where>
	        <if test="notreadid != null and notreadid != ''">and notreadid=#{notreadid}</if>
	        <if test="shareid != null and shareid != ''">and shareid=#{shareid}</if>
	        <if test="createid != null and createid != ''">and createid=#{createid}</if>
	    </where>
	    limit 1
	</select>
	
    <!-- 新增评论信息 -->
	<insert id="insertComment" parameterType="map">
	      insert into c_t_use_comment
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="commentid != null and commentid != ''">commentid,</if>
	        <if test="content != null and content != ''">content,</if>
	        <if test="userid != null and userid != ''">userid,</if>
	        <if test="resourceid != null and resourceid != ''">resourceid,</if>
	        <if test="parentid != null">parentid,</if>
	        <if test="resourcetype != null">resourcetype,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="updatetime != null and updatetime != ''">updatetime,</if>
	        <if test="updateid != null and updateid != ''">updateid,</if>
	        <if test="status != null">status,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="commentid != null and commentid != ''">#{commentid},</if>
	        <if test="content != null and content != ''">#{content},</if>
	        <if test="userid != null and userid != ''">#{userid},</if>
	        <if test="resourceid != null and resourceid != ''">#{resourceid},</if>
	        <if test="parentid != null">#{parentid},</if>
	        <if test="resourcetype != null">#{resourcetype},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="updatetime != null and updatetime != ''">#{updatetime},</if>
	        <if test="updateid != null and updateid != ''">#{updateid},</if>
	        <if test="status != null">#{status},</if>
	    </trim>
	</insert>
	<insert id="insertReleaseRangeUser" parameterType="map">
	    insert into c_t_use_releaserange_user
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="id != null and id != ''">id,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="userid != null and userid != ''">userid,</if>
	        <if test="resourceid != null and resourceid != ''">resourceid,</if>
	        <if test="isread != null">isread,</if>
	        <if test="resourcetype != null">resourcetype,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="status != null">status,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="id != null and id != ''">#{id},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="userid != null and userid != ''">#{userid},</if>
	        <if test="resourceid != null and resourceid != ''">#{resourceid},</if>
	        <if test="isread != null">#{isread},</if>
	        <if test="resourcetype != null">#{resourcetype},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="status != null">#{status},</if>
	    </trim>
	</insert>
	<select id="getDictData" parameterType="map" resultType="map">
	    select dataid,typeid,datacode,cname,ename,remark,createtime,createid from c_t_manage_dict_data
	    <where>
	        <if test="typeid != null and typeid != ''">and typeid=#{typeid}</if>
	        <if test="dataid != null and dataid != ''">and dataid=#{dataid}</if>
	        and delflag=0
	    </where>
	    order by priority
	</select>
	<select id="getCityId" parameterType="map" resultType="map">
	    select * from c_t_manage_weatherarea
		<where>
			<if test="cityname != null">and city like concat("%",#{cityname},"%")</if>
		</where>
		limit 1
	</select>
	<select id="getOrganizeInfo" parameterType="map" resultType="map">
	    select ctuo1.*,ctuo2.organizename as parentname from c_t_use_organize ctuo1
	    left join c_t_use_organize ctuo2 on ctuo1.parentid=ctuo2.organizeid
	    <where>
	        <if test="organizeid != null and organizeid != ''">and ctuo1.organizeid=#{organizeid}</if>
	        <if test="companyid != null and companyid != ''">and ctuo1.companyid=#{companyid}</if>
	        <if test="iscompany != null and iscompany != ''">and ctuo1.parentid is null</if>
	    </where>
	    limit 1
	</select>
	<delete id="deleteRange" parameterType="map">
	    delete from c_t_use_release_range where resourcetype=#{resourcetype} and resourceid=#{resourceid};
	    delete from c_t_use_releaserange_user where resourcetype=#{resourcetype} and resourceid=#{resourceid}
	</delete>
	<select id="getWeatherUrl" parameterType="string" resultType="string">
	    select weatherurl from c_t_manage_weather
	    where weathername like concat("%",#{weathername},"%")
	    order by weatherid
	    limit 1
	</select>
	<insert id="insertWeatherInfo" parameterType="map">
		insert into c_t_manage_weather
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="weatherid != null and weatherid != ''">weatherid,</if>
			<if test="weathername != null and weathername != ''">weathername,</if>
			<if test="weatherurl != null and weatherurl != ''">weatherurl,</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="weatherid != null and weatherid != ''">#{weatherid},</if>
			<if test="weathername != null and weathername != ''">#{weathername},</if>
			<if test="weatherurl != null and weatherurl != ''">#{weatherurl},</if>
		</trim>
	</insert>
	<update id="updateIsreadAll" parameterType="map">
	   update c_t_use_releaserange_user set isread = 0 where resourceid=#{resourceid} and resourcetype=#{resourcetype} and userid != #{userid};
	   update c_t_use_forward_user set isread = 0 where resourceid=#{resourceid} and resourcetype=#{resourcetype} and  receiveid != #{userid}
	</update>
	<insert id="insertManageLog" parameterType="map">
	    insert into c_t_manage_log
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="codeid != null and codeid != ''">codeid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="type != null and type != ''">type,</if>
	        <if test="model != null and model != ''">model,</if>
	        <if test="content != null and content != ''">content,</if>
	        <if test="userid != null and userid != ''">userid,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="codeid != null and codeid != ''">#{codeid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="type != null and type != ''">#{type},</if>
	        <if test="model != null and model != ''">#{model},</if>
	        <if test="content != null and content != ''">#{content},</if>
	        <if test="userid != null and userid != ''">#{userid},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	    </trim>
	</insert>
	<select id="getAllShopList" parameterType="map" resultType="map">
	    select ctuo.organizeid,ctuo.datacode,ctuo.companyid,ctuo.organizename,ctuo.type,ctuo.parentid,ctuo.address,DATE_FORMAT(ctuo.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctuo.updatetime,ctuo.updateid,ctuo.status,
	    ctuo.qrcode
		from c_t_use_organize ctuo
		<where>
		    <if test="companyid != null and companyid != ''">and ctuo.companyid=#{companyid}</if>
		    and ctuo.type=3 and ctuo.delflag=0
		</where>
		order by ctuo.priority
	</select>
	<update id="updateRemind" parameterType="map">
	    update c_t_use_remind
	    <set>
	        <if test="delflag != null ">delflag=#{delflag},</if>
	    </set>
	    <where>
	        <if test="userid != null and userid != ''">and userid=#{userid}</if>
	        <if test="resourceid != null and resourceid != ''">and resourceid=#{resourceid}</if>
	    </where>
	</update>
	<select id="getReturnAmountList" resultType="map">
	    select ctr.*,ctu.phone,ctu.realname from c_t_use_reserveamount ctr left join c_t_use_userinfo ctu on ctr.createid=ctu.userid
		where ctr.returntime &gt;= DATE_FORMAT(now(),"%Y-%m-%d") and ctr.returntime &lt;= DATE_FORMAT(DATE_ADD(now(),INTERVAL 1 DAY),"%Y-%m-%d") 
	</select>
	
	<select id="getReturnAmountListagree" resultType="map">
	    select ctr.*,ctu.phone,ctu.realname from c_t_use_reserveamount ctr left join c_t_use_userinfo ctu on ctr.createid=ctu.userid
		where ctr.result=1 and ctr.returntime &gt;= DATE_FORMAT(now(),"%Y-%m-%d") and ctr.returntime &lt;= DATE_FORMAT(DATE_ADD(now(),INTERVAL 1 DAY),"%Y-%m-%d") 
	</select>
	
	
	<!-- 根据发布范围查询店面 -->
	<select id="getShopListByReleaseRange" parameterType="map" resultType="map">
		select 
			ctuo.organizename,ctuo.organizeid,ctuo.datacode
		from c_t_use_releaserange_user cturu
		left join c_t_manage_organize_template ctmot on cturu.resourceid=ctmot.templateid and ctmot.delflag=0
		left join c_t_use_organize ctuo on ctuo.organizeid=ctmot.organizeid
		<where>
			cturu.resourcetype=8
			<if test="userid != null and userid != ''">and cturu.userid=#{userid}</if>
			<if test="companyid != null and companyid != ''">and cturu.companyid=#{companyid}</if>
			<if test="type != null and type != ''">and ctmot.type=#{type}</if>
		</where>
		group by ctuo.organizeid
	</select>
	
	<!-- 根据发布范围查询组织架构 -->
	<select id="getOrganizeListByReleaseRange" parameterType="map" resultType="map">
		select 
			ctuo.organizename,ctuo.organizeid,ctuo.datacode,ctuo.priority,ctuo.qrcode
		from c_t_use_releaserange_user cturu
		left join c_t_use_evaluate_template ctmot on cturu.resourceid=ctmot.templateid and ctmot.delflag=0
		left join c_t_use_organize ctuo on ctuo.organizeid=ctmot.organizeid
		<where>
			cturu.resourcetype=9
			<if test="userid != null and userid != ''">and cturu.userid=#{userid}</if>
			<if test="companyid != null and companyid != ''">and cturu.companyid=#{companyid}</if>
			<if test="type != null and type != ''">and ctmot.type=#{type}</if>
		</where>
		group by ctuo.organizeid
	</select>
	
	<!-- 根据每日报表发布范围查询组织架构 -->
	<select id="getOrganizeListByDailyReport" parameterType="map" resultType="map">
		select ctuo.organizename,ctuo.organizeid,ctuo.datacode
		from c_t_use_releaserange_user cturu
		left join c_t_manage_everyday_template ctmet on cturu.resourceid=ctmet.templateid and ctmet.delflag=0
		left join c_t_use_organize ctuo on ctuo.organizeid=ctmet.organizeid
		<where>
			cturu.resourcetype=11
			<if test="userid != null and userid != ''">and cturu.userid=#{userid}</if>
			<if test="companyid != null and companyid != ''">and cturu.companyid=#{companyid}</if>
		</where>
		group by ctuo.organizeid
	</select>
	
	
	<select id="getDataList" parameterType="map" resultType="map">
	    select * from c_t_manage_dict_data 
	    <where>
	        <if test="dataid != null and dataid != ''">and dataid=#{dataid}</if>
	        <if test="datacode != null and datacode != ''">and datacode=#{datacode}</if>
	        and delflag=0
	    </where>
	    limit 1
	</select>
	<update id="reduceOrganizeNum" parameterType="map">
	    update c_t_use_organize set usernum=ifnull(usernum,1)-#{usernum} where organizeid=#{organizeid}
	</update>
	<select id="getSysParamByModel" resultType="string" parameterType="string">
	    select pvalue as version from sys_param
	    where pkey=#{pkey} 
	    limit 1
	</select>
	<update id="updateSysParam" parameterType="map">
	    update sys_param set pvalue = #{pvalue} ,updaterid = #{updaterid},updatetime = now() where pkey=#{pkey}
	</update>
	
	<!-- 根据organizeid查询组织架构下面所有的人员信息 -->
	<select id="getUserListByOrganizeid" parameterType="map" resultType="map">
		SELECT
			ctu.userid,ctu.phone,ctu.realname,ctu.username,ctu.registrationid
		FROM c_t_use_organize_userinfo ou
		INNER JOIN c_t_use_userinfo ctu on ctu.userid = ou.userid
		WHERE
			ou.organizeid IN (
				SELECT oo.organizeid FROM c_t_use_organize oo
				WHERE
					locate(
						(SELECT o.datacode FROM c_t_use_organize o
							WHERE
								o.organizeid = #{organizeid}
								<if test="companyid != null and companyid != ''">AND o.companyid = #{companyid}</if>
						),
						oo.datacode) > 0 AND oo.delflag = 0
			) AND ou.delflag = 0
	</select>
	<!-- 查询某组织机构下的所有的组织信息 -->
	<select id="getDownOrganizeListByDatacode" parameterType="map" resultType="map">
		select 
			organizeid,datacode,companyid,organizename,type,parentid,address,childnum,usernum,qrcode,priority
		from c_t_use_organize
		where locate(#{code},datacode) > 0 and companyid=#{companyid} and delflag=0
		order by priority asc
	</select>
	<!-- 查询用户的registrationid -->
	<select id="getRegistrationIdByUserId" parameterType="map" resultType="string">
		select IFNULL(registrationid,"") AS registrationid from c_t_use_userinfo where userid=#{userid}
	</select>
	
	<!-- 删除关联信息 -->
	<update id="deleteForwaredUserInfo" parameterType="map">
		update c_t_use_forward_user set delflag=1
		where forwarduserid=#{forwarduserid};
		update c_t_use_releaserange_user set delflag=1
		where id=#{forwarduserid}
	</update>
	
	
	<!-- 添加用户的使用信息 -->
	<insert id="insertUserUseLog" parameterType="map">
		replace into c_t_use_userlog
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="useid != null and useid != ''">useid,</if>
			<if test="userid != null and userid != ''">userid,</if>
			<if test="companyid != null and companyid != ''">companyid,</if>
			<if test="usetime != null and usetime != ''">usetime,</if>
			<if test="lastusetime != null and lastusetime != ''">lastusetime,</if>
			<if test="delflag != null">delflag,</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="useid != null and useid != ''">#{useid},</if>
			<if test="userid != null and userid != ''">#{userid},</if>
			<if test="companyid != null and companyid != ''">#{companyid},</if>
			<if test="usetime != null and usetime != ''">#{usetime},</if>
			<if test="lastusetime != null and lastusetime != ''">#{lastusetime},</if>
			<if test="delflag != null">#{delflag},</if>
		</trim>
	</insert>
</mapper>