<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.collection.dao.UserInfoMapper">
	<insert id="insertUserInfo" parameterType="map">
	    insert into c_t_use_userinfo
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="userid != null and userid != ''">userid,</if>
	        <if test="username != null and username != ''">username,</if>
	        <if test="phone != null and phone != ''">phone,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="password != null and password != ''">password,</if>
	        <if test="email != null and email != ''">email,</if>
	        <if test="isshowphone != null">isshowphone,</if>
	        <if test="realname != null and realname != ''">realname,</if>
	        <if test="sex != null">sex,</if>
	        <if test="birthday != null and birthday != ''">birthday,</if>
	        <if test="email != null and email != ''">email,</if>
	        <if test="headimage != null and headimage != ''">headimage,</if>
	        <if test="isfristlogin != null">isfristlogin,</if>
	        <if test="status != null">status,</if>
	        <if test="isinvite != null ">isinvite,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="invitetime != null and invitetime != ''">invitetime,</if>
	        <if test="logintime != null and logintime != ''">logintime,</if>
	        <if test="updatetime != null and updatetime != ''">updatetime,</if>
	        <if test="updateid != null and updateid != ''">updateid,</if>
	        <if test="managerole != null">managerole,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="userid != null and userid != ''">#{userid},</if>
	        <if test="username != null and username != ''">#{username},</if>
	        <if test="phone != null and phone != ''">#{phone},</if>
	        <if test="delflag != null ">#{delflag},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="password != null and password != ''">#{password},</if>
	        <if test="email != null and email != ''">#{email},</if>
	        <if test="isshowphone != null ">#{isshowphone},</if>
	        <if test="realname != null and realname != ''">#{realname},</if>
	        <if test="sex != null">#{sex},</if>
	        <if test="birthday != null and birthday != ''">#{birthday},</if>
	        <if test="email != null and email != ''">#{email},</if>
	        <if test="headimage != null and headimage != ''">#{headimage},</if>
	        <if test="isfristlogin != null">#{isfristlogin},</if>
	        <if test="status != null">#{status},</if>
	        <if test="isinvite != null ">#{isinvite},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="invitetime != null and invitetime != ''">#{invitetime},</if>
	        <if test="logintime != null and logintime != ''">#{logintime},</if>
	        <if test="updatetime != null and updatetime != ''">#{updatetime},</if>
	        <if test="updateid != null and updateid != ''">#{updateid},</if>
	        <if test="managerole != null">#{managerole},</if>
	    </trim>
	</insert>
	<update id="updateUserInfo" parameterType="map">
	    update c_t_use_userinfo
	    <set>
	        <if test="delflag != null ">delflag=#{delflag},</if>
	        <if test="password != null and password != ''">password=#{password},</if>
	        <if test="email != null and email != ''">email=#{email},</if>
	        <if test="isshowphone != null ">isshowphone=#{isshowphone},</if>
	        <if test="realname != null and realname != ''">realname=#{realname},</if>
	        <if test="sex != null">sex=#{sex},</if>
	        <if test="birthday != null and birthday != ''">birthday=#{birthday},</if>
	        <if test="email != null and email != ''">email=#{email},</if>
	        <if test="headimage != null and headimage != ''">headimage=#{headimage},</if>
	        <if test="isfristlogin != null ">isfristlogin=#{isfristlogin},</if>
	        <if test="status != null">status=#{status},</if>
	        <if test="isinvite != null ">isinvite=#{isinvite},</if>
	        <if test="companyid != null and companyid != ''">companyid=#{companyid},</if>
	        <if test="invitetime != null and invitetime != ''">invitetime=#{invitetime},</if>
	        <if test="logintime != null and logintime != ''">logintime=#{logintime},</if>
	        <if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
	        <if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
	        <if test="managerole != null">managerole=#{managerole},</if>
	        <if test="updatepowertime != null and updatepowertime != ''">updatepowertime=#{updatepowertime},</if>
	    </set>
	    where userid=#{userid}
	</update>
	<select id="getUserInfo" parameterType="map" resultType="map">
	    select ctuu.userid,ctuu.password,ctuu.username,ctuu.phone,ctuu.isshowphone,ctuu.email,ctuu.realname,ctuu.sex,ctuu.birthday,ctuu.headimage,ctuu.isfristlogin,ctuu.status,ctuu.delflag,DATE_FORMAT(ctuu.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctuu.isinvite,ctuu.companyid,DATE_FORMAT(ctuu.invitetime,'%Y-%m-%d %H:%i:%S') as invitetime,DATE_FORMAT(ctuu.logintime,'%Y-%m-%d %H:%i:%S') as logintime, DATE_FORMAT(ctuu.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,ctuu.updateid,
	    ctuc.datacode,ctuc.companyname,ctuc.logourl,ctuu.position,ctuu.managerole,IFNULL(ctuu.updatepowertime,"") as updatepowertime
	    from c_t_use_userinfo ctuu
	    left join c_t_use_company ctuc on ctuu.companyid=ctuc.companyid
	    <where>
	        <if test="userid != null and userid != ''">and ctuu.userid=#{userid}</if>
	        <if test="username != null and username != ''">and ctuu.username=#{username}</if>
	        <if test="password != null and password != ''">and ctuu.password=#{password}</if>
	        <if test="phone != null and phone != ''">and ctuu.phone=#{phone}</if>
	        and ctuu.delflag=0
	    </where>
	    limit 1
	</select>
	<select id="getMenuList" parameterType="map" resultType="map">
	    select ctmf.cssname,ctmf.functionid,ctmf.parentid,ctmf.name,ctmf.linkurl,ctmf.status,ctmf.priority,DATE_FORMAT(ctmf.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctmf.remark from c_t_manage_function ctmf
	    where ctmf.delflag=0
	    order by ctmf.priority
	</select>
	
	<select id="getFunctionByUserList" parameterType="map" resultType="map">
	    select ctmf.cssname,ctmf.functionid,ctmf.parentid,ctmf.name,ctmf.linkurl,ctmf.status,ctmf.priority,DATE_FORMAT(ctmf.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctmf.remark from c_t_manage_user_function ctmuf
	    left join c_t_manage_function ctmf on ctmuf.functionid=ctmf.functionid
	    <where>
	        <if test="userid != null and userid != ''">and ctmuf.userid=#{userid}</if>
	        and ctmf.delflag=0
	    </where>
	    group by ctmf.functionid
	    order by ctmf.priority
	</select>
	<select id="getUserNum" parameterType="map" resultType="int">
	    select count(0) from c_t_use_userinfo
	    <where>
	        <if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
	        <if test="isfristlogin != null">and (isinvite=0 or isfristlogin=1)</if>
	        and delflag=0 and status=1
	    </where>
	</select>
	<select id="getShopNum" parameterType="map" resultType="int">
	    select count(0) from c_t_use_organize
	    <where>
	        <if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
	        <if test="type != null">and type=#{type}</if>
	        and delflag=0 
	    </where>
	</select>
	<select id="getCompanyMemory" parameterType="map" resultType="map">
	    select cloudid,companyid,CAST(ifnull(maxmemory/1024/1024,0) as decimal(11,2)) as maxmemory,cast(ifnull(usedmemory/1024/1024,0) as decimal(11,2)) as usedmemory,cast(ifnull(shujudmemory/1024/1024,0) as decimal(11,2)) as shujudmemory,
		cast(ifnull(qywpdmemory/1024/1024,0) as decimal(11,2)) as qywpdmemory,cast(ifnull(gmdmemory/1024/1024,0) as decimal(11,2)) as gmdmemory,createid from c_t_use_company_cloud
	    <where>
	        <if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
	    </where>
	    limit 1
	</select>
	<select id="getNotuseUserList" parameterType="map" resultType="map">
	    select ctuu.userid,ctuu.username,ctuu.phone,ctuu.password,ctuu.isshowphone,ctuu.email,ctuu.realname,ctuu.sex,ctuu.birthday,ctuu.headimage,ctuu.isfristlogin,ctuu.status,
	    ctuu.isinvite,ctuu.companyid,DATE_FORMAT(ctuu.invitetime,'%Y-%m-%d %H:%i:%S') as invitetime,DATE_FORMAT(ctuu.logintime,'%Y-%m-%d %H:%i:%S') as logintime,DATE_FORMAT(ctuu.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctuu.position,ctuu.managerole,
	    group_concat(ctuo.organizename SEPARATOR ',') as organizename
	    from c_t_use_organize_userinfo ctuou 
	    right join c_t_use_userinfo ctuu on ctuou.userid=ctuu.userid
	    left join c_t_use_organize ctuo on ctuou.organizeid=ctuo.organizeid
	    <where>
	        <if test="realname != null and realname != ''">and ctuu.realname like concat("%",#{realname},"%")</if>
	        <if test="organizeid != null and organizeid != ''">and ctuou.organizeid=#{organizeid}</if> 
	        <if test="companyid != null and companyid != ''">and ctuu.companyid=#{companyid}</if>
	        and (ctuu.isinvite=0 or ctuu.isfristlogin=1) and ctuu.delflag=0 and ctuou.delflag=0
	    </where>
	    group by ctuu.userid
	    <if test="startnum!=null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getNotuseUserListNum" parameterType="map" resultType="int">
	    select count(0)  from (select ctuu.userid,ctuu.username,ctuu.phone,ctuu.password,ctuu.isshowphone,ctuu.email,ctuu.realname,ctuu.sex,ctuu.birthday,ctuu.headimage,ctuu.isfristlogin,ctuu.status,
	    ctuu.isinvite,ctuu.companyid,DATE_FORMAT(ctuu.invitetime,'%Y-%m-%d %H:%i:%S') as invitetime,DATE_FORMAT(ctuu.logintime,'%Y-%m-%d %H:%i:%S') as logintime,DATE_FORMAT(ctuu.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctuu.position,ctuu.managerole,
	    group_concat(ctuo.organizename SEPARATOR ',') as organizename
	    from c_t_use_organize_userinfo ctuou 
	    right join c_t_use_userinfo ctuu on ctuou.userid=ctuu.userid
	    left join c_t_use_organize ctuo on ctuou.organizeid=ctuo.organizeid
	    <where>
	        <if test="realname != null and realname != ''">and ctuu.realname like concat("%",#{realname},"%")</if>
	        <if test="organizeid != null and organizeid != ''">and ctuou.organizeid=#{organizeid}</if> 
	        <if test="companyid != null and companyid != ''">and ctuu.companyid=#{companyid}</if>
	        and (ctuu.isinvite=0 or ctuu.isfristlogin=1) and ctuu.delflag=0 and ctuou.delflag=0

	    </where>
	    group by ctuu.userid)a
	</select>
	<select id="getOrganizeNames" parameterType="map" resultType="String">
	    select group_concat(ctuo.organizename SEPARATOR ',') as organizename from c_t_use_organize_userinfo ctuou
		left join c_t_use_organize ctuo on ctuou.organizeid=ctuo.organizeid
		<where>
		    <if test="userid != null and userid != ''">and  ctuou.userid=#{userid}</if>
		    and ctuou.delflag=0
		</where>
	</select>
	<select id="getUserListByOrganize" parameterType="map" resultType="map">
	    select ctuu.userid,ctuu.password,ctuu.username,ctuu.phone,ctuu.isshowphone,ctuu.email,ctuu.realname,ctuu.sex,ctuu.birthday,ctuu.headimage,
	    ctuu.isfristlogin,ctuu.status,ctuu.delflag,DATE_FORMAT(ctuu.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctuu.isinvite,
	    ctuu.companyid,DATE_FORMAT(ctuu.invitetime,'%Y-%m-%d %H:%i:%S') as invitetime,DATE_FORMAT(ctuu.logintime,'%Y-%m-%d %H:%i:%S') as logintime, 
	    DATE_FORMAT(ctuu.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,ctuu.updateid,
	    ctuu.position,ctuu.managerole,cuo.organizename 
	    from c_t_use_organize_userinfo ctuou
	    left join  c_t_use_userinfo ctuu  on ctuou.userid=ctuu.userid
	    left join c_t_use_organize cuo on cuo.organizeid = ctuou.organizeid
	    <where>
	        <if test="organizeid != null and organizeid != ''">and ctuou.organizeid=#{organizeid}</if>
	        <if test="searchrealname != null and searchrealname != ''">and ctuu.realname like concat("%",#{searchrealname},"%")</if>
	        <if test="organizes != null">
	            <foreach collection="organizes" item="item" open="and ctuou.organizeid in (" close=")" separator=",">
	                '${item}'
	            </foreach>
	        </if>
	        <if test="managerole != null and managerole != ''">and ctuu.managerole=#{managerole}</if>
	        and ctuou.delflag=0 and ctuu.status=1 and ctuu.delflag=0 
	    </where>
	    group by  ctuu.userid
	    <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getUserListByOrganizeCount" parameterType="map" resultType="int">
	    select count(0) from (
	    	select ctuu.userid,ctuu.password,ctuu.username,ctuu.phone,ctuu.isshowphone,ctuu.email,ctuu.realname,ctuu.sex,ctuu.birthday,ctuu.headimage,
		    ctuu.isfristlogin,ctuu.status,ctuu.delflag,DATE_FORMAT(ctuu.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctuu.isinvite,
		    ctuu.companyid,DATE_FORMAT(ctuu.invitetime,'%Y-%m-%d %H:%i:%S') as invitetime,DATE_FORMAT(ctuu.logintime,'%Y-%m-%d %H:%i:%S') as logintime, 
		    DATE_FORMAT(ctuu.updatetime,'%Y-%m-%d %H:%i:%S') as updatetime,ctuu.updateid,
		    ctuu.position,ctuu.managerole,cuo.organizename 
		    from c_t_use_organize_userinfo ctuou
		    left join  c_t_use_userinfo ctuu  on ctuou.userid=ctuu.userid
		    left join c_t_use_organize cuo on cuo.organizeid = ctuou.organizeid
		    <where>
		        <if test="organizeid != null and organizeid != ''">and ctuou.organizeid=#{organizeid}</if>
		        <if test="searchrealname != null and searchrealname != ''">and ctuu.realname like concat("%",#{searchrealname},"%")</if>
		        <if test="organizes != null">
		            <foreach collection="organizes" item="item" open="and ctuou.organizeid in (" close=")" separator=",">
		                '${item}'
		            </foreach>
		        </if>
		        <if test="managerole != null and managerole != ''">and ctuu.managerole=#{managerole}</if>
		        and ctuou.delflag=0 and ctuu.status=1 and ctuu.delflag=0 
		    </where>
		    group by  ctuu.userid
	    ) orgcount
	</select>
	<select id="getUserList" parameterType="map" resultType="map">
	    select ctuu.userid,ctuu.username,ctuu.phone,ctuu.isshowphone,ctuu.email,ctuu.realname,ctuu.sex,ctuu.birthday,ctuu.headimage,ctuu.isfristlogin,ctuu.status,ctuu.createtime,ctuu.isinvite,ctuu.companyid,ctuu.invitetime,ctuu.logintime,ctuu.position,ctuu.managerole,
	    (select group_concat(ctuo.organizename SEPARATOR ',')) as organizenames
	    from c_t_use_userinfo ctuu
	    left join c_t_use_organize_userinfo ctuou on ctuu.userid=ctuou.userid
	    left join c_t_use_release_range ctur on ctuu.userid=ctur.resourceid and resourcetype=14
	    left join c_t_use_organize ctuo on ctur.organizeid=ctuo.organizeid
	    <where>
	        <if test="companyid != null and companyid != ''">and ctuu.companyid=#{companyid}</if>
	        <if test="rolelist != null">
		        <foreach collection="rolelist" item="item" open="and ctuu.managerole in(" close=")" separator=",">
		            #{item}
		        </foreach>
	        </if>
	        <if test="realname != null and realname != ''">and ctuu.realname like concat("%",#{realname},"%")</if>
	        <if test="organizeid != null and organizeid != ''">and ctuou.organizeid=#{organizeid}</if>
	        and ctuou.delflag=0
	    </where>
	    GROUP BY ctuu.userid
	    <if test="startnum!=null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getUserListNum" parameterType="map" resultType="int">
	    select count(0) from 
	    (select ctuu.userid,ctuu.username,ctuu.phone,ctuu.isshowphone,ctuu.email,ctuu.realname,ctuu.sex,ctuu.birthday,ctuu.headimage,ctuu.isfristlogin,ctuu.status,ctuu.createtime,ctuu.isinvite,ctuu.companyid,ctuu.invitetime,ctuu.logintime,ctuu.position,ctuu.managerole,
	    (select group_concat(ctuo.organizename SEPARATOR ',')) as organizenames
	    from c_t_use_userinfo ctuu
	    left join c_t_use_organize_userinfo ctuou on ctuu.userid=ctuou.userid
	    left join c_t_use_release_range ctur on ctuu.userid=ctur.resourceid and resourcetype=14
	    left join c_t_use_organize ctuo on ctur.organizeid=ctuo.organizeid
	    <where>
	        <if test="companyid != null and companyid != ''">and ctuu.companyid=#{companyid}</if>
	        <foreach collection="rolelist" item="item" open="and ctuu.managerole in(" close=")" separator=",">
	            #{item}
	        </foreach>
	        <if test="realname != null and realname != ''">and ctuu.realname like concat("%",#{realname},"%")</if>
	        <if test="organizeid != null and organizeid != ''">and ctuou.organizeid=#{organizeid}</if>
	        and ctuou.delflag=0
	    </where>
	    GROUP BY ctuu.userid) a
	</select>
	<update id="updateUserLogintime" parameterType="map">
	    update c_t_use_userinfo set logintime=#{logintime} where userid=#{userid}
	</update>
	<update id="updateCompanyLogintime" parameterType="map">
	    update c_t_use_company set logintime=#{logintime} where companyid=#{companyid}
	</update>
	<select id="getUserStatistics" parameterType="map" resultType="map">
	    SELECT DATE_FORMAT(c_time.comparetime,'%Y-%m-%d') as comparetime,ifnull(count(ctuu.userid),0) as count
 		FROM c_t_manage_time c_time left join 
		c_t_use_userlog  ctuu on ctuu.usetime=c_time.comparetime
		<if test="companyid != null and companyid != ''">and ctuu.companyid=#{companyid}</if>
		<where>
			<if test="starttime != null and starttime != ''">and c_time.comparetime &gt;= #{starttime}</if>
			<if test="endtime != null and endtime != ''">and c_time.comparetime &lt;= #{endtime}</if>
		</where>
		GROUP BY c_time.comparetime
	</select>
	<select id="getNewUserStatistics" parameterType="map" resultType="map">
	    SELECT DATE_FORMAT(c_time.comparetime,'%Y-%m-%d') as comparetime,ifnull(count(ctuu.userid),0) as count
 		FROM c_t_manage_time c_time left join 
		c_t_use_userinfo  ctuu on DATE_FORMAT(ctuu.createtime,'%Y-%m-%d')=c_time.comparetime
		<where>
			<if test="starttime != null and starttime != ''">and c_time.comparetime &gt;= #{starttime}</if>
			<if test="endtime != null and endtime != ''">and c_time.comparetime &lt;= #{endtime}</if>
		</where>
		GROUP BY c_time.comparetime
	</select>
	<select id="getCompanyPowerList" parameterType="map" resultType="map">
	    select ctup.powerid,ifnull(ctup.datacode,"") as datacode,ifnull(ctup.parentid,"") as parentid,ctup.function,ctup.powername,ctup.info,ctup.edition,ctup.createtime,ctup.childnum  
	    from c_t_use_power_company ctupc
	    left join c_t_use_power ctup on ctupc.powerid=ctup.powerid
	    <where>
	        <if test="companyid != null and companyid != ''">and ctupc.companyid=#{companyid}</if>
	        and ctupc.result=1 and ctupc.delflag=0 and ctup.delflag=0
	    </where>
	    union
	    select ctup.powerid,ifnull(ctup.datacode,"") as datacode,ifnull(ctup.parentid,"") as parentid,ctup.function,ctup.powername,ctup.info,ctup.edition,ctup.createtime,ctup.childnum  
	    from c_t_use_power ctup
	    where ctup.edition=1 and ctup.delflag=0
	    group by powerid
	</select>
	
	<select id="getUserPowerList" parameterType="map" resultType="map">
	    select ctup.powerid,ifnull(ctup.datacode,"") as datacode,ifnull(ctup.parentid,"") as parentid,ctup.function,ctup.powername,ctup.info,ctup.edition,ctup.createtime,ctup.childnum  
	    from c_t_use_power_user ctupu
	    left join c_t_use_power ctup on ctupu.powerid=ctup.powerid
	    <where>
	        <if test="userid != null and userid != ''">and ctupu.ownerid=#{userid}</if>
	        and ctupu.status=1 and ctupu.delflag=0 and ctup.delflag=0
	    </where>
	</select>
	
	<select id="getUserPowerUpdateTime" parameterType="map" resultType="string">
		select 
			IFNULL(ctuu.updatepowertime,"") as updatepowertime
	    from c_t_use_userinfo ctuu
	    where ctuu.userid=#{userid}
	</select>
	
	<!-- 清空所有相同的registrationid -->
	<update id="updateUserRegistrationId" parameterType="map">
		update c_t_use_userinfo set registrationid="" where registrationid=#{registrationid};
		update c_t_use_userinfo set registrationid=#{registrationid} where userid=#{userid}
	</update>
	
</mapper>