<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.collection.dao.storefront.EverydayReportMapper">
    <insert id="insertTourStore" parameterType="map">
        insert into c_t_use_tour_store
        <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="tourstoreid != null and tourstoreid != ''">tourstoreid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="organizeid != null and organizeid != ''">organizeid,</if>
	        <if test="arrivetime != null and arrivetime != ''">arrivetime,</if>
	        <if test="leavetime !=null and leavetime != ''">leavetime,</if>
	        <if test="findproblem != null and findproblem != ''">findproblem,</if>
	        <if test="solveproblem != null and solveproblem != ''">solveproblem,</if>
	        <if test="copyuserid != null and copyuserid != ''">copyuserid,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="status != null">status,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="opinion != null and opinion != ''">opinion,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="tourstoreid != null and tourstoreid != ''">#{tourstoreid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="organizeid != null and organizeid != ''">#{organizeid},</if>
	        <if test="arrivetime != null and arrivetime != ''">#{arrivetime},</if>
	        <if test="leavetime !=null and leavetime != ''">#{leavetime},</if>
	        <if test="findproblem != null and findproblem != ''">#{findproblem},</if>
	        <if test="solveproblem != null and solveproblem != ''">#{solveproblem},</if>
	        <if test="copyuserid != null and copyuserid != ''">#{copyuserid},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="status != null">#{status},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="opinion != null and opinion != ''">#{opinion},</if>
	    </trim>
    </insert>
    <select id="getEverydayReportList" parameterType="map" resultType="map">
        select ctufu.isread,ctufu.forwarduserid,ctuer.reportid,ctuer.companyid,ctuer.organizeid,ctuer.examineuserid,ctuer.opinion,ctuer.createid,ctuer.createtime,ctuer.updatetime,ctuer.updateid,
        DATE_FORMAT(ctufu.createtime,'%Y-%m-%d') AS createdate,DATE_FORMAT(ctufu.createtime,'%H:%i') as createhour,
        ctuu.realname as createname,ctuu1.realname as examinename,ctuo.organizename,ctuer.status
        from c_t_use_everyday_report ctuer
        left join  c_t_use_forward_user ctufu on ctuer.reportid=ctufu.resourceid and resourcetype=21
        left join c_t_use_userinfo ctuu on ctuer.createid=ctuu.userid
        left join c_t_use_userinfo ctuu1 on ctuer.examineuserid=ctuu1.userid
        left join c_t_use_organize ctuo on ctuer.organizeid=ctuo.organizeid
        <where>
            <if test="companyid != null and companyid !=''">and ctuer.companyid=#{companyid}</if>
            <if test="userid != null and userid != ''">and ctufu.receiveid=#{userid}</if>
	        <if test="status != null">and ctuer.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and date(ctufu.createtime) &gt;= #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and date(ctufu.createtime) &lt;= #{endtime}</if>
            and ctufu.delflag=0 and ctufu.delflag=0
        </where>
        order by ctufu.createtime desc
        <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
    </select>
    <select id="getEverydayReportListNum" parameterType="map" resultType="int">
        select count(0) from c_t_use_everyday_report ctuer
        left join  c_t_use_forward_user ctufu on ctuer.reportid=ctufu.resourceid and resourcetype=21
        left join c_t_use_userinfo ctuu on ctuer.createid=ctuu.userid
        left join c_t_use_userinfo ctuu1 on ctuer.examineuserid=ctuu1.userid
        <where>
            <if test="companyid != null and companyid !=''">and ctuer.companyid=#{companyid}</if>
            <if test="userid != null and userid != ''">and ctufu.receiveid=#{userid}</if>
	        <if test="status != null">and ctuer.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and date(ctufu.createtime) &gt;= #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and date(ctufu.createtime) &lt;= #{endtime}</if>
	        <if test="isread != null">and ctufu.isread=#{isread}</if>
            and ctufu.delflag=0 and ctufu.delflag=0
        </where>
    </select>
    
    <!-- 每日报表统计查询 -->
    <select id="getEverydayReportListOnlyOne" parameterType="map" resultType="map">
         select ctufu.isread,ctufu.forwarduserid,ctuer.reportid,ctuer.companyid,ctuer.organizeid,ctuer.examineuserid,ctuer.opinion,ctuer.createid,ctuer.createtime,ctuer.updatetime,ctuer.updateid,
        DATE_FORMAT(ctuer.statisticaltime,'%Y-%m-%d') AS createdate,DATE_FORMAT(ctufu.createtime,'%H:%i') as createhour,
        ctuu.realname as createname,ctuu1.realname as examinename,ctuo.organizename,ctuer.status
        from c_t_use_everyday_report ctuer
        left join  c_t_use_forward_user ctufu on ctuer.reportid=ctufu.resourceid and resourcetype=21
        left join c_t_use_userinfo ctuu on ctuer.createid=ctuu.userid
        left join c_t_use_userinfo ctuu1 on ctuer.examineuserid=ctuu1.userid
        left join c_t_use_organize ctuo on ctuer.organizeid=ctuo.organizeid
        <where>
            <if test="companyid != null and companyid !=''">and ctuer.companyid=#{companyid}</if>
            <if test="organizeid != null and organizeid != ''">and ctuer.organizeid=#{organizeid}</if>
	        <if test="status != null">and ctuer.status=#{status}</if>
<!-- 	        <if test="starttime != null and starttime != ''">and date(ctuer.statisticaltime) &gt;= #{starttime}</if> -->
<!-- 	        <if test="endtime != null and endtime != ''">and date(ctuer.statisticaltime) &lt;= #{endtime}</if> -->
				<if test="starttime != null and starttime != ''">and DATE_FORMAT(ctuer.statisticaltime,'%Y-%m') = #{starttime}</if>
            and ctuer.delflag=0
        </where>
        group by ctuer.reportid
        order by ctuer.statisticaltime desc
        <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
    </select>
    <select id="getEverydayReportListNumOnlyOne" parameterType="map" resultType="int">
        select
        	count(0)
        from (
        	select ctuer.reportid from c_t_use_everyday_report ctuer
	        left join  c_t_use_forward_user ctufu on ctuer.reportid=ctufu.resourceid and resourcetype=21
	        left join c_t_use_userinfo ctuu on ctuer.createid=ctuu.userid
	        left join c_t_use_userinfo ctuu1 on ctuer.examineuserid=ctuu1.userid
	        left join c_t_use_organize ctuo on ctuer.organizeid=ctuo.organizeid
	        <where>
	            <if test="companyid != null and companyid !=''">and ctuer.companyid=#{companyid}</if>
	            <if test="organizeid != null and organizeid != ''">and ctuer.organizeid=#{organizeid}</if>
	            <if test="userid != null and userid != ''">and ctufu.receiveid=#{userid}</if>
		        <if test="status != null">and ctuer.status=#{status}</if>
<!-- 		        <if test="starttime != null and starttime != ''">and date(ctuer.statisticaltime) &gt;= #{starttime}</if> -->
<!-- 		        <if test="endtime != null and endtime != ''">and date(ctuer.statisticaltime) &lt;= #{endtime}</if> -->
				<if test="starttime != null and starttime != ''">and DATE_FORMAT(ctuer.statisticaltime,'%Y-%m') = #{starttime}</if>
	            and ctuer.delflag=0
	        </where>
	        group by ctuer.reportid
        ) TB
    </select>
    
    <select id="getEverydayReportByDate" parameterType="map" resultType="map">
        select DATE_FORMAT(ctufu.createtime,'%Y-%m-%d') AS createtime,COUNT(0) as count from c_t_use_everyday_report ctuer
	    left join  c_t_use_forward_user ctufu on ctuer.reportid=ctufu.resourceid and resourcetype=21
		<where>
		    <if test="userid != null and userid != ''">and ctufu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctuer.companyid=#{companyid}</if>
	        <if test="status != null">and ctuer.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctufu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctufu.createtime &lt; #{endtime}</if>
	        and ctuer.delflag=0 and ctufu.delflag=0
	    </where>
	    group by DATE_FORMAT(ctufu.createtime,'%Y-%m-%d')
	    order by DATE_FORMAT(ctufu.createtime,'%Y-%m-%d') desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
    </select>
    <select id="getEverydayReportByDateNum" parameterType="map" resultType="int">
        select count(0) from (select DATE_FORMAT(ctufu.createtime,'%Y-%m-%d') AS createtime,COUNT(0) as count from c_t_use_everyday_report ctuer
	    left join  c_t_use_forward_user ctufu on ctuer.reportid=ctufu.resourceid and resourcetype=21
		<where>
		    <if test="userid != null and userid != ''">and ctufu.receiveid=#{userid}</if>
	        <if test="companyid != null and companyid != ''">and ctuer.companyid=#{companyid}</if>
	        <if test="status != null">and ctuer.status=#{status}</if>
	        <if test="starttime != null and starttime != ''">and ctufu.createtime &gt; #{starttime}</if>
	        <if test="endtime != null and endtime != ''">and ctufu.createtime &lt; #{endtime}</if>
	        <if test="isread != null">and ctufu.isread=#{isread}</if>
	        and ctuer.delflag=0 and ctufu.delflag=0
	    </where>
	    group by DATE_FORMAT(ctufu.createtime,'%Y-%m-%d')
	    ) a
    </select>
    
    <select id="getReportByDate" parameterType="map" resultType="map">
        select ctufu.isread,ctufu.forwarduserid,ctuer.reportid,ctuer.companyid,ctuer.organizeid,ctuer.examineuserid,ctuer.opinion,ctuer.createid,ctuer.createtime,ctuer.updatetime,ctuer.updateid,
        DATE_FORMAT(ctufu.createtime,'%Y-%m-%d') AS createdate,DATE_FORMAT(ctufu.createtime,'%H:%i') as createhour,
        ctuu.realname as createname,ctuu1.realname as examinename,ctuo.organizename,ctuer.status
        from c_t_use_everyday_report ctuer
        left join  c_t_use_forward_user ctufu on ctuer.reportid=ctufu.resourceid and resourcetype=21
        left join c_t_use_userinfo ctuu on ctuer.createid=ctuu.userid
        left join c_t_use_userinfo ctuu1 on ctuer.examineuserid=ctuu1.userid
        left join c_t_use_organize ctuo on ctuer.organizeid=ctuo.organizeid
        <where>
            <if test="companyid != null and companyid !=''">and ctuer.companyid=#{companyid}</if>
            <if test="userid != null and userid != ''">and ctufu.receiveid=#{userid}</if>
	        <if test="status != null">and ctuer.status=#{status}</if>
	        <if test="createtime != null and createtime != ''">and DATE_FORMAT(ctufu.createtime,'%Y-%m-%d')=#{createtime}</if>
            and ctufu.delflag=0 and ctufu.delflag=0
        </where>
        order by ctufu.createtime desc
    </select>
    <select id="getEverydayReportModule" parameterType="map" resultType="map">
        select ctmet.templateid,ctmet.companyid,ctmet.templatename,ctmet.organizeid,ctmet.createid,ctmet.datacode,ctmet.createid,ctmet.createtime,ctmet.updatetime,ctmet.updateid
        from c_t_manage_everyday_template ctmet 
        left join c_t_use_releaserange_user cturu on cturu.resourceid=ctmet.templateid and cturu.resourcetype=11
        <where>
            <if test="companyid != null and companyid !=''">and ctmet.companyid=#{companyid}</if>
            <if test="organizeid != null and organizeid !=''">and ctmet.organizeid=#{organizeid}</if>
            <if test="userid != null and userid != ''">and cturu.userid=#{userid}</if>
            and ctmet.delflag=0
        </where>
    </select>
    <select id="getEverydayReportDictList" parameterType="map" resultType="map">
        select cture.extendid,cture.dataid,cture.typeid,ctmerd.dataname,ctmerd.isnum,ctmert.typename,
        ctmert.ismanyadd
        from c_t_use_reportmodule_extend cture
        left join c_t_manage_everyday_report_data ctmerd on cture.dataid=ctmerd.dataid
        left join c_t_manage_everyday_report_type ctmert on cture.typeid=ctmert.typeid
        <where>
            <if test="templateid != null and templateid != ''">and cture.templateid=#{templateid}</if>
            and cture.delflag=0
        </where>
        order by ctmerd.createtime
    </select>
    <insert id="insertEverydayReport" parameterType="map">
        insert into c_t_use_everyday_report
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="reportid != null and reportid != ''">reportid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="organizeid != null and organizeid != ''">organizeid,</if>
	        <if test="examineuserid != null and examineuserid != ''">examineuserid,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="opinion != null and opinion != ''">opinion,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="status != null">status,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="turnover != null">turnover,</if>
	        <if test="guestflow != null">guestflow,</if>
	        <if test="consumption != null">consumption,</if>
	        <if test="statisticaltime != null and statisticaltime != ''">statisticaltime,</if>
	        <if test="CCuserids != null and CCuserids != ''">CCuserids,</if>
	        <if test="CCusernames != null and CCusernames != ''">CCusernames,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="reportid != null and reportid != ''">#{reportid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="organizeid != null and organizeid != ''">#{organizeid},</if>
	        <if test="examineuserid != null and examineuserid != ''">#{examineuserid},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="opinion != null and opinion != ''">#{opinion},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="status != null">#{status},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="turnover != null">#{turnover},</if>
	        <if test="guestflow != null">#{guestflow},</if>
	        <if test="consumption != null">#{consumption},</if>
	        <if test="statisticaltime != null and statisticaltime != ''">#{statisticaltime},</if>
	        <if test="CCuserids != null and CCuserids != ''">#{CCuserids},</if>
	        <if test="CCusernames != null and CCusernames != ''">#{CCusernames},</if>
	    </trim>
    </insert>
    <insert id="insertReportExtend" parameterType="map">
        insert into c_t_use_report_extend
        <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="extendid != null and extendid != ''">extendid,</if>
	        <if test="reportid != null and reportid != ''">reportid,</if>
	        <if test="type != null and type != ''">type,</if>
	        <if test="mealdataid != null and mealdataid != ''">mealdataid,</if>
	        <if test="dataid != null and dataid != ''">dataid,</if>
	        <if test="content != null and content != ''">content,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="status != null">status,</if>
	        <if test="delflag != null">delflag,</if>
	        <if test="remark != null and remark != ''">remark,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="extendid != null and extendid != ''">#{extendid},</if>
	        <if test="reportid != null and reportid != ''">#{reportid},</if>
	        <if test="type != null and type != ''">#{type},</if>
	        <if test="mealdataid != null and mealdataid != ''">#{mealdataid},</if>
	        <if test="dataid != null and dataid != ''">#{dataid},</if>
	        <if test="content != null and content != ''">#{content},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="status != null">#{status},</if>
	        <if test="delflag != null">#{delflag},</if>
	        <if test="remark != null and remark != ''">#{remark},</if>
	    </trim>
    </insert>
    <select id="getEverydayReportInfo" parameterType="map" resultType="map">
        select ctuer.turnover,ctuer.guestflow,ctuer.consumption,DATE_FORMAT(ctuer.statisticaltime,'%Y-%m-%d') as statisticaltime,ctuer.reportid,ctuer.companyid,ctuer.organizeid,ctuer.examineuserid,ctuer.opinion,ctuer.createid,DATE_FORMAT(ctuer.createtime,'%Y-%m-%d %H:%i:%S') as createtime,ctuer.updatetime,ctuer.updateid,
        ctuu.realname as createname,ctuu1.realname as examinename,ctuo.organizename,
        ctuu.headimage as createheadimage,ctuu1.headimage as copyheadimage,ctuer.status,ctuer.CCuserids,IFNULL(ctuer.CCusernames,"") AS CCusernames
        from c_t_use_everyday_report ctuer
        left join c_t_use_userinfo ctuu on ctuer.createid=ctuu.userid
        left join c_t_use_userinfo ctuu1 on ctuer.examineuserid=ctuu1.userid
        left join c_t_use_organize ctuo on ctuer.organizeid=ctuo.organizeid
        <where>
           <if test="reportid != null and reportid != ''">and ctuer.reportid=#{reportid}</if>
        </where>
        limit 1
    </select>
    <select id="getExtendList" parameterType="map" resultType="map">
        select  cture.extendid,cture.reportid,cture.type,cture.mealdataid,cture.dataid,ifnull(cture.content,"") as content,
        cture.createid,cture.createtime,cture.updatetime,cture.updateid,cture.remark,
        ctmerd.dataname as mealdataname,ctmerd1.dataname,ctmerd1.typeid
        from c_t_use_report_extend cture
        left join  c_t_manage_everyday_report_data ctmerd on cture.mealdataid=ctmerd.dataid
        left join  c_t_manage_everyday_report_data ctmerd1 on cture.dataid=ctmerd1.dataid
		<where>
		    <if test="reportid != null and reportid != ''">and cture.reportid=#{reportid}</if>
		    and cture.delflag=0
		</where>
		order by cture.createtime 
    </select>
    	<update id="updateEverydayReport" parameterType="map">
	    update c_t_use_everyday_report
	    <set>
	        <if test="opinion != null and opinion != ''">opinion=#{opinion},</if>
	        <if test="delflag != null">delflag=#{delflag},</if>
	        <if test="status != null ">status=#{status},</if>
	        <if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
	        <if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
	    </set>
	    where reportid=#{reportid}
	</update>
	<select id="getIncomeChartByConsume" parameterType="map" resultType="map">
	    SELECT DATE_FORMAT(c_time.comparetime,'%d') as comparetime,ifnull(ctuer.turnover,0) as price
	    FROM c_t_manage_time c_time left join 
	    c_t_use_everyday_report ctuer on c_time.comparetime = DATE_FORMAT(ctuer.statisticaltime,'%Y-%m-%d')
		<if test="organizeid != null and organizeid != ''">and ctuer.organizeid = #{organizeid}</if>
		<where>
<!-- 			<if test="starttime != null and starttime != ''">and c_time.comparetime &gt;= #{starttime}</if> -->
<!-- 			<if test="stoptime != null and stoptime != ''">and c_time.comparetime &lt;= #{stoptime}</if> -->
			<if test="starttime != null and starttime != ''">and DATE_FORMAT(c_time.comparetime,'%Y-%m')= #{starttime}</if>
		</where> 
		GROUP BY c_time.comparetime
	    
	    <!-- SELECT DATE_FORMAT(c_time.comparetime,'%d') as comparetime,ifnull(a.sumprice,0) as sumprice
 		FROM c_t_manage_time c_time left join 
 		(select ifnull(sum(cture.content),0) as sumprice,DATE_FORMAT(cture.createtime,'%Y-%m-%d') as createtime from 
			c_t_use_report_extend  cture
			left join c_t_manage_everyday_report_data  ctmerd on cture.dataid= ctmerd.dataid 
			left join c_t_use_everyday_report ctuer on cture.reportid=ctuer.reportid
			<where>
			    <if test="organizeid != null and organizeid != ''">and ctuer.organizeid = #{organizeid}</if>
			    and cture.type=1  and ctmerd.typeid=2
			</where>) a on c_time.comparetime=a.createtime
		<where>
			<if test="starttime != null and starttime != ''">and c_time.comparetime &gt;= #{starttime}</if>
			<if test="stoptime != null and stoptime != ''">and c_time.comparetime &lt;= #{stoptime}</if>
		</where> 
		GROUP BY c_time.comparetime -->
	</select>
	<select id="getIncomeChartByUse" parameterType="map" resultType="map">
	    SELECT DATE_FORMAT(c_time.comparetime,'%d') as comparetime,ifnull(a.sumprice,0) as sumprice
 		FROM c_t_manage_time c_time left join 
 		(select ifnull(sum(cture.content),0) as sumprice,DATE_FORMAT(cture.createtime,'%Y-%m-%d') as createtime from 
			c_t_use_report_extend  cture
			left join c_t_manage_everyday_report_data  ctmerd on cture.dataid= ctmerd.dataid 
			left join c_t_use_everyday_report ctuer on cture.reportid=ctuer.reportid
			<where>
			    <if test="organizeid != null and organizeid != ''">and ctuer.organizeid = #{organizeid}</if>
			    and cture.type=1  and ctmerd.isconsume=1 and ctmerd.typeid=3
			</where>) a on c_time.comparetime=a.createtime
		<where>
			<if test="starttime != null and starttime != ''">and c_time.comparetime &gt;= #{starttime}</if>
			<if test="stoptime != null and stoptime != ''">and c_time.comparetime &lt;= #{stoptime}</if>
		</where> 
		GROUP BY c_time.comparetime
	</select>
	<select id="getReportFlowChart" parameterType="map" resultType="map">
	    SELECT DATE_FORMAT(c_time.comparetime,'%d') as comparetime,ifnull(ctuer.guestflow,0) as sumdata
	    FROM c_t_manage_time c_time left join 
	    c_t_use_everyday_report ctuer  on c_time.comparetime = DATE_FORMAT(ctuer.statisticaltime,'%Y-%m-%d')
		<if test="organizeid != null and organizeid != ''">and ctuer.organizeid = #{organizeid}</if>
		<where>
<!-- 			<if test="starttime != null and starttime != ''">and c_time.comparetime &gt;= #{starttime}</if> -->
<!-- 			<if test="stoptime != null and stoptime != ''">and c_time.comparetime &lt;= #{stoptime}</if> -->
				<if test="starttime != null and starttime != ''">and DATE_FORMAT(c_time.comparetime,'%Y-%m')= #{starttime}</if>
		</where> 
		GROUP BY c_time.comparetime
	    
	    <!-- SELECT DATE_FORMAT(c_time.comparetime,'%d') as comparetime,ifnull(a.sumdata,0) as sumdata
 		FROM c_t_manage_time c_time left join 
 		(select ifnull(sum(cture.content),0) as sumdata,DATE_FORMAT(cture.createtime,'%Y-%m-%d') as createtime from 
			c_t_use_report_extend  cture
			left join c_t_use_everyday_report ctuer on cture.reportid=ctuer.reportid
			<where>
			    <if test="organizeid != null and organizeid != ''">and ctuer.organizeid = #{organizeid}</if>
			    and cture.type=1  and cture.dataid=9
			</where>) a on c_time.comparetime=a.createtime
		<where>
			<if test="starttime != null and starttime != ''">and c_time.comparetime &gt;= #{starttime}</if>
			<if test="stoptime != null and stoptime != ''">and c_time.comparetime &lt;= #{stoptime}</if>
		</where> 
		GROUP BY c_time.comparetime -->
	</select>
	<select id="getReportConsumptionChart" parameterType="map" resultType="map">
	    SELECT DATE_FORMAT(c_time.comparetime,'%d') as comparetime,ifnull(ctuer.consumption,0) as sumdata
	    FROM c_t_manage_time c_time left join 
	    c_t_use_everyday_report ctuer  on c_time.comparetime = DATE_FORMAT(ctuer.statisticaltime,'%Y-%m-%d')
		<if test="organizeid != null and organizeid != ''">and ctuer.organizeid = #{organizeid}</if>
		<where>
<!-- 			<if test="starttime != null and starttime != ''">and c_time.comparetime &gt;= #{starttime}</if> -->
<!-- 			<if test="stoptime != null and stoptime != ''">and c_time.comparetime &lt;= #{stoptime}</if> -->
				<if test="starttime != null and starttime != ''">and DATE_FORMAT(c_time.comparetime,'%Y-%m')= #{starttime}</if>
		</where> 
		GROUP BY c_time.comparetime
	    
	    <!-- SELECT DATE_FORMAT(c_time.comparetime,'%d') as comparetime,ifnull(a.sumdata,0) as sumdata
 		FROM c_t_manage_time c_time left join 
 		(select ifnull(sum(cture.content),0) as sumdata,DATE_FORMAT(cture.createtime,'%Y-%m-%d') as createtime from 
			c_t_use_report_extend  cture
			left join c_t_use_everyday_report ctuer on cture.reportid=ctuer.reportid
			<where>
			    <if test="organizeid != null and organizeid != ''">and ctuer.organizeid = #{organizeid}</if>
			    and cture.type=1  and cture.dataid=10
			</where>) a on c_time.comparetime=a.createtime
		<where>
			<if test="starttime != null and starttime != ''">and c_time.comparetime &gt;= #{starttime}</if>
			<if test="stoptime != null and stoptime != ''">and c_time.comparetime &lt;= #{stoptime}</if>
		</where> 
		GROUP BY c_time.comparetime -->
	</select>
	<select id="getReportConsumptionChartCount" parameterType="map" resultType="int">
	    SELECT count(0)
	    FROM c_t_use_everyday_report ctuer
		<where>
			<if test="organizeid != null and organizeid != ''">and ctuer.organizeid = #{organizeid}</if>
			<if test="starttime != null and starttime != ''">and DATE_FORMAT(ctuer.statisticaltime,'%Y-%m')= #{starttime}</if>
		</where> 
	</select>
	<select id="getReportSatisfyChart" parameterType="map" resultType="map">
	   SELECT DATE_FORMAT(c_time.comparetime, '%d') AS comparetime, CAST(ifnull(avg(tastescore), 0) as decimal(11,1)) AS tastescore, CAST(ifnull(avg(environmentscore), 0)  as decimal(11,1)) AS environmentscore,  CAST(ifnull(avg(servicescore), 0) as decimal(11,1)) AS servicescore, CAST(ifnull(avg(pricescore), 0) as decimal(11,1)) AS pricescore
			, CAST(ifnull(avg(averagescore), 0) as decimal(11,1)) AS averagescore
		FROM c_t_manage_time c_time
		LEFT JOIN c_t_use_store_evaluate  ctuse on DATE_FORMAT(ctuse.createtime,'%Y-%m-%d')=c_time.comparetime 
		<if test="organizeid != null and organizeid != ''">and ctuse.organizeid = #{organizeid}</if>
		<where>
<!-- 			<if test="starttime != null and starttime != ''">and c_time.comparetime &gt;= #{starttime}</if> -->
<!-- 			<if test="stoptime != null and stoptime != ''">and c_time.comparetime &lt;= #{stoptime}</if> -->
			<if test="starttime != null and starttime != ''">and DATE_FORMAT(c_time.comparetime,'%Y-%m')= #{starttime}</if>
		</where> 
		GROUP BY c_time.comparetime
	</select>
	<select id="getReportSatisfyChartCount" parameterType="map" resultType="int">
	   select
	   		count(0)
	   from (
		   	SELECT 
				ctuse.createtime
			FROM c_t_use_store_evaluate ctuse
			<where>
				<if test="organizeid != null and organizeid != ''">and ctuse.organizeid = #{organizeid}</if>
				<if test="starttime != null and starttime != ''">and DATE_FORMAT(ctuse.createtime,'%Y-%m')= #{starttime}</if>
			</where> 
			GROUP BY DATE_FORMAT(ctuse.createtime,'%Y-%m-%d')
	   ) TB
	</select>
	
	
	<select id="getReportAttendanceChartAll" parameterType="map" resultType="map">
	    SELECT DATE_FORMAT(c_time.comparetime,'%d') as comparetime,ifnull(a.sumprice,0) as sumprice
 		FROM c_t_manage_time c_time left join 
 		(select ifnull(cture.content,0) as sumprice,DATE_FORMAT(ctuer.statisticaltime,'%Y-%m-%d') as createtime from 
			c_t_use_report_extend  cture
			left join c_t_use_everyday_report ctuer on cture.reportid=ctuer.reportid
			<where>
			    <if test="organizeid != null and organizeid != ''">and ctuer.organizeid = #{organizeid}</if>
			     and cture.type=3  and cture.dataid=19
			</where>) a on c_time.comparetime=a.createtime
		<where>
<!-- 			<if test="starttime != null and starttime != ''">and c_time.comparetime &gt;= #{starttime}</if> -->
<!-- 			<if test="stoptime != null and stoptime != ''">and c_time.comparetime &lt;= #{stoptime}</if> -->
			<if test="starttime != null and starttime != ''">and DATE_FORMAT(c_time.comparetime,'%Y-%m')= #{starttime}</if>
		</where> 
		GROUP BY c_time.comparetime
	</select>
	
	<select id="getReportAttendanceChart" parameterType="map" resultType="map">
	    SELECT DATE_FORMAT(c_time.comparetime,'%d') as comparetime,ifnull(a.sumprice,0) as sumprice
 		FROM c_t_manage_time c_time left join 
 		(select ifnull(cture.content,0) as sumprice,DATE_FORMAT(ctuer.statisticaltime,'%Y-%m-%d') as createtime from 
			c_t_use_report_extend  cture
			left join c_t_use_everyday_report ctuer on cture.reportid=ctuer.reportid
			<where>
			    <if test="organizeid != null and organizeid != ''">and ctuer.organizeid = #{organizeid}</if>
			    <if test="dataids != null and dataids != ''">
			        <foreach collection="dataids" open="and cture.dataid in (" close=")" separator="," item="item">
			            ${item}
			        </foreach>
			    </if>
			    and cture.type=3
			</where>) a on c_time.comparetime=a.createtime
		<where>
<!-- 			<if test="starttime != null and starttime != ''">and c_time.comparetime &gt;= #{starttime}</if> -->
<!-- 			<if test="stoptime != null and stoptime != ''">and c_time.comparetime &lt;= #{stoptime}</if> -->
			<if test="starttime != null and starttime != ''">and DATE_FORMAT(c_time.comparetime,'%Y-%m')= #{starttime}</if>
		</where> 
		GROUP BY c_time.comparetime
	</select>
	
	<select id="getReportModuleList" parameterType="map" resultType="map">
        select ctmet.templateid,ctmet.companyid,ctmet.templatename,ctmet.organizeid,ctmet.createid,ctmet.datacode,ctmet.createid,ctmet.createtime,ctmet.updatetime,ctmet.updateid
        from c_t_manage_everyday_template ctmet
        <where>
            <if test="companyid != null and companyid !=''">and ctmet.companyid=#{companyid}</if>
            <if test="organizeid != null and organizeid !=''">and ctmet.organizeid=#{organizeid}</if>
            and ctmet.delflag=0
        </where>
    </select>
    <select id="getTypeList" resultType="map">
        select typeid,typename,createid,createtime,datacode,ismanyadd from c_t_manage_everyday_report_type where delflag=0
        order by createtime
    </select>
    <select id="getDictList" resultType="map" parameterType="map">
        select dataid,dataname,isnum,typeid,createid,createtime,datacode,isconsume from c_t_manage_everyday_report_data
        <where>
            <if test="typeid != null and typeid != ''">and typeid=#{typeid}</if>
            and delflag=0
        </where>
        order by createtime asc
    </select>
    <insert id="insertTemplate" parameterType="map">
        insert into c_t_manage_everyday_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="templateid != null and templateid != ''">templateid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="organizeid != null and organizeid != ''">organizeid,</if>
	        <if test="templatename != null and templatename != ''">templatename,</if>
	        <if test="datacode !=null and datacode != ''">datacode,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="status != null">status,</if>
	        <if test="delflag != null">delflag,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="templateid != null and templateid != ''">#{templateid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="organizeid != null and organizeid != ''">#{organizeid},</if>
	        <if test="templatename != null and templatename != ''">#{templatename},</if>
	        <if test="datacode !=null and datacode != ''">#{datacode},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="status != null">#{status},</if>
	        <if test="delflag != null">#{delflag},</if>
	    </trim>
    </insert>
    <insert id="insertReportTemplateExtend" parameterType="map">
        insert into c_t_use_reportmodule_extend
        <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="extendid != null and extendid != ''">extendid,</if>
	        <if test="templateid != null and templateid != ''">templateid,</if>
	        <if test="dataid != null and dataid != ''">dataid,</if>
	        <if test="typeid != null and typeid != ''">typeid,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="status != null">status,</if>
	        <if test="delflag != null">delflag,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="extendid != null and extendid != ''">#{extendid},</if>
	        <if test="templateid != null and templateid != ''">#{templateid},</if>
	        <if test="dataid != null and dataid != ''">#{dataid},</if>
	        <if test="typeid != null and typeid != ''">#{typeid},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="status != null">#{status},</if>
	        <if test="delflag != null">#{delflag},</if>
	    </trim>
    </insert>
    <update id="updateTemplate" parameterType="map">
        update c_t_manage_everyday_template
        <set>
            <if test="delflag != null ">delflag=#{delflag},</if>
            <if test="organizeid != null and organizeid != ''">organizeid=#{organizeid},</if>
            <if test="templatename != null and templatename != ''">templatename=#{templatename},</if>
            <if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
            <if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
        </set>
        where templateid=#{templateid}
    </update>
    <select id="getTemplateInfo" parameterType="map" resultType="map">
        select templateid,companyid,organizeid,templatename,datacode,createid,createtime,updatetime,updateid from c_t_manage_everyday_template
        <where>
            <if test="templateid != null and templateid != ''">and templateid=#{templateid}</if>
        </where>
        limit 1
    </select>
    <select id="getTemplateExtend" parameterType="map" resultType="map">
        select dataid,extendid,templateid,templateid,typeid,createid,createtime,delflag,updatetime,updateid 
        from c_t_use_reportmodule_extend
        <where>
            <if test="templateid != null and templateid != ''">and templateid=#{templateid}</if>
            and delflag=0
        </where>
        order by createtime desc
    </select>
    <delete id="deleteTemplateExtend" parameterType="map">
        delete from c_t_use_reportmodule_extend where templateid=#{templateid}
    </delete>
    
    <!-- 根据组织id查询组织信息 -->
    <select id="getOrganizeByOrganizeid" parameterType="map" resultType="map">
    	select
    		*
    	from c_t_use_organize
    	where organizeid=#{organizeid}
    	limit 1
    </select>
    <select id="getTodayReport" parameterType="map" resultType="map">
        select * from c_t_use_everyday_report
        <where>
            <if test="organizeid != null and organizeid != ''">and organizeid=#{organizeid}</if>
            and to_days(statisticaltime)=to_days(#{statisticaltime})
        </where>
    </select>
    <select id="getLastBianjiNum" parameterType="map" resultType="string" >
        select ifnull(content,"") as content from  c_t_use_report_extend  ctre
        left join c_t_use_everyday_report ctuer on ctre.reportid=ctuer.reportid
        <where>
            <if test="organizeid != null and organizeid != ''">and ctuer.organizeid=#{organizeid}</if>
            and ctre.dataid=18
        </where>
        order by ctre.createtime desc
        limit 1
    </select>
</mapper>