 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.collection.dao.oa.ApprovalMapper">
    
    <!-- app 通用审批 列表-->
	<select id="getCurrencyExamineList" parameterType="map" resultType="map">
	   select
	        a.forwarduserid,a.isread,b.currencyexamineid,b.content,b.details,b.result,b.examineuserid,
	        b.opinion,date_format(b.createtime,"%Y-%m-%d %H:%i") as createtime ,b.`status`
	        ,c.realname as createname,c.headimage as crheadimg,d.realname as examinename,d.headimage as exheadimg
	   from 
		    c_t_use_currencyexamine b   
		   left join c_t_use_forward_user a on a.resourceid = b.currencyexamineid and a.resourcetype=15
		   left join  c_t_use_userinfo c on c.userid = b.createid 
		   left join  c_t_use_userinfo d on d.userid = b.examineuserid 
	      <where>
	      	 <if test="companyid != null and companyid != ''">and a.companyid=#{companyid}</if>
	      	 <if test="userid != null and userid != ''">and a.receiveid=#{userid}</if>
	      	 <if test="status != null">and b.status=#{status}</if>
	         <if test="starttime != null and starttime !=''">and b.createtime &gt;= concat(#{starttime}," 00:00:00")</if>
	         <if test="endtime != null and endtime !=''">and b.createtime &lt;= concat(#{endtime}," 23:59:59")</if>
	         and a.delflag=0 and b.delflag=0
	      </where>
	      order by b.createtime desc
	     <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<!-- app 通用审批 记录数 -->
	<select id="getCurrencyExamineListCount" parameterType="map" resultType="int">
	    select
	        count(*)
	   from 
		    c_t_use_currencyexamine b   
		   left join c_t_use_forward_user a on a.resourceid = b.currencyexamineid and a.resourcetype=15
		   left join  c_t_use_userinfo c on c.userid = b.createid 
		   left join  c_t_use_userinfo d on d.userid = b.examineuserid 
	      <where>
	      	 <if test="companyid != null and companyid != ''">and a.companyid=#{companyid}</if>
	      	 <if test="userid != null and userid != ''">and a.receiveid=#{userid}</if>
	      	 <if test="status != null">and b.status=#{status}</if>
	         <if test="begintime != null and begintime !=''">and b.createtime &gt;= concat(#{starttime}," 00:00:00")</if>
	         <if test="endtime != null and endtime !=''">and b.createtime &lt;= concat(#{endtime}," 23:59:59")</if>
	         <if test="isread != null">and a.isread=#{isread}</if>
	         and a.delflag=0 and b.delflag=0
	      </where>
	</select>
	
	<!-- 查询通用审批的时间列表信息 -->
	<select id="getCurrencyExamineTimesList" parameterType="map" resultType="map">
	   select
	        distinct date_format(b.createtime,"%Y-%m-%d") as createtime
	   from 
		    c_t_use_currencyexamine b   
		   left join c_t_use_forward_user a on a.resourceid = b.currencyexamineid and a.resourcetype=15
		   left join  c_t_use_userinfo c on c.userid = b.createid 
		   left join  c_t_use_userinfo d on d.userid = b.examineuserid 
	      <where>
	      	 <if test="companyid != null and companyid != ''">and a.companyid=#{companyid}</if>
	      	 <if test="userid != null and userid != ''">and a.receiveid=#{userid}</if>
	      	 <if test="status != null">and b.status=#{status}</if>
	         <if test="begintime != null and begintime !=''">and b.createtime &gt;= concat(#{starttime}," 00:00:00")</if>
	         <if test="endtime != null and endtime !=''">and b.createtime &lt;= concat(#{endtime}," 23:59:59")</if>
	         and a.delflag=0 and b.delflag=0
	      </where>
	      order by b.createtime desc
	     <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	
	<!-- 查询通用审批的时间列表的总数 -->
	<select id="getCurrencyExamineTimesCount" parameterType="map" resultType="int">
	   select count(*)
	   from (
	   		select
		        distinct date_format(b.createtime,"%Y-%m-%d") as createtime
		   from 
			    c_t_use_currencyexamine b   
		   left join c_t_use_forward_user a on a.resourceid = b.currencyexamineid and a.resourcetype=15
			   left join  c_t_use_userinfo c on c.userid = b.createid 
			   left join  c_t_use_userinfo d on d.userid = b.examineuserid 
	      <where>
	      	 <if test="companyid != null and companyid != ''">and a.companyid=#{companyid}</if>
	      	 <if test="userid != null and userid != ''">and a.receiveid=#{userid}</if>
	      	 <if test="status != null">and b.status=#{status}</if>
	         <if test="begintime != null and begintime !=''">and b.createtime &gt;= concat(#{starttime}," 00:00:00")</if>
	         <if test="endtime != null and endtime !=''">and b.createtime &lt;= concat(#{endtime}," 23:59:59")</if>
	         <if test="isread != null">and a.isread=#{isread}</if>
	         and a.delflag=0 and b.delflag=0
	      </where>
	   ) cye
	</select>
	
	<!-- 查询通用审批的信息详情 -->
	<select id="getCurrencyExamineDetailInfo" parameterType="map" resultType="map">
		select 
			cuc.currencyexamineid,cuc.companyid,cuc.content,cuc.details,cuc.result,cuc.examineuserid,cuc.opinion,
			cuc.createid,DATE_FORMAT(cuc.createtime,"%Y-%m-%d %H:%i") as createtime,cuc.createid,
			DATE_FORMAT(cuc.updatetime,"%Y-%m-%d %H:%i") as updatetime,
			cuc.status,cuu.realname as createname,cuu1.realname as examinename,
			cuu.headimage as crheadimage,cuu1.headimage as exheadimage,cuc.CCuserids,IFNULL(cuc.CCusernames,"") as CCusernames
		from c_t_use_currencyexamine cuc
		left join c_t_use_userinfo cuu on cuu.userid=cuc.createid
		left join c_t_use_userinfo cuu1 on cuu1.userid=cuc.examineuserid
		where cuc.currencyexamineid=#{currencyexamineid} and cuc.delflag=0
	</select>
	
	<!-- 提交审核通用审批信息 -->
	<update id="updateCurrencyExamineInfo" parameterType="map">
		update c_t_use_currencyexamine
		<set>
			<if test="result != null">result=#{result},</if>
			<if test="opinion != null and opinion != ''">opinion=#{opinion},</if>
			<if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
			<if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
			<if test="status != null">status=#{status},</if>
		</set>
		where currencyexamineid=#{currencyexamineid}
	</update>
	
	<!-- 新增通用审批 -->
	<insert id="inserCurrencyExamine" parameterType="map">
	    insert into c_t_use_currencyexamine
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="currencyexamineid != null and currencyexamineid != ''">currencyexamineid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="content != null and content != ''">content,</if>
	        <if test="details != null and details != ''">details,</if>
	        <if test="result != null and result != ''">result,</if>
	        <if test="examineuserid != null and examineuserid != ''">examineuserid,</if>
	        <if test="opinion != null and opinion != ''">opinion,</if>
	        <if test="createid != null and createid != ''">createid,</if>
	        <if test="delflag != null and delflag != ''">delflag,</if>
	        <if test="status != null and status != ''">status,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="updatetime != null and updatetime != ''">updatetime,</if>
	        <if test="updateid != null and updateid != ''">updateid,</if>
	        <if test="CCuserids != null and CCuserids != ''">CCuserids,</if>
	        <if test="CCusernames != null and CCusernames != ''">CCusernames,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="currencyexamineid != null and currencyexamineid != ''">#{currencyexamineid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	        <if test="content != null and content != ''">#{content},</if>
	        <if test="details != null and details != ''">#{details},</if>
	        <if test="result != null and result != ''">#{result},</if>
	        <if test="examineuserid != null and examineuserid != ''">#{examineuserid},</if>
	        <if test="opinion != null and opinion != ''">#{opinion},</if>
	        <if test="createid != null and createid != ''">#{createid},</if>
	        <if test="delflag != null and delflag != ''">#{delflag},</if>
	        <if test="status != null and status != ''">#{status},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="updatetime != null and updatetime != ''">#{updatetime},</if>
	        <if test="updateid != null and updateid != ''">#{updateid},</if>
	        <if test="CCuserids != null and CCuserids != ''">#{CCuserids},</if>
	        <if test="CCusernames != null and CCusernames != ''">#{CCusernames},</if>
	    </trim>
	</insert>
 
</mapper>