<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.collection.dao.oa.JournalMapper">
    
    <!-- app 日志 列表-->
	<select id="getJournalList" parameterType="map" resultType="map">
	    select * from (
		  (select 1 as jotype,a.forwarduserid as id,a.isread,a.receiveid,b.dailyid as pid,b.time,b.completedwork,b.notcompletedwork as worksummary ,1 as nextplan,b.needhelp,b.remark,
		    b.result,b.commentuserid,b.createtime,b.commentlevel,b.`status`,c.realname,a.companyid
		  from c_t_use_daily b 
		  left join c_t_use_forward_user a on a.resourceid = b.dailyid and a.resourcetype = 23  
		  left join c_t_use_userinfo c on c.userid = b.userid
		   where b.delflag = 0 and a.delflag = 0  and c.delflag = 0
		  )
		  union all 
		  (
		  select 2 as jotype,a.forwarduserid as id,a.isread,a.receiveid,b.weeklyid as pid,b.time,b.completedwork,b.worksummary,b.nextplan,b.needhelp,b.remark,
		    b.result,b.commentuserid,b.createtime,b.commentlevel,b.`status`,c.realname,a.companyid
		  from c_t_use_weekly b  
		  left join c_t_use_forward_user a on a.resourceid = b.weeklyid and a.resourcetype = 24 
		  left join c_t_use_userinfo c on c.userid = b.userid
		     where b.delflag = 0 and a.delflag = 0  and c.delflag = 0
		  )
		  union all 
		  (
		  select 3 as jotype,a.forwarduserid as id,a.isread,a.receiveid,b.monthlyid as pid,b.time,b.completedwork,b.worksummary,b.nextplan,b.needhelp,b.remark,
		    b.result,b.commentuserid,b.createtime,b.commentlevel,b.`status`,c.realname,a.companyid
		  from c_t_use_monthly b  
		  left join c_t_use_forward_user a on a.resourceid = b.monthlyid and a.resourcetype = 25 
		  left join c_t_use_userinfo c on c.userid = b.userid
		    where b.delflag = 0 and a.delflag = 0 and c.delflag = 0
		  )
		  
		  union all 
		  (
		     select 1 as jotype,a.id,a.isread,a.userid as receiveid,b.dailyid as pid,b.time,b.completedwork,b.notcompletedwork as worksummary ,1 as nextplan,b.needhelp,b.remark,
		    b.result,b.commentuserid,b.createtime,b.commentlevel,b.`status`,c.realname,a.companyid 
		    from c_t_use_daily b 
		    left join c_t_use_releaserange_user a on a.resourceid = b.dailyid and a.resourcetype = 4
		    left join c_t_use_userinfo c on c.userid = b.userid
		     where b.delflag = 0 and a.delflag = 0 and c.delflag = 0
		  )
		  
		  union all
		  (
		     select 2 as jotype,a.id,a.isread,a.userid as receiveid,b.weeklyid as pid,b.time,b.completedwork,b.worksummary,b.nextplan,b.needhelp,b.remark,
		     b.result,b.commentuserid,b.createtime,b.commentlevel,b.`status`,c.realname,a.companyid  
		     from  c_t_use_weekly b  
		     left join c_t_use_releaserange_user a  on a.resourceid = b.weeklyid and a.resourcetype = 5
		     left join c_t_use_userinfo c on c.userid = b.userid
		      where b.delflag = 0 and a.delflag = 0  and c.delflag = 0
		  )
		  
		  union all 
		  
		  ( 
		     select 3 as jotype,a.id,a.isread,a.userid as receiveid,b.monthlyid as pid,b.time,b.completedwork,b.worksummary,b.nextplan,b.needhelp,b.remark,
		    b.result,b.commentuserid,b.createtime,b.commentlevel,b.`status`,c.realname,a.companyid 
		    from c_t_use_monthly b 
		    left join c_t_use_releaserange_user a on a.resourceid = b.monthlyid and a.resourcetype = 6
		     left join c_t_use_userinfo c on c.userid = b.userid
		    where b.delflag = 0 and a.delflag = 0 and c.delflag = 0

		  )
		  
		  ) as ju 
		  
	      <where>
	      	 <if test="status != null">and ju.status=#{status}</if>
	         <if test="receiveid != null and receiveid != ''">and ju.receiveid = #{receiveid}</if>
	         <if test="companyid != null and companyid != ''">and ju.companyid=#{companyid}</if>
	         <if test="status != null">and ju.status=#{status}</if>
	         <if test="pid != null and pid != ''">and ju.pid = #{pid}</if>
	         <if test="searchContent != null and searchContent != ''">and (locate(#{searchContent},ju.realname) > 0 
	         		or locate(#{searchContent},ju.completedwork) > 0 or locate(#{searchContent},ju.worksummary) > 0
	         		or locate(#{searchContent},ju.needhelp) > 0)
	         </if>
	         <if test="starttime != null and starttime != ''">and ju.createtime&gt;=CONCAT(#{starttime}," 00:00:00")</if>
	         <if test="endtime != null and endtime != ''">and ju.createtime&lt;=CONCAT(#{endtime}," 23:59:59")</if>
	      </where>
	      order by ju.createtime desc
	     <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<!-- app 日志总记录数 -->
	<select id="getJournalListCount" parameterType="map" resultType="int">
	      select count(*) from (
		  (select 1 as jotype,a.forwarduserid as id,a.isread,a.receiveid,b.dailyid as pid,b.time,b.completedwork,b.notcompletedwork as worksummary ,1 as nextplan,b.needhelp,b.remark,
		    b.result,b.commentuserid,b.createtime,b.commentlevel,b.`status`,c.realname,a.companyid
		  from c_t_use_daily b 
		  left join c_t_use_forward_user a on a.resourceid = b.dailyid and a.resourcetype = 23  
		  left join c_t_use_userinfo c on c.userid = b.userid
		   where b.delflag = 0 and a.delflag = 0  and c.delflag = 0
		  )
		  union all 
		  (
		  select 2 as jotype,a.forwarduserid as id,a.isread,a.receiveid,b.weeklyid as pid,b.time,b.completedwork,b.worksummary,b.nextplan,b.needhelp,b.remark,
		    b.result,b.commentuserid,b.createtime,b.commentlevel,b.`status`,c.realname,a.companyid
		  from c_t_use_weekly b  
		  left join c_t_use_forward_user a on a.resourceid = b.weeklyid and a.resourcetype = 24 
		  left join c_t_use_userinfo c on c.userid = b.userid
		     where b.delflag = 0 and a.delflag = 0  and c.delflag = 0
		  )
		  union all 
		  (
		  select 3 as jotype,a.forwarduserid as id,a.isread,a.receiveid,b.monthlyid as pid,b.time,b.completedwork,b.worksummary,b.nextplan,b.needhelp,b.remark,
		    b.result,b.commentuserid,b.createtime,b.commentlevel,b.`status`,c.realname,a.companyid
		  from c_t_use_monthly b  
		  left join c_t_use_forward_user a on a.resourceid = b.monthlyid and a.resourcetype = 25 
		  left join c_t_use_userinfo c on c.userid = b.userid
		    where b.delflag = 0 and a.delflag = 0 and c.delflag = 0
		  )
		  
		  union all 
		  (
		     select 1 as jotype,a.id,a.isread,a.userid as receiveid,b.dailyid as pid,b.time,b.completedwork,b.notcompletedwork as worksummary ,1 as nextplan,b.needhelp,b.remark,
		    b.result,b.commentuserid,b.createtime,b.commentlevel,b.`status`,c.realname,a.companyid 
		    from c_t_use_daily b 
		    left join c_t_use_releaserange_user a on a.resourceid = b.dailyid and a.resourcetype = 4
		    left join c_t_use_userinfo c on c.userid = b.userid
		     where b.delflag = 0 and a.delflag = 0 and c.delflag = 0
		  )
		  
		  union all
		  (
		     select 2 as jotype,a.id,a.isread,a.userid as receiveid,b.weeklyid as pid,b.time,b.completedwork,b.worksummary,b.nextplan,b.needhelp,b.remark,
		     b.result,b.commentuserid,b.createtime,b.commentlevel,b.`status`,c.realname,a.companyid  
		     from  c_t_use_weekly b  
		     left join c_t_use_releaserange_user a  on a.resourceid = b.weeklyid and a.resourcetype = 5
		     left join c_t_use_userinfo c on c.userid = b.userid
		      where b.delflag = 0 and a.delflag = 0  and c.delflag = 0
		  )
		  
		  union all 
		  
		  ( 
		     select 3 as jotype,a.id,a.isread,a.userid as receiveid,b.monthlyid as pid,b.time,b.completedwork,b.worksummary,b.nextplan,b.needhelp,b.remark,
		    b.result,b.commentuserid,b.createtime,b.commentlevel,b.`status`,c.realname,a.companyid 
		    from c_t_use_monthly b 
		    left join c_t_use_releaserange_user a on a.resourceid = b.monthlyid and a.resourcetype = 6
		     left join c_t_use_userinfo c on c.userid = b.userid
		    where b.delflag = 0 and a.delflag = 0 and c.delflag = 0

		  )
		  
		  ) as ju 
		  
	      <where>
	      	 <if test="status != null">and ju.status=#{status}</if>
	         <if test="receiveid != null and receiveid != ''">and ju.receiveid = #{receiveid}</if>
	         <if test="companyid != null and companyid != ''">and ju.companyid=#{companyid}</if>
	         <if test="searchContent != null and searchContent != ''">and( locate(#{searchContent},ju.realname) > 0 
	         		or locate(#{searchContent},ju.completedwork) > 0 or locate(#{searchContent},ju.worksummary) > 0
	         		or locate(#{searchContent},ju.needhelp) > 0)
	         </if>
	         <if test="status != null">and ju.status=#{status}</if>
	         <if test="pid != null and pid != ''">and ju.pid = #{pid}</if>
	         <if test="isread != null">and ju.isread=#{isread}</if>
	      </where>
	</select>
	
	<!-- 查询日志的时间列表信息 -->
	<select id="getJournalTimesList" parameterType="map" resultType="map">
		select 
			distinct date_format(createtime,"%Y-%m-%d") as createtime
		from (
			select
				distinct cd.createtime,cd.completedwork,cd.notcompletedwork as worksummary,cd.needhelp,cu.realname
			from c_t_use_daily cd
			left join c_t_use_forward_user cfu on cfu.resourceid = cd.dailyid and cfu.resourcetype = 23
			left join c_t_use_userinfo cu on cu.userid=cd.userid
			where cfu.companyid=#{companyid} and cd.status=1
			and cfu.receiveid=#{receiveid} and cd.delflag=0 and cfu.delflag=0
			union
			select
				distinct cd.createtime,cd.completedwork,cd.worksummary,cd.needhelp,cu.realname
			from c_t_use_weekly cd
			left join c_t_use_forward_user cfu on cfu.resourceid = cd.weeklyid and cfu.resourcetype = 24
			left join c_t_use_userinfo cu on cu.userid=cd.userid
			where cfu.companyid=#{companyid} and cd.status=1
			and cfu.receiveid=#{receiveid} and cd.delflag=0 and cfu.delflag=0
			union
			select
				distinct cd.createtime,cd.completedwork,cd.worksummary,cd.needhelp,cu.realname
			from c_t_use_monthly cd
			left join c_t_use_forward_user cfu on cfu.resourceid = cd.monthlyid and cfu.resourcetype = 25
			left join c_t_use_userinfo cu on cu.userid=cd.userid
			where cfu.companyid=#{companyid} and cd.status=1
			and cfu.receiveid=#{receiveid} and cd.delflag=0 and cfu.delflag=0
			union
			select
				distinct cd.createtime,cd.completedwork,cd.notcompletedwork as worksummary,cd.needhelp,cu.realname
			from c_t_use_daily cd
			left join c_t_use_releaserange_user cru on cd.dailyid=cru.resourceid and cru.resourcetype=4
			left join c_t_use_userinfo cu on cu.userid=cd.userid
			where cru.companyid=#{companyid} and cd.status=1
			and cru.userid=#{receiveid} and cd.delflag=0 and cru.delflag=0
			union
			select
				distinct cd.createtime,cd.completedwork,cd.worksummary,cd.needhelp,cu.realname
			from c_t_use_weekly cd
			left join c_t_use_releaserange_user cru on cd.weeklyid=cru.resourceid and cru.resourcetype=5
			left join c_t_use_userinfo cu on cu.userid=cd.userid
			where cru.companyid=#{companyid} and cd.status=1
			and cru.userid=#{receiveid} and cd.delflag=0 and cru.delflag=0
			union
			select
				distinct cd.createtime,cd.completedwork,cd.worksummary,cd.needhelp,cu.realname
			from c_t_use_monthly cd
			left join c_t_use_releaserange_user cru on cd.monthlyid=cru.resourceid and cru.resourcetype=6
			left join c_t_use_userinfo cu on cu.userid=cd.userid
			where cru.companyid=#{companyid} and cd.status=1
			and cru.userid=#{receiveid} and cd.delflag=0 and cru.delflag=0
		) ju
		<where>
			<if test="searchContent != null and searchContent != ''">and locate(#{searchContent},ju.realname) > 0 
	         		or locate(#{searchContent},ju.completedwork) > 0 or locate(#{searchContent},ju.worksummary) > 0
	         		or locate(#{searchContent},ju.needhelp) > 0
	         </if>
		</where>
		order by ju.createtime desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	
	<!-- 查询日志的时间列表的总数 -->
	<select id="getJournalTimesListCount" parameterType="map" resultType="int">
		select 
			count(*)
		from (
			select
				distinct cd.createtime,cd.completedwork,cd.notcompletedwork as worksummary,cd.needhelp,cu.realname,cfu.isread
			from c_t_use_daily cd
			left join c_t_use_forward_user cfu on cfu.resourceid = cd.dailyid and cfu.resourcetype = 23
			left join c_t_use_userinfo cu on cu.userid=cd.userid
			where cfu.companyid=#{companyid} and cd.status=1
			and cfu.receiveid=#{receiveid} and cd.delflag=0 and cfu.delflag=0
			union
			select
				distinct cd.createtime,cd.completedwork,cd.worksummary,cd.needhelp,cu.realname,cfu.isread
			from c_t_use_weekly cd
			left join c_t_use_forward_user cfu on cfu.resourceid = cd.weeklyid and cfu.resourcetype = 24
			left join c_t_use_userinfo cu on cu.userid=cd.userid
			where cfu.companyid=#{companyid} and cd.status=1
			and cfu.receiveid=#{receiveid} and cd.delflag=0 and cfu.delflag=0
			union
			select
				distinct cd.createtime,cd.completedwork,cd.worksummary,cd.needhelp,cu.realname,cfu.isread
			from c_t_use_monthly cd
			left join c_t_use_forward_user cfu on cfu.resourceid = cd.monthlyid and cfu.resourcetype = 25
			left join c_t_use_userinfo cu on cu.userid=cd.userid
			where cfu.companyid=#{companyid} and cd.status=1
			and cfu.receiveid=#{receiveid} and cd.delflag=0 and cfu.delflag=0
			union
			select
				distinct cd.createtime,cd.completedwork,cd.notcompletedwork as worksummary,cd.needhelp,cu.realname,cru.isread
			from c_t_use_daily cd
			left join c_t_use_releaserange_user cru on cd.dailyid=cru.resourceid and cru.resourcetype=4
			left join c_t_use_userinfo cu on cu.userid=cd.userid
			where cru.companyid=#{companyid} and cd.status=1
			and cru.userid=#{receiveid} and cd.delflag=0 and cru.delflag=0
			union
			select
				distinct cd.createtime,cd.completedwork,cd.worksummary,cd.needhelp,cu.realname,cru.isread
			from c_t_use_weekly cd
			left join c_t_use_releaserange_user cru on cd.weeklyid=cru.resourceid and cru.resourcetype=5
			left join c_t_use_userinfo cu on cu.userid=cd.userid
			where cru.companyid=#{companyid} and cd.status=1
			and cru.userid=#{receiveid} and cd.delflag=0 and cru.delflag=0
			union
			select
				distinct cd.createtime,cd.completedwork,cd.worksummary,cd.needhelp,cu.realname,cru.isread
			from c_t_use_monthly cd
			left join c_t_use_releaserange_user cru on cd.monthlyid=cru.resourceid and cru.resourcetype=6
			left join c_t_use_userinfo cu on cu.userid=cd.userid
			where cru.companyid=#{companyid} and cd.status=1
			and cru.userid=#{receiveid} and cd.delflag=0 and cru.delflag=0
		) ju
		<where>
			<if test="searchContent != null and searchContent != ''">and locate(#{searchContent},ju.realname) > 0 
	         		or locate(#{searchContent},ju.completedwork) > 0 or locate(#{searchContent},ju.worksummary) > 0
	         		or locate(#{searchContent},ju.needhelp) > 0
	         </if>
	         <if test="isread != null">and ju.isread=#{isread}</if>
		</where>
	</select>
	
	<!-- 查询日志详情 -->
	<select id="getLogDetailInfo" parameterType="map" resultType="map">
		<if test="jotype != null and jotype != ''">
			<if test="jotype == 1">
				select
					1 as jotype,cd.dailyid as logid,cd.companyid,cd.time,cd.completedwork,cd.notcompletedwork as worksummary,"" as nextplan,cd.needhelp,cd.remark,cd.result,
					cu1.realname as commentusername,cd.commentuserid,cu.realname as createname,date_format(cd.createtime,"%Y-%m-%d %H:%i") as createtime,
					date_format(cd.updatetime,"%Y-%m-%d %H:%i") as updatetime,
					cu.headimage as createheadimage,cu1.headimage as  commentheadimage,cd.userid,
					cd.commentlevel,cd.status,cd.CCuserids,IFNULL(cd.CCusernames,"") AS CCusernames
				from c_t_use_daily cd
				left join c_t_use_userinfo cu on cu.userid=cd.userid
				left join c_t_use_userinfo cu1 on cu1.userid=cd.commentuserid
				where cd.dailyid=#{logid} and cd.delflag=0
			</if>
			<if test="jotype == 2">
				select 
					2 as jotype,cw.weeklyid as logid,cw.companyid,cw.time,cw.completedwork,cw.worksummary,cw.nextplan,cw.needhelp,cw.remark,cw.result,
					cu1.realname as commentusername,cw.commentuserid,cu.realname as createname,date_format(cw.createtime,"%Y-%m-%d %H:%i") as createtime,
					cw.commentlevel,cw.status,date_format(cw.updatetime,"%Y-%m-%d %H:%i") as updatetime,
					cu.headimage as createheadimage,cu1.headimage as  commentheadimage,cw.userid,cw.CCuserids,IFNULL(cw.CCusernames,"") AS CCusernames
				from c_t_use_weekly cw 
				left join c_t_use_userinfo cu on cu.userid=cw.userid
				left join c_t_use_userinfo cu1 on cu1.userid=cw.commentuserid
				where cw.weeklyid=#{logid} and cw.delflag=0
			</if>
			<if test="jotype == 3">
				select
					3 as jotype,cm.monthlyid as logid,cm.companyid,cm.time,cm.completedwork,cm.worksummary,cm.nextplan,cm.needhelp,cm.remark,cm.result,
					cu1.realname as commentusername,cm.commentuserid,cu.realname as createname,date_format(cm.createtime,"%Y-%m-%d %H:%i") as createtime,
					date_format(cm.updatetime,"%Y-%m-%d %H:%i") as updatetime,
					cu.headimage as createheadimage,cu1.headimage as  commentheadimage,cm.userid,
					cm.commentlevel,cm.status,cm.CCuserids,IFNULL(cm.CCusernames,"") AS CCusernames
				from c_t_use_monthly cm
				left join c_t_use_userinfo cu on cu.userid=cm.userid
				left join c_t_use_userinfo cu1 on cu1.userid=cm.commentuserid
				where cm.monthlyid=#{logid} and cm.delflag=0
			</if>
		</if>
	</select>
	
	<!-- 新增日报 -->
	<insert id="insertDaily" parameterType="map">
	    insert into c_t_use_daily
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="dailyid != null and dailyid != ''">dailyid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="time != null and time != ''">time,</if>
	        <if test="completedwork != null and completedwork != ''">completedwork,</if>
	        <if test="notcompletedwork != null and notcompletedwork != ''">notcompletedwork,</if>
	        <if test="needhelp != null and needhelp != ''">needhelp,</if>
	        <if test="remark != null and remark != ''">remark,</if>
	        <if test="result != null and result != ''">result,</if>
	        <if test="commentuserid != null and commentuserid != ''">commentuserid,</if>
	        <if test="commentlevel != null and commentlevel != ''">commentlevel,</if>
	        <if test="userid != null and userid != ''">userid,</if>
	        <if test="delflag != null and delflag != ''">delflag,</if>
	        <if test="status != null and status != ''">status,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="updatetime != null and updatetime != ''">updatetime,</if>
	        <if test="updateid != null and updateid != ''">updateid,</if>
	        <if test="CCuserids != null and CCuserids != ''">CCuserids,</if>
	        <if test="CCusernames != null and CCusernames != ''">CCusernames,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="dailyid != null and dailyid != ''">#{dailyid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	      	<if test="time != null and time != ''">#{time},</if>
	        <if test="completedwork != null and completedwork != ''">#{completedwork},</if>
	        <if test="notcompletedwork != null and notcompletedwork != ''">#{notcompletedwork},</if>
	        <if test="needhelp != null and needhelp != ''">#{needhelp},</if>
	        <if test="remark != null and remark != ''">#{remark},</if>
	        <if test="result != null and result != ''">#{result},</if>
	        <if test="commentuserid != null and commentuserid != ''">#{commentuserid},</if>
	        <if test="commentlevel != null and commentlevel != ''">#{commentlevel},</if>
	        <if test="userid != null and userid != ''">#{userid},</if>
	        <if test="delflag != null and delflag != ''">#{delflag},</if>
	        <if test="status != null and status != ''">#{status},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="updatetime != null and updatetime != ''">#{updatetime},</if>
	        <if test="updateid != null and updateid != ''">#{updateid},</if>
	        <if test="CCuserids != null and CCuserids != ''">#{CCuserids},</if>
	        <if test="CCusernames != null and CCusernames != ''">#{CCusernames},</if>
	    </trim>
	</insert>
	
	<!-- 新增周报 -->
	<insert id="insertWeekly" parameterType="map">
	    insert into c_t_use_weekly
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="weeklyid != null and weeklyid != ''">weeklyid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="time != null and time != ''">time,</if>
	        <if test="completedwork != null and completedwork != ''">completedwork,</if>
	        <if test="worksummary != null and worksummary != ''">worksummary,</if>
	        <if test="nextplan != null and nextplan != ''">nextplan,</if>
	        <if test="needhelp != null and needhelp != ''">needhelp,</if>
	        <if test="remark != null and remark != ''">remark,</if>
	        <if test="result != null and result != ''">result,</if>
	        <if test="commentuserid != null and commentuserid != ''">commentuserid,</if>
	        <if test="commentlevel != null and commentlevel != ''">commentlevel,</if>
	        <if test="userid != null and userid != ''">userid,</if>
	        <if test="delflag != null and delflag != ''">delflag,</if>
	        <if test="status != null and status != ''">status,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="updatetime != null and updatetime != ''">updatetime,</if>
	        <if test="updateid != null and updateid != ''">updateid,</if>
	        <if test="CCuserids != null and CCuserids != ''">CCuserids,</if>
	        <if test="CCusernames != null and CCusernames != ''">CCusernames,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="weeklyid != null and weeklyid != ''">#{weeklyid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	      	<if test="time != null and time != ''">#{time},</if>
	        <if test="completedwork != null and completedwork != ''">#{completedwork},</if>
	        <if test="worksummary != null and worksummary != ''">#{worksummary},</if>
	        <if test="nextplan != null and nextplan != ''">#{nextplan},</if>
	        <if test="needhelp != null and needhelp != ''">#{needhelp},</if>
	        <if test="remark != null and remark != ''">#{remark},</if>
	        <if test="result != null and result != ''">#{result},</if>
	        <if test="commentuserid != null and commentuserid != ''">#{commentuserid},</if>
	        <if test="commentlevel != null and commentlevel != ''">#{commentlevel},</if>
	        <if test="userid != null and userid != ''">#{userid},</if>
	        <if test="delflag != null and delflag != ''">#{delflag},</if>
	        <if test="status != null and status != ''">#{status},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="updatetime != null and updatetime != ''">#{updatetime},</if>
	        <if test="updateid != null and updateid != ''">#{updateid},</if>
	        <if test="CCuserids != null and CCuserids != ''">#{CCuserids},</if>
	        <if test="CCusernames != null and CCusernames != ''">#{CCusernames},</if>
	    </trim>
	</insert>
	
	
	<!-- 新增月报 -->
	<insert id="insertMonthly" parameterType="map">
	    insert into c_t_use_monthly
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="monthlyid != null and monthlyid != ''">monthlyid,</if>
	        <if test="companyid != null and companyid != ''">companyid,</if>
	        <if test="time != null and time != ''">time,</if>
	        <if test="completedwork != null and completedwork != ''">completedwork,</if>
	        <if test="worksummary != null and worksummary != ''">worksummary,</if>
	        <if test="nextplan != null and nextplan != ''">nextplan,</if>
	        <if test="needhelp != null and needhelp != ''">needhelp,</if>
	        <if test="remark != null and remark != ''">remark,</if>
	        <if test="result != null and result != ''">result,</if>
	        <if test="commentuserid != null and commentuserid != ''">commentuserid,</if>
	        <if test="commentlevel != null and commentlevel != ''">commentlevel,</if>
	        <if test="userid != null and userid != ''">userid,</if>
	        <if test="delflag != null and delflag != ''">delflag,</if>
	        <if test="status != null and status != ''">status,</if>
	        <if test="createtime != null and createtime != ''">createtime,</if>
	        <if test="updatetime != null and updatetime != ''">updatetime,</if>
	        <if test="updateid != null and updateid != ''">updateid,</if>
	        <if test="CCuserids != null and CCuserids != ''">CCuserids,</if>
	        <if test="CCusernames != null and CCusernames != ''">CCusernames,</if>
	    </trim>
	    <trim prefix="values(" suffix=")" suffixOverrides=",">
	        <if test="monthlyid != null and monthlyid != ''">#{monthlyid},</if>
	        <if test="companyid != null and companyid != ''">#{companyid},</if>
	      	<if test="time != null and time != ''">#{time},</if>
	        <if test="completedwork != null and completedwork != ''">#{completedwork},</if>
	        <if test="worksummary != null and worksummary != ''">#{worksummary},</if>
	        <if test="nextplan != null and nextplan != ''">#{nextplan},</if>
	        <if test="needhelp != null and needhelp != ''">#{needhelp},</if>
	        <if test="remark != null and remark != ''">#{remark},</if>
	        <if test="result != null and result != ''">#{result},</if>
	        <if test="commentuserid != null and commentuserid != ''">#{commentuserid},</if>
	        <if test="commentlevel != null and commentlevel != ''">#{commentlevel},</if>
	        <if test="userid != null and userid != ''">#{userid},</if>
	        <if test="delflag != null and delflag != ''">#{delflag},</if>
	        <if test="status != null and status != ''">#{status},</if>
	        <if test="createtime != null and createtime != ''">#{createtime},</if>
	        <if test="updatetime != null and updatetime != ''">#{updatetime},</if>
	        <if test="updateid != null and updateid != ''">#{updateid},</if>
	        <if test="CCuserids != null and CCuserids != ''">#{CCuserids},</if>
	        <if test="CCusernames != null and CCusernames != ''">#{CCusernames},</if>
	    </trim>
	</insert>
	
	
	<!-- 提交抄送人意见 -->
	<update id="updateJournalInfo" parameterType="map">
		update
		<if test="jotype==1">c_t_use_daily </if>
		<if test="jotype==2">c_t_use_weekly </if>
		<if test="jotype==3">c_t_use_monthly </if>
		set commentlevel=#{commentlevel},updatetime=#{updatetime},updateid=#{updateid},
		status=1,result=1
		<where>
			<if test="jotype==1">and dailyid=#{logid}</if>
			<if test="jotype==2">and weeklyid=#{logid}</if>
			<if test="jotype==3">and monthlyid=#{logid}</if>
		</where>
	</update>
	
</mapper>