<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.collection.dao.worksheet.OrganizeTemplateMapper">

	<!-- 添加组织的检查模板信息 -->
	<insert id="insertOrganizeTemplateInfo" parameterType="map">
		insert into c_t_use_organize_template
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="templateid != null and templateid != ''">templateid,</if>
			<if test="companyid != null and companyid != ''">companyid,</if>
			<if test="organizeid != null and organizeid != ''">organizeid,</if>
			<if test="typeid != null and typeid != ''">typeid,</if>
			<if test="templatename != null and templatename != ''">templatename,</if>
			
			<if test="dataid != null and dataid != ''">dataid,</if>
			<if test="delflag != null">delflag,</if>
			<if test="priority != null and priority != ''">priority,</if>
			<if test="createtime != null and createtime != ''">createtime,</if>
			<if test="createid != null and createid != ''">createid,</if>
			
			<if test="updatetime != null and updatetime != ''">updatetime,</if>
			<if test="updateid != null and updateid != ''">updateid,</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="templateid != null and templateid != ''">#{templateid},</if>
			<if test="companyid != null and companyid != ''">#{companyid},</if>
			<if test="organizeid != null and organizeid != ''">#{organizeid},</if>
			<if test="typeid != null and typeid != ''">#{typeid},</if>
			<if test="templatename != null and templatename != ''">#{templatename},</if>
			
			<if test="dataid != null and dataid != ''">#{dataid},</if>
			<if test="delflag != null">#{delflag},</if>
			<if test="priority != null and priority != ''">#{priority},</if>
			<if test="createtime != null and createtime != ''">#{createtime},</if>
			<if test="createid != null and createid != ''">#{createid},</if>
			
			<if test="updatetime != null and updatetime != ''">#{updatetime},</if>
			<if test="updateid != null and updateid != ''">#{updateid},</if>
		</trim>
	</insert>
	
	<!-- 添加组织的检查的项目名称 -->
	<insert id="insertOrganizeTemplateProjectInfo" parameterType="map">
		insert into c_t_use_organize_template_project
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="projectid != null and projectid != ''">projectid,</if>
			<if test="templateid != null and templateid != ''">templateid,</if>
			<if test="projectname != null and projectname != ''">projectname,</if>
			<if test="dataid != null and dataid != ''">dataid,</if>
			<if test="delflag != null">delflag,</if>
			
			<if test="priority != null and priority != ''">priority,</if>
			<if test="createtime != null and createtime != ''">createtime,</if>
			<if test="createid != null and createid != ''">createid,</if>
			<if test="updatetime != null and updatetime != ''">updatetime,</if>
			<if test="updateid != null and updateid != ''">updateid,</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="projectid != null and projectid != ''">#{projectid},</if>
			<if test="templateid != null and templateid != ''">#{templateid},</if>
			<if test="projectname != null and projectname != ''">#{projectname},</if>
			<if test="dataid != null and dataid != ''">#{dataid},</if>
			<if test="delflag != null">#{delflag},</if>
			
			<if test="priority != null and priority != ''">#{priority},</if>
			<if test="createtime != null and createtime != ''">#{createtime},</if>
			<if test="createid != null and createid != ''">#{createid},</if>
			<if test="updatetime != null and updatetime != ''">#{updatetime},</if>
			<if test="updateid != null and updateid != ''">#{updateid},</if>
		</trim>
	</insert>

	<!-- 修改检查模板信息 -->
	<update id="updateOrganizeTemplateInfo" parameterType="map">
		update c_t_use_organize_template 
		<set>
			<if test="templatename != null and templatename != ''">templatename=#{templatename},</if>
			<if test="delflag != null">delflag=#{delflag},</if>
			<if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
			<if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
		</set>
		where templateid=#{templateid}
	</update>
	
	<!-- 修改组织检查项目信息 -->
	<update id="updateOrganizeTemplateProjectInfo" parameterType="map">
		update c_t_use_organize_template_project
		<set>
			<if test="projectname != null and projectname != ''">projectname=#{projectname},</if>
			<if test="delflag != null">delflag=#{delflag},</if>
			<if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
			<if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
		</set>
		where projectid=#{projectid}
	</update>

	<!-- 查询组织模板列表信息 -->
	<select id="getOrganizeTemplateListInfo" parameterType="map" resultType="map">
		select 
			templateid,companyid,organizeid,typeid,templatename
		from c_t_use_organize_template
		<where>
			<if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
			<if test="organizeid != null and organizeid != ''">and organizeid=#{organizeid}</if>
			<if test="typeid != null and typeid != ''">and typeid=#{typeid}</if>
			and delflag=0
		</where>
		order by priority
	</select>
	
	<!-- 查询组织检查项目信息 -->
	<select id="getOrganizeTemplateProjectListInfo" parameterType="map" resultType="map">
		select
			projectid,templateid,projectname
		from c_t_use_organize_template_project
		<where>
			delflag=0
			<if test="templateid != null and templateid != ''">and templateid=#{templateid}</if>
		</where>
		order by priority
	</select>
	
	<!-- 查询检查模板的排序值的最大值 -->
	<select id="getOrganizeTemplateMaxPriority" parameterType="map" resultType="int">
		select
			(ifnull(max(priority),0) + 1) as priority
		from c_t_use_organize_template
		<where>
			<if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
			<if test="organizeid != null and organizeid != ''">and organizeid=#{organizeid}</if>
			<if test="typeid != null and typeid != ''">and typeid=#{typeid}</if>
		</where>
	</select>
	
	<!-- 查询检查项目的最大的排序值 -->
	<select id="getOrganizeTemplateProjectMaxPriority" parameterType="map" resultType="int">
		select
			(ifnull(max(priority),0) + 1) as priority
		from c_t_use_organize_template_project
		where templateid=#{templateid}
	</select>
	
	<!-- 判断模板名称时候重复 -->
	<select id="getOrganizeTemplateNameIsExsit" parameterType="map" resultType="int">
		select 
			count(*)
		from c_t_use_organize_template
		where companyid=#{companyid} and organizeid=#{organizeid} and typeid=#{typeid} and templatename=#{templatename}
		and delflag=0 
		<if test="templateid != null and templateid != ''">and templateid!=#{templateid}</if>
	</select>

</mapper>