<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.collection.dao.worksheet.RewardInfoMapper">

	<!-- 查询奖励单列表信息 -->
	<select id="getRewardListInfo" parameterType="map" resultType="map">
		select 
			id,companyid,receiveid,resourceid,isread,date_format(createtime,"%Y-%m-%d %H:%i") as createtime,
			rewardid,realname,resulttext,examineuserid,status,result
		from (
			select
				cfu.forwarduserid as id,cfu.companyid,cfu.receiveid,cfu.resourceid,cfu.isread,cfu.createtime,
				cro.rewardid,cuu.realname,ifnull(cro.resulttext,cdd.cname) as resulttext,cro.examineuserid,cro.status,cro.result
			from c_t_use_reward_order cro
			left join c_t_use_forward_user cfu on cro.rewardid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cro.rewarduserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cro.rewardresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
				<if test="cfu_delflag != null">and cfu.delflag=#{cfu_delflag}</if>
				<if test="status != null and status != -1">and cro.status=#{status}</if>
				<if test="result != null">and cro.result=#{result}</if>
				<if test="cro_delflag != null">and cro.delflag=#{cro_delflag}</if>
			</where>
			UNION
			select 
				cru.id,cru.companyid,cru.userid as receiveid,cru.resourceid,cru.isread,cru.createtime,
				cro.rewardid,cuu.realname,ifnull(cro.resulttext,cdd.cname) as resulttext,cro.examineuserid,cro.status,cro.result
			from c_t_use_reward_order cro 
			left join c_t_use_releaserange_user cru on cro.rewardid=cru.resourceid and cru.resourcetype=#{cru_resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cro.rewarduserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cro.rewardresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cru.userid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cru.companyid=#{companyid}</if>
				<if test="cfu_delflag != null">and cru.delflag=#{cfu_delflag}</if>
				<if test="status != null and status != -1">and cro.status=#{status}</if>
				<if test="result != null">and cro.result=#{result}</if>
				<if test="cro_delflag != null">and cro.delflag=#{cro_delflag}</if>
			</where>
		) reward
		<where>
			<if test="begintime != null and begintime != ''">and reward.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and reward.createtime&lt;concat(#{endtime}," 23:59:59")</if>
		</where>
		order by reward.createtime desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	
	<!-- 查询奖励单列表信息总数 -->
	<select id="getRewardListCount" parameterType="map" resultType="int">
		select 
			count(*)
		from (
			select
				cfu.forwarduserid as id,cfu.companyid,cfu.receiveid,cfu.resourceid,cfu.isread,cfu.createtime,
				cro.rewardid,cuu.realname,ifnull(cro.resulttext,cdd.cname) as resulttext
			from c_t_use_reward_order cro
			left join c_t_use_forward_user cfu on cro.rewardid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cro.rewarduserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cro.rewardresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
				<if test="cfu_delflag != null">and cfu.delflag=#{cfu_delflag}</if>
				<if test="status != null and status != -1">and cro.status=#{status}</if>
				<if test="result != null">and cro.result=#{result}</if>
				<if test="cro_delflag != null">and cro.delflag=#{cro_delflag}</if>
				<if test="isread != null">and cfu.isread=#{isread}</if>
			</where>
			UNION
			select 
				cru.id,cru.companyid,cru.userid as receiveid,cru.resourceid,cru.isread,cru.createtime,
				cro.rewardid,cuu.realname,ifnull(cro.resulttext,cdd.cname) as resulttext
			from c_t_use_reward_order cro 
			left join c_t_use_releaserange_user cru on cro.rewardid=cru.resourceid and cru.resourcetype=#{cru_resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cro.rewarduserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cro.rewardresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cru.userid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cru.companyid=#{companyid}</if>
				<if test="cfu_delflag != null">and cru.delflag=#{cfu_delflag}</if>
				<if test="status != null and status != -1">and cro.status=#{status}</if>
				<if test="result != null">and cro.result=#{result}</if>
				<if test="cro_delflag != null">and cro.delflag=#{cro_delflag}</if>
				<if test="isread != null">and cru.isread=#{isread}</if>
			</where>
		) reward
		<where>
			<if test="begintime != null and begintime != ''">and reward.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and reward.createtime&lt;concat(#{endtime}," 23:59:59")</if>
		</where>
	</select>
	
	<!-- 查询奖励单已完成的时间 -->
	<select id="getRewardListTimes" parameterType="map" resultType="map">
		select 
			DISTINCT DATE_FORMAT(createtime,'%Y-%m-%d') as createtime
		from (
			select
				cfu.createtime
			from  c_t_use_reward_order cro
			left join c_t_use_forward_user cfu on cro.rewardid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cro.rewarduserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cro.rewardresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
				<if test="cfu_delflag != null">and cfu.delflag=#{cfu_delflag}</if>
				<if test="status != null">and cro.status=#{status}</if>
				<if test="result != null">and cro.result=#{result}</if>
				<if test="cro_delflag != null">and cro.delflag=#{cro_delflag}</if>
			</where>
			UNION
			select 
				cru.createtime
			from c_t_use_reward_order cro
			left join c_t_use_releaserange_user cru on cro.rewardid=cru.resourceid and cru.resourcetype=#{cru_resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cro.rewarduserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cro.rewardresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cru.userid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cru.companyid=#{companyid}</if>
				<if test="cfu_delflag != null">and cru.delflag=#{cfu_delflag}</if>
				<if test="status != null">and cro.status=#{status}</if>
				<if test="result != null">and cro.result=#{result}</if>
				<if test="cro_delflag != null">and cro.delflag=#{cro_delflag}</if>
			</where>
		) reward
		<where>
			<if test="begintime != null and begintime != ''">and reward.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and reward.createtime&lt;concat(#{endtime}," 23:59:59")</if>
		</where>
		order by reward.createtime desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	
	<!-- 查询已完成的奖励单的总数 -->
	<select id="getRewardListTimesCount" parameterType="map" resultType="int">
		select 
			count(*)
		from (
			select
				cfu.createtime
			from  c_t_use_reward_order cro
			left join c_t_use_forward_user cfu on cro.rewardid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cro.rewarduserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cro.rewardresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
				<if test="cfu_delflag != null">and cfu.delflag=#{cfu_delflag}</if>
				<if test="status != null">and cro.status=#{status}</if>
				<if test="result != null">and cro.result=#{result}</if>
				<if test="cro_delflag != null">and cro.delflag=#{cro_delflag}</if>
				<if test="isread != null">and cfu.isread=#{isread}</if>
			</where>
			UNION
			select 
				cru.createtime
			from c_t_use_reward_order cro
			left join c_t_use_releaserange_user cru on cro.rewardid=cru.resourceid and cru.resourcetype=#{cru_resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cro.rewarduserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cro.rewardresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cru.userid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cru.companyid=#{companyid}</if>
				<if test="cfu_delflag != null">and cru.delflag=#{cfu_delflag}</if>
				<if test="status != null">and cro.status=#{status}</if>
				<if test="result != null">and cro.result=#{result}</if>
				<if test="cro_delflag != null">and cro.delflag=#{cro_delflag}</if>
				<if test="isread != null">and cru.isread=#{isread}</if>
			</where>
		) reward
		<where>
			<if test="begintime != null and begintime != ''">and reward.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and reward.createtime&lt;concat(#{endtime}," 23:59:59")</if>
		</where>
	</select>
	
	<!-- 查询奖励单详情 -->
	<select id="getRewardDetailInfo" parameterType="map" resultType="map">
		select
			cro.rewardid,cuu3.realname,cro.organizename,cuu3.position,cro.reason,ifnull(cro.resulttext,cdd.cname) as resulttext,cro.rewardresult,
			cro.result,cro.examineuserid,cuu1.realname as examineusername,cuu1.headimage as examineheadimage,
			cro.opinion,cro.createid,cuu2.realname as createname,cuu2.headimage as createheadimage,
			date_format(cro.createtime,"%Y-%m-%d %H:%i") as createtime,cro.status,cuu.headimage,
			date_format(cro.updatetime,"%Y-%m-%d %H:%i") as examinetime,cro.CCuserids,IFNULL(cro.CCusernames,"") AS CCusernames
		from c_t_use_reward_order cro
		left join c_t_use_userinfo cuu on cuu.userid=cro.rewarduserid
		left join c_t_manage_dict_data cdd on cdd.dataid=cro.rewardresult
		left join c_t_use_userinfo cuu1 on cuu1.userid=cro.examineuserid
		left join c_t_use_userinfo cuu2 on cuu2.userid=cro.createid
		left join c_t_use_userinfo cuu3 on cuu3.userid=cro.rewarduserid
		<where>
			<if test="rewardid != null and rewardid != ''">and cro.rewardid=#{rewardid}</if>
			<if test="delflag != null">and cro.delflag=#{delflag}</if>
			<if test="status != null">and cro.status=#{status}</if>
		</where>
		limit 1
	</select>
	
	<!-- 添加奖励单信息 -->
	<insert id="insertRewardInfo" parameterType="map">
		insert into c_t_use_reward_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="rewardid != null and rewardid != ''">rewardid,</if>
			<if test="companyid != null and companyid != ''">companyid,</if>
			<if test="rewarduserid != null and rewarduserid != ''">rewarduserid,</if>
			<if test="realname != null and realname != ''">realname,</if>
			<if test="organizename != null and organizename != ''">organizename,</if>
			
			<if test="position != null and position != ''">position,</if>
			<if test="reason != null and reason != ''">reason,</if>
			<if test="rewardresult != null and rewardresult != ''">rewardresult,</if>
			<if test="resulttext != null and resulttext != ''">resulttext,</if>
			<if test="result != null and result != ''">result,</if>
			
			<if test="examineuserid != null and examineuserid != ''">examineuserid,</if>
			<if test="opinion != null and opinion != ''">opinion,</if>
			<if test="createid != null and createid != ''">createid,</if>
			<if test="delflag != null">delflag,</if>
			<if test="createtime != null and createtime != ''">createtime,</if>
			
			<if test="updatetime != null and updatetime != ''">updatetime,</if>
			<if test="updateid != null and updateid != ''">updateid,</if>
			<if test="status != null">status,</if>
			
			<if test="CCuserids != null and CCuserids != ''">CCuserids,</if>
			<if test="CCusernames != null and CCusernames != ''">CCusernames,</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="rewardid != null and rewardid != ''">#{rewardid},</if>
			<if test="companyid != null and companyid != ''">#{companyid},</if>
			<if test="rewarduserid != null and rewarduserid != ''">#{rewarduserid},</if>
			<if test="realname != null and realname != ''">#{realname},</if>
			<if test="organizename != null and organizename != ''">#{organizename},</if>
			
			<if test="position != null and position != ''">#{position},</if>
			<if test="reason != null and reason != ''">#{reason},</if>
			<if test="rewardresult != null and rewardresult != ''">#{rewardresult},</if>
			<if test="resulttext != null and resulttext != ''">#{resulttext},</if>
			<if test="result != null and result != ''">#{result},</if>
			
			<if test="examineuserid != null and examineuserid != ''">#{examineuserid},</if>
			<if test="opinion != null and opinion != ''">#{opinion},</if>
			<if test="createid != null and createid != ''">#{createid},</if>
			<if test="delflag != null">#{delflag},</if>
			<if test="createtime != null and createtime != ''">#{createtime},</if>
			
			<if test="updatetime != null and updatetime != ''">#{updatetime},</if>
			<if test="updateid != null and updateid != ''">#{updateid},</if>
			<if test="status != null">#{status},</if>
			
			<if test="CCuserids != null and CCuserids != ''">#{CCuserids},</if>
			<if test="CCusernames != null and CCusernames != ''">#{CCusernames},</if>
		</trim>
	</insert>
	
	<!-- 修改奖励单信息 -->
	<update id="updateRewarddInfo" parameterType="map">
		update c_t_use_reward_order
		<set>
			
			<if test="result != null and result != ''">result=#{result},</if>
			
			<if test="opinion != null and opinion != ''">opinion=#{opinion},</if>
			
			<if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
			<if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
			<if test="status != null">status=#{status},</if>
		</set>
		<where>
			<if test="rewardid != null and rewardid != ''">and rewardid=#{rewardid}</if>
		</where>
	</update>
	
	<!-- 查询奖励类型信息 -->
	<select id="getDictionListInfo" parameterType="map" resultType="map">
		select
			dataid,cname
		from c_t_manage_dict_data where typeid=#{typeid}
		order by priority asc,createtime asc
	</select>
	
<!-- 一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一处罚单一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一 -->
	
	
	<!-- 查询处罚单信息 -->
	<select id="getPunishListInfo" parameterType="map" resultType="map">
		select 
			id,companyid,receiveid,resourceid,isread,date_format(createtime,"%Y-%m-%d %H:%i") as createtime,punishid,realname,resulttext,examineuserid,status,result
		from (
			select
				cfu.forwarduserid as id,cfu.companyid,cfu.receiveid,cfu.resourceid,cfu.isread,cfu.createtime,
				cpo.punishid,cuu.realname,cdd.cname as resulttext,cpo.examineuserid,cpo.status,cpo.result
			from c_t_use_punish_order cpo
			inner join c_t_use_forward_user cfu on cpo.punishid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cpo.punishuserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cpo.punishresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
				<if test="delflag != null">and cfu.delflag=#{delflag}</if>
				<if test="status != null and status != -1">and cpo.status=#{status}</if>
				<if test="result != null">and cpo.result=#{result}</if>
				<if test="delflag != null">and cpo.delflag=#{delflag}</if>
			</where>
			UNION
			select
				cru.id,cru.companyid,cru.userid as receiveid,cru.resourceid,cru.isread,cru.createtime,
				cpo.punishid,cuu.realname,cdd.cname as resulttext,cpo.examineuserid,cpo.status,cpo.result
			from c_t_use_punish_order cpo
			inner join c_t_use_releaserange_user cru on cpo.punishid=cru.resourceid and cru.resourcetype=#{cru_resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cpo.punishuserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cpo.punishresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cru.userid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cru.companyid=#{companyid}</if>
				<if test="delflag != null">and cru.delflag=#{delflag}</if>
				<if test="status != null and status != -1">and cpo.status=#{status}</if>
				<if test="result != null">and cpo.result=#{result}</if>
				<if test="delflag != null">and cpo.delflag=#{delflag}</if>
			</where>
		) punish 
		<where>
			<if test="begintime != null and begintime != ''">and punish.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and punish.createtime&lt;concat(#{endtime}," 23:59:59")</if>
		</where>
		order by punish.createtime desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	
	<!-- 查询惩罚单数据的总数 -->
	<select id="getPunishListCount" parameterType="map" resultType="int">
		select 
			count(*)
		from (
			select
				cfu.forwarduserid as id,cfu.companyid,cfu.receiveid,cfu.resourceid,cfu.isread,cfu.createtime,
				cpo.punishid,cuu.realname,cdd.cname as resulttext
			from c_t_use_punish_order cpo
			inner join c_t_use_forward_user cfu on cpo.punishid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cpo.punishuserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cpo.punishresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
				<if test="delflag != null">and cfu.delflag=#{delflag}</if>
				<if test="status != null and status != -1">and cpo.status=#{status}</if>
				<if test="result != null">and cpo.result=#{result}</if>
				<if test="delflag != null">and cpo.delflag=#{delflag}</if>
				<if test="isread != null">and cfu.isread=#{isread}</if>
			</where>
			UNION
			select
				cru.id,cru.companyid,cru.userid as receiveid,cru.resourceid,cru.isread,cru.createtime,
				cpo.punishid,cuu.realname,cdd.cname as resulttext
			from c_t_use_punish_order cpo
			inner join c_t_use_releaserange_user cru on cpo.punishid=cru.resourceid and cru.resourcetype=#{cru_resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cpo.punishuserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cpo.punishresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cru.userid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cru.companyid=#{companyid}</if>
				<if test="delflag != null">and cru.delflag=#{delflag}</if>
				<if test="status != null and status != -1">and cpo.status=#{status}</if>
				<if test="result != null">and cpo.result=#{result}</if>
				<if test="delflag != null">and cpo.delflag=#{delflag}</if>
				<if test="isread != null">and cru.isread=#{isread}</if>
			</where>
		) punish 
		<where>
			<if test="begintime != null and begintime != ''">and punish.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and punish.createtime&lt;concat(#{endtime}," 23:59:59")</if>
		</where>
	</select>
	
	<!-- 查询惩罚单时间列表 -->
	<select id="getPunishListTimesInfo" parameterType="map" resultType="map">
		select 
			DISTINCT DATE_FORMAT(createtime,'%Y-%m-%d') as createtime
		from (
			select
				cfu.createtime
			from c_t_use_punish_order cpo
			inner join c_t_use_forward_user cfu on cpo.punishid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cpo.punishuserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cpo.punishresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
				<if test="delflag != null">and cfu.delflag=#{delflag}</if>
				<if test="status != null">and cpo.status=#{status}</if>
				<if test="result != null">and cpo.result=#{result}</if>
				<if test="delflag != null">and cpo.delflag=#{delflag}</if>
			</where>
			UNION
			select
				cru.createtime
			from c_t_use_punish_order cpo
			inner join c_t_use_releaserange_user cru on cpo.punishid=cru.resourceid and cru.resourcetype=#{cru_resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cpo.punishuserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cpo.punishresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cru.userid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cru.companyid=#{companyid}</if>
				<if test="delflag != null">and cru.delflag=#{delflag}</if>
				<if test="status != null">and cpo.status=#{status}</if>
				<if test="result != null">and cpo.result=#{result}</if>
				<if test="delflag != null">and cpo.delflag=#{delflag}</if>
			</where>
		) punish 
		<where>
			<if test="begintime != null and begintime != ''">and punish.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and punish.createtime&lt;concat(#{endtime}," 23:59:59")</if>
		</where>
		order by punish.createtime desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	
	<!-- 查询惩罚单时间列表的总数 -->
	<select id="getPunishListTimesCount" parameterType="map" resultType="int">
		select 
			count(*)
		from (
			select
				cfu.createtime
			from c_t_use_punish_order cpo
			inner join c_t_use_forward_user cfu on cpo.punishid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cpo.punishuserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cpo.punishresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
				<if test="delflag != null">and cfu.delflag=#{delflag}</if>
				<if test="status != null">and cpo.status=#{status}</if>
				<if test="result != null">and cpo.result=#{result}</if>
				<if test="delflag != null">and cpo.delflag=#{delflag}</if>
				<if test="isread != null">and cfu.isread=#{isread}</if>
			</where>
			UNION
			select
				cru.createtime
			from c_t_use_punish_order cpo
			inner join c_t_use_releaserange_user cru on cpo.punishid=cru.resourceid and cru.resourcetype=#{cru_resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cpo.punishuserid
			left join c_t_manage_dict_data cdd on cdd.dataid=cpo.punishresult
			<where>
				<if test="receiveid != null and receiveid != ''">and cru.userid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cru.companyid=#{companyid}</if>
				<if test="delflag != null">and cru.delflag=#{delflag}</if>
				<if test="status != null">and cpo.status=#{status}</if>
				<if test="result != null">and cpo.result=#{result}</if>
				<if test="delflag != null">and cpo.delflag=#{delflag}</if>
				<if test="isread != null">and cru.isread=#{isread}</if>
			</where>
		) punish 
		<where>
			<if test="begintime != null and begintime != ''">and punish.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and punish.createtime&lt;concat(#{endtime}," 23:59:59")</if>
		</where>
		order by punish.createtime desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	
	<!-- 查询处罚单详情 -->
	<select id="getPunishDetailInfo" parameterType="map" resultType="map">
		select
			cpo.punishid,cpo.companyid,cpo.punishuserid,cuu.realname,cuu.headimage as punishheadimage,cpo.organizename,cuu.position,
			cpo.reason,cpo.punishresult,cdd.cname as punishtype,cpo.result,cpo.examineuserid,cuu1.realname as examinename,cuu1.headimage as examineheadimage,
			cpo.opinion,cpo.createid,cuu2.realname as createname,cuu2.headimage as createheadimage,date_format(cpo.updatetime,"%Y-%m-%d %H:%i") as updatetime,
			date_format(cpo.createtime,"%Y-%m-%d %H:%i") as createtime,cpo.status,cpo.CCuserids,IFNULL(cpo.CCusernames,"") AS CCusernames
		from c_t_use_punish_order cpo
		left join c_t_use_userinfo cuu on cuu.userid=cpo.punishuserid
		left join c_t_manage_dict_data cdd on cdd.dataid=cpo.punishresult
		left join c_t_use_userinfo cuu1 on cuu1.userid=cpo.examineuserid
		left join c_t_use_userinfo cuu2 on cuu2.userid=cpo.createid
		<where>
			<if test="punishid != null and punishid != ''">and cpo.punishid=#{punishid}</if>
			<if test="companyid != null and companyid != ''">and cpo.companyid=#{companyid}</if>
			<if test="delflag != null">and cpo.delflag=#{delflag}</if>
		</where>
		limit 1
	</select>
	
	<!-- 提交处罚单的审核信息 -->
	<update id="updatePunishInfo" parameterType="map">
		update c_t_use_punish_order 
		<set>
			<if test="result != null">result=#{result},</if>
			<if test="opinion != null and opinion != ''">opinion=#{opinion},</if>
			<if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
			<if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
			<if test="status != null">status=#{status},</if>
		</set>
		<where>
			<if test="punishid != null and punishid != ''">and punishid=#{punishid}</if>
			<if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
		</where>
	</update>
	
	<!-- 添加处罚单 -->
	<insert id="insertPunishInfo" parameterType="map">
		insert into c_t_use_punish_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="punishid != null and punishid != ''">punishid,</if>
			<if test="companyid != null and companyid != ''">companyid,</if>
			<if test="punishuserid != null and punishuserid != ''">punishuserid,</if>
			<if test="realname != null and realname != ''">realname,</if>
			<if test="organizename != null and organizename != ''">organizename,</if>
			
			<if test="position != null and position != ''">position,</if>
			<if test="reason != null and reason != ''">reason,</if>
			<if test="punishresult != null">punishresult,</if>
			<if test="result != null">result,</if>
			<if test="examineuserid != null and examineuserid != ''">examineuserid,</if>
			
			<if test="opinion != null and opinion != ''">opinion,</if>
			<if test="createid != null and createid != ''">createid,</if>
			<if test="delflag != null">delflag,</if>
			<if test="createtime != null and createtime != ''">createtime,</if>
			<if test="updatetime != null and updatetime != ''">updatetime,</if>
			
			<if test="updateid != null">updateid,</if>
			<if test="status != null">status,</if>
			<if test="CCuserids != null and CCuserids != ''">CCuserids,</if>
			<if test="CCusernames != null and CCusernames != ''">CCusernames,</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="punishid != null and punishid != ''">#{punishid},</if>
			<if test="companyid != null and companyid != ''">#{companyid},</if>
			<if test="punishuserid != null and punishuserid != ''">#{punishuserid},</if>
			<if test="realname != null and realname != ''">#{realname},</if>
			<if test="organizename != null and organizename != ''">#{organizename},</if>
			
			<if test="position != null and position != ''">#{position},</if>
			<if test="reason != null and reason != ''">#{reason},</if>
			<if test="punishresult != null">#{punishresult},</if>
			<if test="result != null">#{result},</if>
			<if test="examineuserid != null and examineuserid != ''">#{examineuserid},</if>
			
			<if test="opinion != null and opinion != ''">#{opinion},</if>
			<if test="createid != null and createid != ''">#{createid},</if>
			<if test="delflag != null">#{delflag},</if>
			<if test="createtime != null and createtime != ''">#{createtime},</if>
			<if test="updatetime != null and updatetime != ''">#{updatetime},</if>
			
			<if test="updateid != null">#{updateid},</if>
			<if test="status != null">#{status},</if>
			
			<if test="CCuserids != null and CCuserids != ''">#{CCuserids},</if>
			<if test="CCusernames != null and CCusernames != ''">#{CCusernames},</if>
		</trim>
	</insert>
	
	
<!-- 一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一报修单一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一 -->
	
	<!-- 查询 -->
	<select id="getRepairListInfo" parameterType="map" resultType="map">
		select
			cfu.forwarduserid as id,cfu.companyid,cfu.receiveid,cfu.resourceid,cfu.isread,date_format(cfu.createtime,"%Y-%m-%d %H:%i") as createtime,
			cuu.realname as createname,cr.description,cr.repairid,date_format(cr.findtime,"%Y-%m-%d %H:%i") as findtime,cr.status,cr.result
		from c_t_use_repair cr
		inner join c_t_use_forward_user cfu on cr.repairid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
		left join c_t_use_userinfo cuu on cuu.userid=cr.createid
		<where>
			<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
			<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
			<if test="delflag != null">and cfu.delflag=#{delflag}</if>
			<if test="status != null and status != -1">and cr.status=#{status}</if>
			<if test="delflag != null">and cr.delflag=#{delflag}</if>
			<if test="begintime != null and begintime != ''">and cfu.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and cfu.createtime&lt;concat(#{endtime}," 23:59:59")</if>
		</where>
		order by cr.status,cfu.createtime desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>

	<!-- 查询报修单的总数 -->
	<select id="getRepairListCount" parameterType="map" resultType="int">
		select
			count(*)
		from c_t_use_repair cr
		inner join c_t_use_forward_user cfu on cr.repairid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
		left join c_t_use_userinfo cuu on cuu.userid=cr.createid
		<where>
			<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
			<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
			<if test="delflag != null">and cfu.delflag=#{delflag}</if>
			<if test="status != null and status != -1">and cr.status=#{status}</if>
			<if test="delflag != null">and cr.delflag=#{delflag}</if>
			<if test="begintime != null and begintime != ''">and cfu.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and cfu.createtime&lt;concat(#{endtime}," 23:59:59")</if>
			<if test="isread != null">and cfu.isread=#{isread}</if>
		</where>
	</select>
	
	
	<!-- 查询 报修单的时间列表信息-->
	<select id="getRepairTimesListInfo" parameterType="map" resultType="map">
		select
			DISTINCT date_format(cfu.createtime,"%Y-%m-%d") as createtime
		from c_t_use_repair cr
		inner join c_t_use_forward_user cfu on cr.repairid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
		left join c_t_use_userinfo cuu on cuu.userid=cr.createid
		<where>
			<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
			<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
			<if test="delflag != null">and cfu.delflag=#{delflag}</if>
			<if test="status != null">and cr.status=#{status}</if>
			<if test="delflag != null">and cr.delflag=#{delflag}</if>
			<if test="begintime != null and begintime != ''">and cfu.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and cfu.createtime&lt;concat(#{endtime}," 23:59:59")</if>
		</where>
		order by cfu.createtime desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	
	<!-- 查询报修单的时间列表信息-->
	<select id="getRepairTimesListCount" parameterType="map" resultType="int">
		select 
			count(*)
		from (
			select
				DISTINCT date_format(cfu.createtime,"%Y-%m-%d") as createtime
			from c_t_use_repair cr
		inner join c_t_use_forward_user cfu on cr.repairid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
		left join c_t_use_userinfo cuu on cuu.userid=cr.createid
			<where>
				<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
				<if test="delflag != null">and cfu.delflag=#{delflag}</if>
				<if test="status != null">and cr.status=#{status}</if>
				<if test="delflag != null">and cr.delflag=#{delflag}</if>
				<if test="begintime != null and begintime != ''">and cfu.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
				<if test="endtime != null and endtime != ''">and cfu.createtime&lt;concat(#{endtime}," 23:59:59")</if>
				<if test="isread != null">and cfu.isread=#{isread}</if>
			</where>
		) repair
	</select>
	
	<!-- 查询报修单详情 -->
	<select id="getRepairDetailInfo" parameterType="map" resultType="map">
		select
			cr.repairid,cr.companyid,date_format(cr.findtime,"%Y-%m-%d %H:%i") as findtime,cr.description,cr.result,
			cr.examineuserid,cuu1.realname as examinename,cr.opinion,cr.createid,cuu.realname as createname,cr.status,
			date_format(cr.createtime,"%Y-%m-%d %H:%i") as createtime,
			date_format(cr.updatetime,"%Y-%m-%d %H:%i") as updatetime,
			cuu1.headimage as examineheadimage
             ,cuu.headimage as createheadimage,cr.CCuserids,IFNULL(cr.CCusernames,"") AS CCusernames
		from c_t_use_repair cr
		left join c_t_use_userinfo cuu on cuu.userid=cr.createid
		left join c_t_use_userinfo cuu1 on cuu1.userid=cr.examineuserid
		<where>
			<if test="repairid != null and repairid != ''">and cr.repairid=#{repairid}</if>
			<if test="companyid != null and companyid != ''">and cr.companyid=#{companyid}</if>
			<if test="delflag != null">and cr.delflag=#{delflag}</if>
			<if test="status != null">and cr.status=#{status}</if>
		</where>
	</select>
	
	<!-- 提交抄送人意见 -->
	<update id="updateRepairInfo" parameterType="map">
		update c_t_use_repair
		<set>
			<if test="result != null and result != ''">result=#{result},</if>
			<if test="opinion != null and opinion != ''">opinion=#{opinion},</if>
			<if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
			<if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
			<if test="status != null">status=#{status}</if>
		</set>
		<where>
			<if test="repairid != null and repairid != ''">and repairid=#{repairid}</if>
			<if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
		</where>
	</update>
	
	<!-- 添加报修单信息 -->
	<insert id="insertRepairInfo" parameterType="map">
		insert into c_t_use_repair
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="repairid != null and repairid != ''">repairid,</if>
			<if test="companyid != null and companyid != ''">companyid,</if>
			<if test="findtime != null and findtime != ''">findtime,</if>
			<if test="description != null and description != ''">description,</if>
			<if test="result != null and result != ''">result,</if>
			
			<if test="examineuserid != null and examineuserid != ''">examineuserid,</if>
			<if test="opinion != null and opinion != ''">opinion,</if>
			<if test="createid != null and createid != ''">createid,</if>
			<if test="delflag != null">delflag,</if>
			<if test="createtime != null and createtime != ''">createtime,</if>
			
			<if test="updatetime != null and updatetime != ''">updatetime,</if>
			<if test="updateid != null and updateid != ''">updateid,</if>
			<if test="status != null">status,</if>
			<if test="CCuserids != null and CCuserids != ''">CCuserids,</if>
			<if test="CCusernames != null and CCusernames != ''">CCusernames,</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="repairid != null and repairid != ''">#{repairid},</if>
			<if test="companyid != null and companyid != ''">#{companyid},</if>
			<if test="findtime != null and findtime != ''">#{findtime},</if>
			<if test="description != null and description != ''">#{description},</if>
			<if test="result != null and result != ''">#{result},</if>
			
			<if test="examineuserid != null and examineuserid != ''">#{examineuserid},</if>
			<if test="opinion != null and opinion != ''">#{opinion},</if>
			<if test="createid != null and createid != ''">#{createid},</if>
			<if test="delflag != null">#{delflag},</if>
			<if test="createtime != null and createtime != ''">#{createtime},</if>
			
			<if test="updatetime != null and updatetime != ''">#{updatetime},</if>
			<if test="updateid != null and updateid != ''">#{updateid},</if>
			<if test="status != null">#{status},</if>
			<if test="CCuserids != null and CCuserids != ''">#{CCuserids},</if>
			<if test="CCusernames != null and CCusernames != ''">#{CCusernames},</if>
		</trim>
	</insert>
	
	
<!-- 一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一菜品成本一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一一 -->
	
	<!-- 查询菜品成本列表信息 -->
	<select id="getDishesListInfo" parameterType="map" resultType="map">
		select
			cfu.forwarduserid as id,cfu.companyid,cfu.receiveid,cfu.resourceid,cfu.isread,date_format(cfu.createtime,"%Y-%m-%d %H:%i") as createtime,
			cd.dishesid,cd.orgid,cd.dishestype,cd.dishesname,cd.costprice,cd.price,cd.createid,cuu.realname as createname,cd.status,cd.result,cfu.forwarduserid
		from c_t_use_dishes cd
		inner join c_t_use_forward_user cfu on cd.dishesid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
		left join c_t_use_userinfo cuu on cuu.userid=cd.createid
		<where>
			<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
			<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
			<if test="delflag != null">and cfu.delflag=#{delflag}</if>
			<if test="status != null and status != -1" >and cd.status=#{status}</if>
			<if test="delflag != null">and cd.delflag=#{delflag}</if>
			<if test="begintime != null and begintime != ''">and cfu.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and cfu.createtime&lt;concat(#{endtime}," 23:59:59")</if>
		</where>
		order by cfu.createtime desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>

	<!-- 查询菜品成品列表的总数 -->
	<select id="getDishesListCount" parameterType="map" resultType="int">
		select
			count(*)
		from c_t_use_dishes cd
		inner join c_t_use_forward_user cfu on cd.dishesid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
		left join c_t_use_userinfo cuu on cuu.userid=cd.createid
		left join c_t_manage_dict_data cdd on cdd.dataid=cd.dishestype
		<where>
			<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
			<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
			<if test="delflag != null">and cfu.delflag=#{delflag}</if>
			<if test="status != null and status != -1">and cd.status=#{status}</if>
			<if test="delflag != null">and cd.delflag=#{delflag}</if>
			<if test="begintime != null and begintime != ''">and cfu.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and cfu.createtime&lt;concat(#{endtime}," 23:59:59")</if>
			<if test="isread != null">and cfu.isread=#{isread}</if>
		</where>
	</select>
	<!-- 根据公司id获取菜品类型列表信息 -->		
	<select id="getDishestypeListInfoByOrganizeId" parameterType="map" resultType="map">
		select distinct dishestype from c_t_use_dishes
		<where>
			<if test="organizeid != null and organizeid != ''">and orgid=#{organizeid}</if>
		</where>
		order by createtime desc
	</select>
	<!-- 查询菜品成本时间列表信息 -->
	<select id="getDishesListTimesInfo" parameterType="map" resultType="map">
		select
			DISTINCT date_format(cfu.createtime,"%Y-%m-%d") as createtime
		from c_t_use_dishes cd
		inner join c_t_use_forward_user cfu on cd.dishesid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
		left join c_t_use_userinfo cuu on cuu.userid=cd.createid
		left join c_t_manage_dict_data cdd on cdd.dataid=cd.dishestype
		<where>
			<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
			<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
			<if test="delflag != null">and cfu.delflag=#{delflag}</if>
			<if test="status != null">and cd.status=#{status}</if>
			<if test="delflag != null">and cd.delflag=#{delflag}</if>
			<if test="begintime != null and begintime != ''">and cfu.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
			<if test="endtime != null and endtime != ''">and cfu.createtime&lt;concat(#{endtime}," 23:59:59")</if>
		</where>
		order by cfu.createtime desc
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	
	<!-- 查询菜品成本时间列表信息的总数 -->
	<select id="getDishesListTimesCount" parameterType="map" resultType="int">
		select
			count(*)
		from (
			select
				DISTINCT date_format(cfu.createtime,"%Y-%m-%d") as createtime
			from c_t_use_dishes cd
			inner join c_t_use_forward_user cfu on cd.dishesid=cfu.resourceid and cfu.resourcetype=#{resourcetype}
			left join c_t_use_userinfo cuu on cuu.userid=cd.createid
			left join c_t_manage_dict_data cdd on cdd.dataid=cd.dishestype
			<where>
				<if test="receiveid != null and receiveid != ''">and cfu.receiveid=#{receiveid}</if>
				<if test="companyid != null and companyid != ''">and cfu.companyid=#{companyid}</if>
				<if test="delflag != null">and cfu.delflag=#{delflag}</if>
				<if test="status != null">and cd.status=#{status}</if>
				<if test="delflag != null">and cd.delflag=#{delflag}</if>
				<if test="begintime != null and begintime != ''">and cfu.createtime&gt;=concat(#{begintime}," 00:00:00")</if>
				<if test="endtime != null and endtime != ''">and cfu.createtime&lt;concat(#{endtime}," 23:59:59")</if>
				<if test="isread != null">and cfu.isread=#{isread}</if>
			</where>
		) cost
	</select>

	<!-- 查询菜品成本信息详情 -->
	<select id="getDishesDetailInfo" parameterType="map" resultType="map">
		select 
			cd.dishesid,cd.orgid,cd.dishestype,cd.dishesname,cd.feeding,cd.costprice,cd.price,(cd.costrate*100) as costrate,cd.description,cd.result,
			cd.examineuserid,cuu1.realname as examinename,opinion,cd.createid,cuu.realname as createname,cd.status,
			date_format(cd.createtime,"%Y-%m-%d %H:%i") as createtime,cd.status,cdd.cname as dishestypename,
			co.organizename,date_format(cd.updatetime,"%Y-%m-%d %H:%i") as updatetime,
				cuu1.headimage as examineheadimage
             ,cuu.headimage as createheadimage,cd.CCuserids,IFNULL(cd.CCusernames,"") AS CCusernames
		from c_t_use_dishes cd
		left join c_t_use_userinfo cuu on cuu.userid=cd.createid
		left join c_t_use_userinfo cuu1 on cuu1.userid=cd.examineuserid
		left join c_t_manage_dict_data cdd on cdd.dataid=cd.dishestype
		left join c_t_use_organize co on co.organizeid= cd.orgid
		<where>
			<if test="dishesid != null and dishesid != ''">and cd.dishesid=#{dishesid}</if>
			<if test="companyid != null and companyid != ''">and cd.companyid=#{companyid}</if>
		     <if test="status != null">and cd.status=#{status}</if>
		</where>
		limit 1
	</select>
	
	<!-- 提交抄送人意见 -->
	<update id="updateDishesInfo" parameterType="map">
		update c_t_use_dishes
		<set>
			<if test="result != null">result=#{result},</if>
			<if test="opinion != null and opinion != ''">opinion=#{opinion},</if>
			<if test="updatetime != null and updatetime != ''">updatetime=#{updatetime},</if>
			<if test="updateid != null and updateid != ''">updateid=#{updateid},</if>
			<if test="status != null">status=#{status}</if>
		</set>
		<where>
			<if test="dishesid != null and dishesid != ''">and dishesid=#{dishesid}</if>
			<if test="companyid != null and companyid != ''">and companyid=#{companyid}</if>
		</where>
	</update>
	
	<!-- 添加菜品成本信息 -->
	<insert id="insertDishesInfo" parameterType="map">
		insert into c_t_use_dishes
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="dishesid != null and dishesid != ''">dishesid,</if>
			<if test="companyid != null and companyid != ''">companyid,</if>
			<if test="orgid != null and orgid != ''">orgid,</if>
			<if test="dishestype != null and dishestype != ''">dishestype,</if>
			<if test="dishesname != null and dishesname != ''">dishesname,</if>
			
			<if test="feeding != null and feeding != ''">feeding,</if>
			<if test="costprice != null">costprice,</if>
			<if test="price != null">price,</if>
			<if test="costrate != null">costrate,</if>
			<if test="description != null and description != ''">description,</if>
			
			<if test="result != null">result,</if>
			<if test="examineuserid != null and examineuserid != ''">examineuserid,</if>
			<if test="opinion != null and opinion != ''">opinion,</if>
			<if test="createid != null and createid != ''">createid,</if>
			<if test="delflag != null">delflag,</if>
			
			<if test="createtime != null and createtime != ''">createtime,</if>
			<if test="updatetime != null and updatetime != ''">updatetime,</if>
			<if test="updateid != null and updateid != ''">updateid,</if>
			<if test="status != null">status,</if>
			<if test="CCuserids != null and CCuserids != ''">CCuserids,</if>
			<if test="CCusernames != null and CCusernames != ''">CCusernames,</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="dishesid != null and dishesid != ''">#{dishesid},</if>
			<if test="companyid != null and companyid != ''">#{companyid},</if>
			<if test="orgid != null and orgid != ''">#{orgid},</if>
			<if test="dishestype != null and dishestype != ''">#{dishestype},</if>
			<if test="dishesname != null and dishesname != ''">#{dishesname},</if>
			
			<if test="feeding != null and feeding != ''">#{feeding},</if>
			<if test="costprice != null">#{costprice},</if>
			<if test="price != null">#{price},</if>
			<if test="costrate != null">#{costrate},</if>
			<if test="description != null and description != ''">#{description},</if>
			
			<if test="result != null">#{result},</if>
			<if test="examineuserid != null and examineuserid != ''">#{examineuserid},</if>
			<if test="opinion != null and opinion != ''">#{opinion},</if>
			<if test="createid != null and createid != ''">#{createid},</if>
			<if test="delflag != null">#{delflag},</if>
			
			<if test="createtime != null and createtime != ''">#{createtime},</if>
			<if test="updatetime != null and updatetime != ''">#{updatetime},</if>
			<if test="updateid != null and updateid != ''">#{updateid},</if>
			<if test="status != null">#{status},</if>
			<if test="CCuserids != null and CCuserids != ''">#{CCuserids},</if>
			<if test="CCusernames != null and CCusernames != ''">#{CCusernames},</if>
		</trim>
	</insert>


	<!-- 查询用户的职位和部门 -->
	<select id="getUserPosition" parameterType="map" resultType="map">
		select 
			cou.identityname,co.organizename
		from c_t_use_organize_userinfo cou
		left join c_t_use_organize co on co.organizeid=cou.organizeid
		<where>
			<if test="userid != null and userid != ''">and cou.userid=#{userid}</if>
			<if test="companyid != null and companyid != ''">and cou.companyid=#{companyid}</if>
			and delflag=0 and cou.delflag=0
		</where>
	</select>
	
	
	
	
	
	
	
	<!-- 修改转发状态为已读 -->
	<update id="updateForwardReadStatus" parameterType="map">
	   update c_t_use_forward_user 
	   <set>
	      <if test="isread != null">isread = #{isread},</if>
	   </set>
	   where 
	   	   resourceid = #{resourceid}
	   and receiveid = #{receiveid}
	   and resourcetype = #{resourcetype}
	</update>
	<!-- 修改发布范围状态为已读 -->
	<update id="updateRangeReadStatus" parameterType="map">
	   update c_t_use_releaserange_user 
	   <set>
	      <if test="isread != null">isread = #{isread},</if>
	   </set>
	   where 
	   	   resourceid = #{resourceid}
	   and userid = #{receiveid}
	   and resourcetype = #{resourcetype}
	</update>
</mapper>