<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.collection.dao.worksheet.WorkSheetInspectMapper">

	<!-- 查询检查的模板信息 -->
	<select id="getInspectTemplateList" parameterType="map" resultType="map">
        select 
        	ctmot.templateid,ctmot.companyid,ctmot.templatename,ctmot.type,ctmot.organizeid,ctmot.createid,
        	ctmot.updateid,cuo.organizename
        from c_t_manage_organize_template ctmot 
        left join c_t_use_organize cuo on cuo.organizeid=ctmot.organizeid
        <where>
            <if test="companyid != null and companyid != ''">and ctmot.companyid=#{companyid}</if>
            <if test="type != null and type != ''">and ctmot.type=#{type}</if>
            <if test="datacode != null and datacode != ''">and locate(#{datacode},cuo.datacode) > 0</if>
            and ctmot.delflag=0
        </where>
        order by ctmot.createtime desc
        <if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
    </select>
    
    <!-- 查询检查模板的总数量 -->
    <select id="getInspectTemplateCount" parameterType="map" resultType="int">
        select
        	count(*)
        from (
        	select  
	        	ctmot.templateid,ctmot.companyid,ctmot.templatename,ctmot.type,ctmot.organizeid,ctmot.createid,
	        	ctmot.updateid,cuo.organizename
	        from c_t_manage_organize_template ctmot 
	        left join c_t_use_organize cuo on cuo.organizeid=ctmot.organizeid
	        <where>
	            <if test="companyid != null and companyid != ''">and ctmot.companyid=#{companyid}</if>
	            <if test="type != null and type != ''">and ctmot.type=#{type}</if>
	            <if test="datacode != null and datacode != ''">and locate(#{datacode},cuo.datacode) > 0</if>
	            and ctmot.delflag=0
	        </where>
        ) temp
    </select>
    
    <!-- 查询模板对应的检查项目信息 -->
    <select id="getTemplateProjectList" parameterType="map" resultType="map">
        select projectid,projectname,templateid,createid,createtime,updatetime,updateid,status,resoucetemplateid
        from c_t_manage_inspect_project
        <where>
            <if test="templateid != null and templateid != ''">and templateid=#{templateid}</if>
            and delflag=0
        </where>
        order by priority
    </select>
    
    <!-- 查询检查项目的总数 -->
    <select id="getTemplateProjectCount" parameterType="map" resultType="int">
        select 
			count(*)
        from c_t_manage_inspect_project
        <where>
            <if test="templateid != null and templateid != ''">and templateid=#{templateid}</if>
            and delflag=0
        </where>
    </select>
    
    <!-- 添加检查模板信息 -->
    <insert id="insertInspectTemplate" parameterType="map">
    	insert into c_t_manage_organize_template
    	<trim prefix="(" suffix=")" suffixOverrides=",">
    		<if test="templateid != null and templateid != ''">templateid,</if>
    		<if test="companyid != null and companyid != ''">companyid,</if>
    		<if test="templatename != null and templatename != ''">templatename,</if>
    		<if test="type != null">type,</if>
    		<if test="organizeid != null and organizeid != ''">organizeid,</if>
    		
    		<if test="createid != null and createid != ''">createid,</if>
    		<if test="createtime != null and createtime != ''">createtime,</if>
    		<if test="delflag != null">delflag,</if>
    		<if test="updatetime != null and updatetime != ''">updatetime,</if>
    		<if test="updateid != null and updateid != ''">updateid,</if>
    		<if test="status != null and status != ''">status,</if>
    	</trim>
    	<trim prefix="values(" suffix=")" suffixOverrides=",">
    		<if test="templateid != null and templateid != ''">#{templateid},</if>
    		<if test="companyid != null and companyid != ''">#{companyid},</if>
    		<if test="templatename != null and templatename != ''">#{templatename},</if>
    		<if test="type != null">#{type},</if>
    		<if test="organizeid != null and organizeid != ''">#{organizeid},</if>
    		
    		<if test="createid != null and createid != ''">#{createid},</if>
    		<if test="createtime != null and createtime != ''">#{createtime},</if>
    		<if test="delflag != null">#{delflag},</if>
    		<if test="updatetime != null and updatetime != ''">#{updatetime},</if>
    		<if test="updateid != null and updateid != ''">#{updateid},</if>
    		<if test="status != null and status != ''">#{status},</if>
    	</trim>
    </insert>
    
    <!-- 添加检查项目信息 -->
	<insert id="insertTemplateProject" parameterType="map">
		insert into c_t_manage_inspect_project
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="projectid != null and projectid != ''">projectid,</if>
			<if test="projectname != null and projectname != ''">projectname,</if>
			<if test="templateid != null and templateid != ''">templateid,</if>
			<if test="createid != null and createid != ''">createid,</if>
			<if test="createtime != null and createtime != ''">createtime,</if>
			
			<if test="delflag != null">delflag,</if>
			<if test="updatetime != null and updatetime != ''">updatetime,</if>
			<if test="updateid != null and updateid != ''">updateid,</if>
			<if test="status != null">status,</if>
			<if test="priority != null and priority != ''">priority,</if>
			<if test="resoucetemplateid != null and resoucetemplateid != ''">resoucetemplateid,</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="projectid != null and projectid != ''">#{projectid},</if>
			<if test="projectname != null and projectname != ''">#{projectname},</if>
			<if test="templateid != null and templateid != ''">#{templateid},</if>
			<if test="createid != null and createid != ''">#{createid},</if>
			<if test="createtime != null and createtime != ''">#{createtime},</if>
			
			<if test="delflag != null">#{delflag},</if>
			<if test="updatetime != null and updatetime != ''">#{updatetime},</if>
			<if test="updateid != null and updateid != ''">#{updateid},</if>
			<if test="status != null">#{status},</if>
			<if test="priority != null and priority != ''">#{priority},</if>
			<if test="resoucetemplateid != null and resoucetemplateid != ''">#{resoucetemplateid},</if>
		</trim>
	</insert>
	
	<!-- 修改检查模板信息 -->    
	<update id="updateInspectTemplate" parameterType="map">
		update c_t_manage_organize_template
		<set>
			<if test="templatename != null and templatename != ''">templatename=#{templatename},</if>
			<if test="delflag != null">delflag=#{delflag},</if>
		</set>
		where templateid=#{templateid}
	</update>
	
	<!-- 修改检查项目信息 -->
	<update id="updateTemplateProject" parameterType="map">
		update c_t_manage_inspect_project
		<set>
			<if test="projectname != null and projectname != ''">projectname=#{projectname},</if>
			<if test="delflag != null">delflag=#{delflag},</if>
		</set>
		where projectid=#{projectid}
	</update>
	
	<!-- 查询组织架构信息 -->
	<select id="getOrganizeList" parameterType="map" resultType="map">
		select
			*
		from c_t_use_organize
		where companyid=#{companyid} and delflag=0
		order by priority asc
	</select>


	<!-- 查询用户所拥有的权限 -->
	<select id="getOrganizeListByUserid" parameterType="map" resultType="map">
		select
			cuo.*
		from c_t_use_organize cuo
		left join c_t_use_release_range  curr on curr.organizeid=cuo.organizeid and curr.resourcetype=12
		where curr.resourceid=#{userid} and cuo.delflag=0
		order by priority asc
	</select>

	<select id="getUserInfoByOrganizeid" parameterType="map" resultType="map">
		select 
			cuu.userid,cuu.realname,cuu.headimage,cuu.sex,cuu.phone
		from c_t_use_organize_userinfo cou
		left join c_t_use_userinfo cuu on cou.userid=cuu.userid
		where cou.organizeid=#{organizeid} and cuu.delflag=0 and cuu.status=1 and cuu.isinvite=1 and cou.delflag=0
		<if test="realname != null and realname != ''">and locate(#{realname},cuu.realname) > 0</if>
		<if test="startnum != null and rownum != null">limit #{startnum},#{rownum}</if>
	</select>
	<select id="getUserInfoCountByOrganizeid" parameterType="map" resultType="int">
		select 
			count(*)
		from c_t_use_organize_userinfo cou
		left join c_t_use_userinfo cuu on cou.userid=cuu.userid
		where cou.organizeid=#{organizeid} and cuu.delflag=0 and cuu.status=1 and cuu.isinvite=1 and cou.delflag=0
		<if test="realname != null and realname != ''">and locate(#{realname},cuu.realname) > 0</if>
	</select>
	
	<delete id="deleteReleaseRangeInfo" parameterType="map">
		delete from  c_t_use_release_range where resourcetype=#{resourcetype} and resourceid=#{resourceid};
		delete from c_t_use_releaserange_user where resourcetype=#{resourcetype} and resourceid=#{resourceid}
	</delete>
	
	<update id="deleteTemplateProjectInfo" parameterType="map">
		delete from c_t_manage_inspect_project
		where templateid=#{templateid}
	</update>
	
	<!-- 查询默认模板信息 -->
	<select id="getDefaultTemplateList" parameterType="map" resultType="map">
		select 
			dataid,templatename,typeid
		from c_t_manage_dict_data
		where typeid=#{typeid} and delflag=0
		group by templatename
		order by createtime
	</select>
	
	<!-- 查询默认的检查项目信息 -->
	<select id="getDefaultProjectList" parameterType="map" resultType="map">
		select
			dataid,cname,typeid
		from c_t_manage_dict_data
		where
		delflag=0
		<if test="typeid != null and typeid != ''">and typeid=#{typeid}</if>
		<if test="templatename != null and templatename != ''">and templatename=#{templatename}</if>
		order by priority
	</select>
	
	<!-- 查询组织架构信息 -->
	<select id="getOrganizeDataCodeInfo" parameterType="map" resultType="map">
		select 
			datacode,type
		from c_t_use_organize
		where organizeid=#{organizeid}
	</select>
	
	<!-- 查询组织机构下模板名称是否存在 -->
	<select id="getTemplateNameIsExists" parameterType="map" resultType="int">
		select 
			count(0)
		from c_t_manage_organize_template
		where organizeid=#{organizeid} and templatename=#{templatename} and type=#{type}
		and companyid=#{companyid} and delflag=0
		<if test="templateid != null and templateid != ''">and templateid!=#{templateid}</if>
	</select>
	
</mapper>